.btn
  display: inline-block
  border-radius: 3px
  text-align: center
  color: #fff !important
  font-family: 'Open Sans', sans-serif
  font-weight: 600
  cursor: pointer
  padding: 0 30px
  text-decoration: none !important
  box-shadow: none
  outline: none
  border: none
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  transition: all 0.3s ease

.btn--fullwidth
  width: 100%

.btn--ttu
  text-transform: uppercase

.btn--outline
  line-height: 50px
  border: 1px solid $brand
  border-radius: 5px
  font-family: 'Open Sans', sans-serif
  font-weight: 600
  color: $brand !important
  &:hover
    background-color: $brand
    color: #fff !important

.btn--primary
  background: #28A342
  background: linear-gradient(to bottom, #2f9e44, #2b8a3e)
  font-size: 16px
  line-height: 50px
  &:hover
    background: linear-gradient(to bottom, #2f9e44, #40bf57)

.btn--callback__icon
  margin-right: 10px
  fill: #fff

// THEME_ADAPTIVE 
.btn--theme_adaptive
    padding-left: 14px
    padding-right: 14px
    width: 100%
    @media ($desktop-s)
        width: auto
        padding-left: 20px
        padding-right: 20px

.btn--theme_adaptive_55
    padding-left: 14px
    padding-right: 14px
    width: 100%
    @media ($desktop-s)
        width: auto
        padding-left: 55px
        padding-right: 55px