.container
	margin: 0 auto
	max-width: 1305px
	padding: 0 25px
	+respond-to(lg)
		padding: 0 20px
	+respond-to(sm)
		padding: 0 15px

.container-fluid
	padding: $content-indent
	width: 100%

.grid
	display: flex
	flex-wrap: wrap

.grid-middle
	align-items: center







