.modal__close-btn
  width: 17px
  height: 17px
  position: absolute
  right: 15px
  top: 15px
  overflow: hidden
  cursor: pointer


.modal
  border-radius: 5px
  padding: 35px 25px
  width: 100%
  max-width: 670px
  position: relative


.modal__inner
  width: 100%
  max-width: 380px
  margin: 0 auto
  position: relative

.modal-callback__form-input-wrapper
  label
    margin-bottom: 10px
    display: block

.modal-to__title
  text-align: center

.modal-success__img
  margin-bottom: 30px
  +respond-to(md)
    margin-bottom: 20px

.modal-success__inner
  margin-bottom: 70px
  +respond-to(md)
    margin-bottom: 50px

.modal-success__title
  font-family: $FiraSans
  font-weight: 500
  font-size: 21px
  color: #343A40
  line-height: 25px
  margin-bottom: 40px

.modal-success__sub
  font-family: $FiraSans
  font-weight: 400
  font-size: 16px
  color: #343A40
  line-height: 20px