.modal-callback__title
  font-size: 36px
  margin-bottom: 30px
  color: #343A40
  font-family: 'Fira Sans', sans-serif
  font-weight: 500
  +respond-to(md)
    font-size: 24px


.modal-callback__contain
  margin-bottom: 25px

.modal-callback__form-inner
  margin-bottom: 20px
  .input-wrapper
    &:not(:last-child)
      margin-bottom: 20px
      
.modal-callback__form-input-wrapper
  input, textarea
    +phc(#ADB5BD)
    background-color: #E9F0F8
    resize: none

.modal-callback__inner
  margin-bottom: 26px

.modal-callback__notify
  color: #495057
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 12px
  line-height: 1.3em
  a
    color: $brand
    +trans()
    text-decoration: none
    &:hover
      color: $brand-hover