<div id="modal-callback" class="uk-modal">
    <div class="uk-modal-dialog modal modal-callback">
       <span class="modal__close-btn uk-modal-close">
            <img src="images/close.png" alt="">
        </span>
        <div class="modal__inner p-rel">
            <div class="modal-callback__title">
                <p>Обратная связь</p>
            </div>
            <div class="modal-callback__contain">
                <form class="uk-form modal-callback__form">
                    <div class="modal-callback__form-inner">
                        <div class="input-wrapper modal-callback__form-input-wrapper">
                            <input type="text" placeholder="Телефон или e-mail"/>
                        </div>
                        <div class="input-wrapper modal-callback__form-input-wrapper">
                            <textarea name="" id="" cols="30" rows="7" placeholder="Сообщение"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn--primary btn--fullwidth btn--ttu">отправить</button>
                </form>
            </div>
            <div class="modal-callback__notify">
                <p>Нажимая кнопку «Отправить», вы подтверждаете свое согласие с условиями <a href="#">пользовательского
                        соглашения</a>.</p>
            </div>
        </div>
    </div>
</div>