.thumbnail-item
  display: block
  text-decoration: none
  +trans()
  margin-bottom: 15px
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.10)
  @extend #card-hover
  &:hover
    .thumbnail-item__title
      color: $brand
  &.thumbnail-item--adaptive1
    +respond-to(sm)
      display: flex
      margin-bottom: 0
      box-shadow: none
      align-items: center
      padding: 10px 20px
      border-bottom: 1px solid #CED4DA
    .thumbnail-item__caption
      padding: 20px
      +respond-to(sm)
        margin-left: 20px
        padding: 0
    .thumbnail-item__title
      margin-bottom: 0
      +respond-to(sm)
        font-weight: 500
        font-size: 18px
        margin-bottom: 0
    .thumbnail-item__img
      +respond-to(sm)
        width: 60px
        height: 60px

.thumbnail-item__img
  line-height: 0
  display: flex
  align-items: center
  img
    width: 100%
    height: 185px
    object-fit: cover
  +respond-to(lg)
    img
      width: 100%
      height: auto
      object-fit: cover

.thumbnail-item__title
  font-family: 'Fira Sans', sans-serif
  font-weight: 700
  font-size: 20px
  +trans()
  line-height: 1.3em
  margin-bottom: 15px
  color: $text-primary

.thumbnail-item__text
  color: #343A40
  font-size: 16px
  line-height: 1.3em
  font-family: 'Fira Sans', sans-serif
  font-weight: 400

.thumbnail-item__caption
  padding: 15px 20px 35px 15px