<a href="#" class="thumbnail-item {{ classes }}">
    <div class="thumbnail-item__img">
        <img src="{{ img }}" alt="">
    </div>
    <div class="thumbnail-item__caption" data-mh="thumbnailCaption1">
        <div class="thumbnail-item__title" data-mh="thumbnailTitle1">
            <p> {{ title }}</p>
        </div>

        {% if text %}
            <div class="thumbnail-item__text">
                <p> {{ text }} </p>
            </div>
        {% endif %}

    </div>
</a>