.bg-hover-card-item
  position: relative
  line-height: 0
  height: 280px
  +trans()
  &:before
    position: absolute
    content: ''
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0, 0, 0, 0.5)
  &:hover
    .bg-hover-card-item__overlay
      opacity: 1
    .bg-hover-card-item__title
      opacity: 0
  +respond-to(lg)
    &:hover
      .bg-hover-card-item__overlay
        opacity: 0
      .bg-hover-card-item__title
        opacity: 1

.bg-hover-card-item__overlay
  position: absolute
  +trans()
  right: 0
  opacity: 0
  top: 0
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  left: 0
  background-color: rgba(43, 138, 62, 0.51)

.bg-hover-card-item__overlay-text
  font-size: 16px
  line-height: 1em
  font-family: 'Open Sans', sans-serif
  font-weight: 600
  color: #fff

.bg-hover-card-item__img
  height: 380px
  img
    width: 100%
    height: 100%
    object-fit: cover
  +respond-to(dk)
    height: 280px

.bg-hover-card-item__title
  position: absolute
  bottom: 20px
  line-height: 1.2em
  padding: 0 20px
  font-size: 20px
  +trans()
  font-family: 'Fira Sans', sans-serif
  font-weight: 500
  color: #fff
  +respond-to(dk)
    font-size: 18px
  +respond-to(lg)
    font-size: 16px

.bg-hover-card-item
  display: block

.our-works__list
  display: flex
  flex-wrap: wrap
  margin: -10px 0 40px -40px
  +respond-to(dk)
    margin-top: -20px !important
    margin-left: -20px

.bg-hover-card-item__icon
  width: 75px
  height: 30px
  margin-bottom: 12px
  fill: #fff

.our-works__item
  width: 33.3333333333%
  padding-left: 40px
  margin-top: 40px
  overflow: hidden
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(dk)
    padding-left: 20px
    margin-top: 20px
  +respond-to(lg)
    width: 50%
  +respond-to(md)
    width: 100%

.our-works__moreBtn
  display: inline-flex
  align-items: center
  +trans()
  cursor: pointer
  justify-content: center
  line-height: 60px
  padding: 0 20px
  border: 1px solid #ADB5BD
  border-radius: 4px
  &:hover
    border-color: $brand

.our-works__moreBtn-icon
  width: 25px
  height: 25px
  display: inline-block
  position: relative
  margin-right: 15px
  &:before, &:after
    width: 100%
    height: 2px
    background-color: $brand
    content: ''
    display: inline-block
    position: absolute
    top: 50%
    left: 50%

  &:before
    transform: translate(-50%, -50%) rotate(90deg)

  &:after
    transform: translate(-50%, -50%) rotate(-180deg)

.our-works__moreBtn-wrapper
  text-align: center