<a href="our-works-details.html" class="bg-hover-card-item {{ classes }}">
    <div class="bg-hover-card-item__overlay">
        <svg class="icon-glasses bg-hover-card-item__icon" xmlns="http://www.w3.org/2000/svg" width="75.16" height="30" viewBox="0 0 75.16 30"><defs><style>.cls-1{fill:#fff;}</style></defs><title>icon-glasses</title><g id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><g id="FFNgnS"><path class="cls-1" d="M0,14.46l3.72-1.19C5.27,5.58,9.89.43,18.24,0,26.17-.35,31,4.18,33.62,11.67c2.63-1.5,5.22-1.83,7.87.12C44.19,3.92,49.4-.52,57.6,0,65,.56,69.38,5.23,71.23,12.21l3.93.75v1.5l-3.56.76c-.1.46-.28,1.08-.37,1.71a15,15,0,0,1-29.7,0c-.35-2.44-2-4.1-4-3.92a3.92,3.92,0,0,0-3.84,3.59c-1.24,7.91-7,13.25-14.38,13.43C11.7,30.17,5.55,25.06,4,17.26a5.66,5.66,0,0,0-.19-.63L0,15.47Zm18.9,13a12.4,12.4,0,0,0,12.4-12.41A12.41,12.41,0,0,0,18.89,2.44,12.62,12.62,0,0,0,6.27,15,12.62,12.62,0,0,0,18.9,27.49Zm37.52,0A12.4,12.4,0,0,0,68.89,15.14,12.42,12.42,0,0,0,56.53,2.44,12.62,12.62,0,0,0,43.85,14.91,12.62,12.62,0,0,0,56.42,27.49Z"/></g></g></g></svg>
        <span class="bg-hover-card-item__overlay-text">
            Смотреть
        </span>
    </div>
    <div class="bg-hover-card-item__img">
        <img src="{{ img }}" alt="">
    </div>
    <div class="bg-hover-card-item__title">
        <p>{{ title }}</p>
    </div>
</a>