.to-accordion__toggle
  width: 30px
  height: 30px
  background-image: url(../images/svg-icons/plus-circle.svg)
  -webkit-background-size: cover
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  position: absolute
  right: 30px
  +trans()
  top: 50%
  transform: translateY(-50%)
  +respond-to(md)
    right: 20px
    width: 20px
    height: 20px
    top: 30px
    position: static
    transform: none


.to-accordion__title
  display: flex
  margin-bottom: 0
  flex-wrap: wrap
  padding: 15px 110px 15px 30px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  position: relative
  justify-content: space-between
  cursor: pointer
  align-items: center
  background-color: transparent
  &:hover
    .to-accordion__text
      color: $brand
  +respond-to(md)
    padding: 20px
    max-height: initial

.to-accordion__text
  font-family: $FiraSans
  font-weight: 400
  font-size: 20px
  line-height: 1.3em
  +trans()
  +respond-to(md)
    font-size: 16px
  +respond-to(sm)
    font-size: 14px

.to-accordion__block
  border-top: 1px solid #cccfd4
  &.is-active
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.10)
    .to-accordion__btn
      opacity: 1
      pointer-events: initial
      +respond-to(md)
        line-height: 40px
        margin-top: 15px
    .to-accordion__toggle
      background-image: url(../images/svg-icons/minus.svg)
  &:last-child
    border-bottom: 1px solid #cccfd4
  &:hover
    .to-accordion__toggle
      background-image: url(../images/svg-icons/plus-circle-hover.svg)

.to-accordion__price
  font-family: "Open Sans", sans-serif
  font-weight: 400
  font-size: 28px
  color: #343A40
  +respond-to(lg)
    font-size: 18px
  +respond-to(md)
    flex-grow: 1
    text-align: right
    margin-right: 30px

.to-accordion
  margin: 0 -20px

.to-accordion__btn
  opacity: 0
  pointer-events: none
  +trans()
  +respond-to(md)
    width: 100%
    order: 3
    line-height: 0
    margin-top: 0

.to-accordion__content
  padding: 20px 0 40px 30px
  +respond-to(md)
    padding: 20px 20px 50px 20px
    table
      width: 100%
  table
    width: calc(100% - 110px)
    td:last-child
      text-align: right


.page-to__tech-serv
  margin-top: 20px
  +respond-to(md)
    margin-top: 0