{# 
    * cart-good.twig
    * Карточка товара в корзине
    *
    * @block {cart-good}    начало разметки блока
    * @variable {image}     изображение
    * @variable {title}     заголовок
    * @variable {count}     количество единиц товара
    * @variable {cost}      стоимость единицы товара
    * @variable {amount}    совокупная стоимость нескольких единиц товара
    * @variable {label}     надпись
    * @variable {num}       порядковый номер товара в корзине
    * @variable {classes}   список примесей-классов
#}

<section class="cart-good {{ classes }}">
    <img class="cart-good__image" src={{ image }} width="240" height="240">
    <button class="cart-good__delete"></button>
    <div class="cart-good__content-wrapper">
        <div class="cart-good__info">
            <a href="#" class="cart-good__info-title">{{ title }}</a>
            <span class="cart-good__info-cost">{{ cost }}</span>
        </div>
        <div class="cart-good__info2">
            <p class="cart-good__info2-amount">{{ amount }}</p>
            <p class="cart-good__info2-label">{{ label }}</p>
            <div class="cart-good__info2-hidden">
                <p class="cart-good__info2-hidden-deleted">Товар удален</p>
                <a href="#" class="link cart-good__info2-hidden-back">Вернуть</a>
            </div>
        </div>
        <div class="cart-good__count">
            <span class="cart-good__count-minus">
                <svg class="cart-good__count-icon  cart-good__count-icon--normal  cart-good__count-icon--hide" viewBox="0 0 30 30">
                    <use class="ic-1" xlink:href="#minus-normal" x="0" y="0" />
                </svg>
                <svg class="cart-good__count-icon  cart-good__count-icon--active  cart-good__count-icon--hide" viewBox="0 0 30 30">
                    <use class="ic-1" xlink:href="#minus-active" x="0" y="0" />
                </svg>
                <svg class="cart-good__count-icon  cart-good__count-icon--disabled  cart-good__count-icon--show" viewBox="0 0 30 30">
                    <use class="ic-1" xlink:href="#minus-disabled" x="0" y="0" />
                </svg>
            </span>
            <input class="cart-good__count-number" name="goodId_{{ num }}" type="text" value={{ count }} size="5">
            <span class="cart-good__count-plus">
                <svg class="cart-good__count-icon  cart-good__count-icon--normal  cart-good__count-icon--show" viewBox="0 0 30 30">
                    <use class="ic-1" xlink:href="#plus-normal" x="0" y="0" />
                </svg>
                <svg class="cart-good__count-icon  cart-good__count-icon--active" viewBox="0 0 30 30">
                    <use class="ic-1" xlink:href="#plus-active" x="0" y="0" />
                </svg>
            </span>
        </div>
    </div>
    <div class="cart-good__return">

    </div>
</section>