.cart-good {
    position: relative;
    @include clearfix();
}

// IMAGE
.cart-good__image {
    float: left;
    width: 60px;
    height: 60px;

}

// CONTENT
.cart-good__content-wrapper {
    margin-left: 80px;
    margin-right: 50px;
}
.cart-good__info {
    max-width: 415px;
    margin-bottom: 3px;
}
.cart-good__info-title {
    @include m-h5();
    text-decoration: none;
}
.cart-good__info-cost {
    display: none;
}

.cart-good__count {
    font-size: 0;
}
.cart-good__count-plus,
.cart-good__count-minus {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}
.cart-good__count-plus:hover,
.cart-good__count-minus:hover {
    & .cart-good__count-icon {
        display: none;
        &--active {
            display: block;
        }
    }
    .cart-good__count-icon--hide.cart-good__count-icon--active {
        display: none;
        &+.cart-good__count-icon--disabled {
            display: block;
        }
    }
}
.cart-good__count-icon {
    display: none;
    &--show {
        display: block;
    }
    &--hide {
        display: none;
    }
}
.cart-good__count-number {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 40px;

    color: $gray07;
    font-family: $OpenSans;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;  
    text-align: center;
    border: 1px solid $gray04;
}

.cart-good__info2 {
    position: relative;
    margin-bottom: 15px;
    
}
.cart-good__info2-amount {
    color: $gray07;
    font-family: $OpenSans;
    font-size: 21px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0px;
    vertical-align: middle;
}
.cart-good__info2-label {
    display: none;
}
.cart-good__info2-hidden {
    display: none;
}
// DELETE
.cart-good__delete {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 25px;
    &::after {
        position: absolute;
        content: "";
        left: 35px;
        width: 16px;
        height: 1px;
        background: $gray04;
        transform: rotate(45deg);
    }
    &::before {
        position: absolute;
        content: "";
        left: 35px;
        width: 16px;
        height: 1px;
        background: $gray04;
        transform: rotate(-45deg);
    }
}

// ************************************************************************ //
// ********************************* MEDIA ******************************** //
// ************************************************************************ //
@media ($desktop-s) {
    .cart-good {
        border: 1px solid $gray04;
    }
    .cart-good:not(:last-of-type) {
        border-bottom: 0;
    }
    // IMAGE
    .cart-good__image {
        width: 120px;
        height: 120px;
        margin: 20px;
    }

    // CONTENT
    .cart-good__content-wrapper {
        position: absolute;
        margin: 0;
        
        top: 22px;
        right: 50px;
        bottom: 20px;
        left: 170px;
        
        //outline: 1px solid red;
    }
    .cart-good__info {
        position: relative;
        float: left;
        width: 43%;
        height: 10px;
        min-height: 100%;
        //outline: 1px solid blue;
    }
    .cart-good__info-title {
        @include d-h3();
    }
    .cart-good__info-cost {
        display: block;
        position: absolute;
        bottom: 0;
        color: $grey-light2;
        font-family: $OpenSans;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
    }
    
    .cart-good__count {
        float: right;
        margin-right: 50px;
        margin: 0;
        margin-left: 30px;
        position: absolute;
        top: 0;
        left: 43%;
        //outline: 1px solid green;
    }
    .cart-good__count-number {
        width: 60px;
        height: 30px;
        
        font-size: 21px;
        line-height: 25px;    
    }   

    .cart-good__info2 {
        margin-top: 5px;
        margin-left: 42%;
        padding-left: 240px;
        //outline: 1px solid blue;
    }
    .cart-good__info2-amount {
        margin-bottom: 14px;
        
        font-size: 24px;
        font-weight: 400;
    }
    .cart-good__info2-label {
        display: block;
        
        color: $grey-light2;
        font-family: $FiraSans;
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        line-height: 20px;
        letter-spacing: 0px;
    }

    // DELETE
    .cart-good__delete {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        padding: 30px;
        &::after {
            left: 22px;
        }
        &::before {
            left: 22px;
        }
    }

}


// =========================== CART-GOOD DELETED ============================ //
.cart-good--deleted {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;

        background: white;
        opacity: 0.9;
        z-index: 2;
    }
    & .cart-good__info2-amount {
        display: none;
    }
    & .cart-good__info2-label {
        display: none;
    }
    & .cart-good__info2-hidden {
        display: block;
        position: absolute;
        left: 0;
        top: 5px;
        z-index: 3;
    }
    & .cart-good__info2-hidden-deleted {
        margin-bottom: 5px;
        font-family: $FiraSans;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: $black2;

    }
    & .cart-good__info2-hidden-back {
        font-family: $FiraSans;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
}

@media ($desktop-s) {
    .cart-good--deleted {
        & .cart-good__info2-hidden {
            top: 0;
            left: 240px;
        }
        & .cart-good__info2-hidden-deleted {
            margin-bottom: 25px;
        }
    }
}
