.cart {
    display: block;
    position: relative;
    @include clearfix();
}
.cart__goods {

}
.cart__good {
    margin-top: 22px;
    margin-bottom: 42px;
    &:last-of-type {
        margin-bottom: 24px;
    }
}
.cart__goods-separator {
    width: 100%;
    margin-left: -20px;
    padding-right: 40px;
    height: 1px;
    background: $gray04;
}

.cart__total {
    margin-top: 5px;
    margin-bottom: 20px;
    @include clearfix();
    
}
.cart__total-label {
    float: left;
    margin-top: 10px;
    
    color: $gray09;
    font-family: $OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02px;
}

.cart__total-cost {
    float: right;
    font-size: 0;
    text-align: right;
}
.cart__total-costD {
    color: $gray07;
    font-family: $OpenSans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
}
.cart__total-costL {
    color: $gray06;
    font-family: $OpenSans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02px;
    line-height: 20px;
}

.cart__choice {
    
}
.cart__choice-checkout {
    margin-bottom: 18px;
}
.cart__choice-or {
    display: block;
    color: $black2;
    font-family: $FiraSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
 }
 .cart__choice-shopping {
     display: block;
    margin-top: 14px; 
    
    color: $green09;
    font-family: $FiraSans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    
    &:hover {
        color: $green06;
        text-decoration: underline;
    }
 }

@media ($desktop-s) {
    .cart__good {
        //min-height: 160px;
        margin: 0px;
    }
    .cart__goods {
        border: 0;
        box-shadow: 0 12px 14px 0 rgba(0,0,0,0.10);
    }
    .cart__goods-separator {
        display: none;
    }
    
    .cart__total {
        position: relative;
        margin-top: 30px;
        margin-right: 300px;
        margin-bottom: 0px;
        vertical-align: bottom;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
    }
    .cart__total-label {
        position: absolute;
        left: 0;    
        float: left;
        margin-top: 0px;
        color: $black2;
        font-family: $FiraSans;
        font-size: 16px;
        letter-spacing: 0;
        vertical-align: bottom;
        & br { display: none;}
    }
    
    .cart__total-cost {
    }
    .cart__total-costD {
        color: $black2;
        font-size: 38px;
        line-height: 40px;
    }
    .cart__total-costL {
        color: $grey-light2;
        font-family: $FiraSans;
        font-size: 16px;
        letter-spacing: 0px;
    }

    .cart__choice {
        position: absolute;
        right: 20px;
        bottom: 7px;
        margin-bottom: 0px;
    }
    .cart__choice-checkout {
        margin-bottom: 0px;
    }
    .cart__choice-or {
        display: none;
    }
    .cart__choice-shopping {
        display: none;
        
    }
}