{# 
    * cart.twig
    * Корзина
    *
    * @block {cart}  начало разметки блока
    * @variable {goods}  данные для блока cart-good
    * @variable {classes} список примесей-классов
#} 
<form class="cart {{ classes }}" action="#" method="get">
    <div class="cart__goods">
        {% for good in goods %}    
            {% include "../cart-good/cart-good.twig" with {
                image:  good[0],
                title:  good[1],
                count:  good[2],
                cost:   good[3],
                amount: good[4],
                label:  good[5],
                num: loop.index0,
                classes: "cart__good"
            } %}
        {% endfor %}
        {% include "../cart-good/cart-good.twig" with {
            image:  goods[0][0],
            title:  'Kомплект дверных ручек крашенных в цвет кузова автомобиля. discovery 3',
            count:  'test',
            cost:   'test',
            amount: 'test',
            label:  'test',
            num: 0,
            classes: "cart__good  cart-good--deleted"
        } %}
    </div>
    <div class="cart__goods-separator"></div> 
    <p class="cart__total">
        <span class="cart__total-label">{{ totals[0] }}</span>
        <span class="cart__total-cost">
            <span class="cart__total-costD">{{ totals[1] }}</span>
            <br>
            <span class="cart__total-costL">{{ totals[2] }}</span>
        </span>
    </p>
    <div class="cart__choice">
         <input type="submit" value="Оформить заказ" class="btn btn--primary btn--theme_adaptive_55 btn--ttu cart__choice-checkout">
         <span class="cart__choice-or">или</span>
         <a href="#" class="cart__choice-shopping">Продолжить покупки</a>
    </div>
</form>