.uk-pagination>li>a, .uk-pagination>li>span
  width: 55px
  height: 55px
  border-radius: 3px
  background: #F3F4F5
  position: relative
  line-height: 55px
  -webkit-box-sizing: border-box
  +trans()
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 0
  font-size: 18px
  font-family: 'Fira Sans', sans-serif
  font-weight: 700
  color: #495057
  +respond-to(md)
    width: 45px
    height: 45px
    line-height: 45px

.uk-pagination>li:nth-child(n+2)
  margin-left: 10px
  
.uk-pagination>.uk-active>span
  background: $brand

.uk-pagination>li
  line-height: 0

.uk-pagination>li>a
  &:hover
    background-color: #CED4DA

.uk-pagination__nav
  +respond-to(md)
    display: none !important

.uk-pagination>.uk-disabled>span
  opacity: 0.5
  cursor: not-allowed
  //.uk-pagination__icon-left
  //  border-bottom-color: #d3d3d3
  //  border-left-color: #d3d3d3
  //.uk-pagination__icon-right


.uk-pagination
  +respond-to(md)
    margin-left: -10px

.uk-pagination__icon-left, .uk-pagination__icon-right
  position: absolute
  top: 50%


.uk-pagination__icon-left
  +chevron(10px, 3px, l, #495057)
  position: absolute
  right: 13px
  transform: translate(-50%, -50%)  rotate(45deg)

.uk-pagination__icon-right
  +chevron(10px, 3px, r, #495057)
  left: 24px
  transform: translate(-50%, -50%)rotate(45deg)