<ul class="uk-pagination {{ classes }}">
    <li class="uk-disabled uk-pagination__nav"><span><i class="uk-pagination__icon-left"></i></span></li>
    <li class="uk-active"><span>1</span></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li class="uk-pagination__nav"><a href="#"><i class="uk-pagination__icon-right"></i></a></li>
</ul>