.page-footer__address, .page-footer__copyright
  width: 50%
  +respond-to(lg)
    width: 100%

.page-footer__address
  display: flex
  flex-direction: column
  & > *
    &:not(:last-child)
      margin-bottom: 10px
  +respond-to(lg)
    margin-bottom: 30px

.page-footer__address-copyright
  display: flex
  font-size: 14px
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  +respond-to(lg)
    display: block

.page-footer__copyright
  font-size: 14px
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  line-height: 20px
  color: #868E96
  p:not(:last-child)
    margin-bottom: 10px

.page-footer__address-txt
  font-size: 14px
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  color: #868E96

.page-footer__link
  color: $brand
  +trans()
  text-decoration: none !important
  &:hover
    color: $brand-hover
    text-decoration: underline !important

.page-footer__socials
  margin-bottom: 20px
  display: flex
  align-items: baseline
  flex-wrap: wrap
  margin-top: -20px

.page-footer__socials-item-img
  width: 24px
  height: 18px
  margin-right: 10px
  color: #adb5bd
  +trans()
  path
    fill: #adb5bd
    +trans()

.page-footer__contain
  border-top: 1px solid #CED4DA
  background-color: #f0f0f0

.page-footer__inner
  padding: 30px 0
  +respond-to(lg)
    max-width: 768px
    margin: 0 auto

.page-footer__socials-item
  text-decoration: none
  color: #495057
  display: flex
  align-items: flex-end
  font-size: 16px
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  margin-top: 20px
  &:hover
    .page-footer__socials-item-img
      color: #495057
      path
        fill: #495057
  &:not(:last-child)
    margin-right: 100px

.page-footer__address-copyright
  +respond-to(lg)
    margin-bottom: 40px