.page-title
  text-align: center
  &.page-index__page-title
    +respond-to(md)
      font-size: 27px
  +respond-to(md)
    text-align: left
  h1
    font-family: 'Fira Sans', sans-serif
    font-weight: 500
    font-size: 44px
    +respond-to(lg)
      font-size: 35px
    +respond-to(md)
      font-size: 30px
  &.page-title__about, &.page-title__category
    margin-bottom: 30px
  &.page-title--left
    text-align: left

