.to-accordion__content
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  overflow: hidden

.acc-wrapper
  overflow: hidden

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  .acc-wrapper
    display: none