.is-hidden
  display: none

.selectize
  position: relative
  &.selectize--dark
    font-family: Open Sans,sans-serif
    font-size: 16px
    border: none
    .selectize__list--single
      color: #adb5bd
      background-color: #495057
    .selectize__list--dropdown
      color: #adb5bd
      background-color: #495057

.selectize__list--single
  line-height: 50px
  user-select: none
  border-radius: 3px
  padding: 0 20px
  position: relative
  cursor: pointer
  +respond-to(sm)
    font-size: 14px
  &:before
    top: 50%
    border: solid transparent
    content: ''
    border-top-color: #CCCCCC
    position: absolute
    margin: -0.125em 0.5em 0 0
    border-width: .26em .29em 0
    right: 10px

.selectize__item
  padding: 0 20px
  cursor: pointer
  user-select: none
  line-height: 40px
  &:hover
    color: $brand
  &.selectize__item--active
    color: $brand

.selectize__list--dropdown
  position: absolute
  width: 100%
  z-index: 2
  top: 55px
  max-height: 160px
  overflow: auto
  left: 0
  display: none
  &.is-active
    display: block
