.discover-notice
  border-radius: 3px
  background-color: #c6edce
  width: 100%
  max-width: 800px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 30px
  font-family: $FiraSans
  margin-top: 100px
  +respond-to(md)
    margin-top: 50px

.discover-notice__btn.btn.btn--primary
  margin-top: 20px
  width: 192px
  padding-left: 0
  padding-right: 0

.txt-big
  font-size: 20px
  line-height: 30px
  +respond-to(dk)
    font-size: 18px
    line-height: 30px