.page-promo-detail {
    margin-top: 30px;
}

.page-promo-detail__title{

}

// Back
.page-promo-detail__back {
    position: relative;
    margin-bottom: 25px;
    @include pad-lr();
    @include container924();
    
    &:hover .page-promo-detail__back-text {
        color: $green;    
    }
}
.page-promo-detail__back-link {
    text-decoration: none;
}
.page-promo-detail__back-arrow {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 20px;
    text-decoration: none;
}
.page-promo-detail__back-text {
    padding-left: 55px;
    
    color: $grey2;
    font-family: $FiraSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    
    vertical-align: middle;
    & span {
        display: none;
    }
}


// Next
.page-promo-detail__next {
    position: relative;
    @include pad-lr();
    @include container924();
    @include clearfix-full();
    
    &:hover .page-promo-detail__next-text {
        color: $green;    
    }
    
}
.page-promo-detail__next-link {
    text-decoration: none;
}
.page-promo-detail__next-arrow {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
    text-decoration: none;
}
.page-promo-detail__next-text {
    color: $grey2;
    font-family: $FiraSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    
    vertical-align: middle;

}
.page-promo-detail__next-text-inner {
    & span {
        display: none;
    }    
}

.page-promo-detail__next-description {
    margin-top: 15px;
    display: block;
    
    color: $green;
    font-family: $FiraSans;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

// Offer
.page-promo-detail__offer {
    margin-bottom: 45px;
    @include pad-lr();
    @extend .container;
}

// Common
.page-promo-detail__diagnostics {
    margin-top: 55px;
}
.page-promo-detail__map {
    margin-top: 35px;
}

// ************************************************************************* //
// ================================= MEDIA ================================= //
// ************************************************************************* //
@media ($desktop-s) {
    .page-promo-detail {
        margin-top: 35px;
    }
    
    // Back
    .page-promo-detail__back {
        margin-bottom: 50px;
        @include pad-lr50();
        @include container1225();
    }
    .page-promo-detail__back-arrow {
        left: 50px;
    }
    .page-promo-detail__back-text {
        & span {
            display: inline;
        }
    }
    
    // Next
    .page-promo-detail__next {
        @include pad-lr50();
        @include container1225();
        @include clearfix-full();
    }
    .page-promo-detail__next-arrow {
        right: 50px;
    }
    .page-promo-detail__next-text {
        display: block;
        @include container924();
        & span {
            display: inline;
        }
    }   
    .page-promo-detail__next-text-inner {
        margin-left: 27vw;
        padding-left: 40px;
    }
    
    .page-promo-detail__next-description {
        margin-top: 15px;
        @include container924();
    }   
    .page-promo-detail__next-description-inner {
        display: block;
        margin-left: 27vw;
        padding-left: 40px;
    }
    
    // Offer
    .page-promo-detail__offer {
        margin-bottom: 65px;
    }

    // Common
    .page-promo-detail__diagnostics {
        margin-top: 85px;
    }
    .page-promo-detail__map {
        margin-top: 0px;
    }
}


@media ($desktop-l) {
    // Offer
    .page-promo-detail__offer {

    }
    .page-promo-detail__next-text {
        @include container1010();
    }
    .page-promo-detail__next-description {
        @include container1010();
    }
}