.page-promo {
     @include page-top-indent-25-75();
}
.page-promo__title {
    color: $page-title;
    font-size: 27px;
    font-family: $FiraSans;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.27px;
    
    @include pad-lr();
    @include container();
}
.page-promo__offers {
    margin-top: 27px;
    @include pad-lr();
    @include container();
}
.page-promo__diagnostics {
    margin-top: 35px;
}
.page-promo__map {
    margin-top: 35px;
}


@media ($desktop-s) {
    .page-promo__title {
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -0.44px;
        text-align: center;
    }
    .page-promo__offers {
        margin-top: 36px;    
    }
    .page-promo__diagnostics {
        margin-top: 15px;
    }
    .page-promo__map {
        margin-top: 0px;
    }
}