.page-cart {
    @include page-top-indent-25-75();
}
.page-cart__title {
    margin-bottom: 17px;
    @include pad-lr();
    @include container1225();
    @include m-h1();
}
.page-cart__cart {
    margin-bottom: 55px;
    @include pad-lr();
    @include container1225();
}
.page-cart__map {
    display: none;
}
// Common

// ************************************************************************* //
// ================================= MEDIA ================================= //
// ************************************************************************* //
@media ($desktop-s) {
    .page-cart__title {
        margin-bottom: 37px;
        @include d-h1();
    }
    .page-cart__cart {
        margin-bottom: 135px;
    }
    .page-cart__map {
        display: block;
    }
}