.page-policy__block
  &:not(:last-child)
    margin-bottom: 100px

h3.page-policy__block-title
  font-family: $FiraSans
  font-size: 24px
  color: #343A40
  font-weight: 500
  margin-bottom: 40px

.page-policy__breadcrumb
  margin-bottom: 30px

.page-policy__page-title
  margin-bottom: 30px