.our-works-details__sticky-form
  width: 100%
  margin-top: 40px
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.1)
  border: 1px solid #ced4da
  background-color: #e1e5e9
  padding: 30px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &.our-works-details__sticky-form--mobile
    display: none
    .our-works-details__sticky-form-form
      display: flex
      flex-wrap: wrap
      align-items: flex-start
    .our-works-details__sticky-form-notice
      margin-top: 0
      padding-left: 30px
    .our-works-details__btn
      width: 205px !important
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
    .our-works-details__sticky-form-block
      width: 50%
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      &:first-child
        padding-right: 10px
        width: 215px
      &:nth-child(2)
        .input-wrapper
          width: 215px //qwddw
      &:last-child
        flex-grow: 1
        display: flex
    +respond-to(dk)
      display: block
    +respond-to(md)
      padding: 20px
      .our-works-details__btn
        width: 100% !important
      .our-works-details__sticky-form-block,  .input-wrapper
        display: block !important
        width: 100% !important
        padding-left: 0 !important
        padding-right: 0 !important
      .our-works-details__sticky-form-notice
        padding-left: 0
        padding-top: 20px
        br
          display: none

.our-works-details__sticky-form-title
  font-size: 24px
  font-weight: 500
  color: #343a40

.our-works-details__sticky-form-notice
  color: #868e96
  font-size: 13px

.our-works-details__sticky-form-sub
  margin-top: 7px

.our-works-details__sticky-form-form
  margin-top: 20px

.our-works-details__sticky-form-notice
  margin-top: 20px

.our-works-details__sticky-form-block
  &:not(:last-child)
    margin-bottom: 10px

.btn.btn--primary.our-works-details__btn
  padding: 0
  width: 100%
  font-size: 14px