.page-contacts__info
  padding: 80px 0 100px 0
  +respond-to(md)
    padding: 50px 0 50px 0

.page-contacts__info-list
  display: flex
  flex-wrap: wrap
  margin-left: -80px
  +respond-to(md)
    flex-direction: column //wdw

.page-contacts__info__col
  width: 50%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding-left: 80px
  +respond-to(md)
    width: 100%

.page-title__contacts
  margin-bottom: 30px
  @extend .container

.contacts__breadcrumb
  margin-bottom: 25px
  @extend .container

.page-contacts__requisites
  p
    margin-bottom: 4px !important
    +respond-to(md)
      margin-bottom: 4px !important

.page-contacts__contacts
  margin-bottom: 130px
  +respond-to(dk)
    margin-bottom: 80px
      
.page-contacts__contacts-list
  display: table
  width: 100%
  +respond-to(dk)
    display: flex
    flex-direction: column

.page-contacts__contacts-row
  display: table-row
  position: relative
  &:last-child
    .page-contacts__contacts-block
      padding-top: 45px !important
      +respond-to(dk)
        padding-top: 0 !important
        &:nth-last-child(-n+2)
          padding-top: 50px !important
        &:last-child
          padding-top: 0 !important
  &:not(:first-child)
    .page-contacts__contacts-block
      padding-top: 50px
      +respond-to(dk)
        padding-top: 0
  +respond-to(dk)
    display: flex
    flex-direction: column
    padding-left: 40px
    &:not(:first-child)
      padding-top: 50px
    .page-contacts__contacts-block--head
      &:not(:first-child)
        padding-top: 50px


.page-contacts__contacts-block
  display: table-cell
  vertical-align: top
  &.page-contacts__contacts-block--head
    width: 20%
    +respond-to(dk)
      width: 100%
      margin-bottom: 7px
    .page-contacts__contacts-text
      color: #868E96
  +respond-to(dk)
    display: flex
    flex-wrap: wrap
    align-items: center


.page-contacts__contacts-text.page-contacts__contacts-notice
  color: #868E96
  font-size: 16px
  +respond-to(dk)
    width: 100%
    margin-top: 7px

.page-contacts__contacts-phone
  font-size: 20px

.page-contacts__contacts-icon
  display: inline-block
  vertical-align: middle
  margin-right: 20px
  width: 25px
  height: 25px
  color: #868E96
  svg
    width: 25px
    height: 25px
  +respond-to(dk)
    left: 0
    position: absolute

.page-contacts__contacts-text
  display: inline-block
  line-height: 1.3em
  vertical-align: middle
  font-size: 20px
  +respond-to(xlg)
    font-size: 16px

.page-contacts_panorama
  padding-top: 130px
  +respond-to(lg)
    padding-top: 60px
  +respond-to(md)
    .container
      padding: 0


.page-contacts__info-title
  font-size: 24px
  color: #343A40
  line-height: 25px
  margin-bottom: 30px
  font-weight: 500
  +respond-to(md)
    margin-bottom: 0
    font-size: 21px