.page-service__sec-advantages
  border-top: 1px solid #ADB5BD
  margin-top: 130px
  +respond-to(lg)
    margin-top: 0

.service-adp-block__video
  width: 300px
  height: 400px

.service-adp-block__title
  font-weight: 500
  font-size: 36px
  margin-bottom: 20px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(dk)
    font-size: 30px
  +respond-to(md)
    font-size: 24px

.service-adp-block__img-video-mobile
  margin-bottom: 30px
  margin-left: -20px
  margin-right: -20px
  display: none
  .service-adp-block__img-video
    min-height: 320px
  +respond-to(dk)
    display: block


.service-adp-block__contain
  margin-bottom: 30px

.dk-mt-50
  +respond-to(dk)
    margin-top: 50px

.service-adp-block__col
  padding-left: 45px
  width: 50%
  margin-top: 30px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(dk)
    width: 100%
    &:last-child
      display: none

.service-adp-block
  &.service-adp-block--reverse
    .service-adp-block__list
      flex-direction: row-reverse
  & + &
    margin-top: 100px
    +respond-to(md)
      margin-top: 50px

.service-adp-block__list
  display: flex
  margin-left: -45px
  margin-top: -30px
  flex-wrap: wrap
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(lg)
    flex-direction: column

.service-adp-block__btn
  .btn--primary
    line-height: 40px
  +respond-to(sm)
    .btn--primary
      width: 100%

.page-service__page-title
  margin-bottom: 40px