.page-main>section.page-index__hero
  background-color: #343A40
  margin-top: -36px
  margin-bottom: 0 !important
  position: relative
  z-index: 1
  &:after
    content: ""
    position: absolute
    z-index: -1
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: none
    background-color: rgba(0,0,0,.3)
  +respond-to(dk)

.page-index__hero-form-notice
  color: #adb5bd
  font-size: 14px
  text-align: center
  line-height: 20px
  margin-top: 17px

.page-index__hero-inner
  padding-top: 75px
  padding-bottom: 35px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box ///wfwfw
  box-sizing: border-box
  background-image: url(../images/hero-bg.jpg)
  background-repeat: no-repeat
  background-position: center center
  -webkit-background-size: cover
  background-size: cover
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 auto
  position: relative
  &:before, &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    width: 100px
    z-index: 2
  &:before
    left: 0
    background: linear-gradient(to right, #343a40 0%, rgba(52,58,64,0) 100%)
  &:after
    right: 0
    background: linear-gradient(to right, rgba(52,58,64,0) 0%, #343a40 100%)
  +respond-to(dk)
    &:before, &:after
      display: none
    background-image: none

.page-index__hero
  +respond-to(dk)
    background-image: url(../images/hero-bg.jpg)
    background-repeat: no-repeat
    background-position: center center
    -webkit-background-size: cover
    background-size: cover

.page-index__hero-img
  position: relative
  flex: 0 0 632px
  text-align: right
  overflow: hidden
  height: 100%
  &:before, &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    width: 100px
    z-index: 2
  &:before
    left: 25px
    background: linear-gradient(to right, #343a40 0%, rgba(52, 58, 64, 0) 100%)
  &:after
    right: 0
    background: linear-gradient(to right, rgba(52, 58, 64, 0) 0%, #343a40 100%)
  +respond-to(dk)
    display: none

.page-index__hero-pic
  max-height: 100%
  width: 607px

.page-index__hero-txt
  +respond-to(dk)
    padding-bottom: 25px


.page-index__title
  font-family: $FiraSans
  font-weight: 500
  font-size: 44px
  text-align: center
  color: #fff
  line-height: 1.1em
  margin-bottom: 35px
  text-transform: uppercase
  +respond-to(xlg)
    font-size: 30px
  +respond-to(dk)
    font-size: 35px
    margin-bottom: 10px
  +respond-to(sm)
    font-size: 20px


.advantages.page-index__adventages
  padding: 20px 0
  margin-bottom: 70px
  text-align: center
  border-bottom: 1px solid #CED4DA
  +respond-to(lg)
    margin-bottom: 30px

.btn.btn--primary.page-index__hero-abs-btn
  display: none
  margin-top: 160px
  +respond-to(md)
    display: block


.page-index__hero-form-outer
  margin-top: 15px
  +respond-to(md)
    display: none

.page-index__description
  font-weight: 400
  font-size: 27px
  text-align: center
  margin-top: 75px
  color: #fff
  +respond-to(md)
    display: none

.page-index__certificate-list
  display: flex
  flex-wrap: wrap
  margin-top: -30px

.page-index__certificate-col
  width: 50%
  padding-top: 30px
  +respond-to(dk)
    width: 100%
    &:last-child
      display: block
  &:last-child
    display: flex
    align-items: center
    justify-content: center

.page-index__stock-item
  text-decoration: none
  display: block
  +respond-to(md)
    display: flex
    align-items: center
    &:not(:last-child)
      margin-bottom: 40px


.page-index__models-acc-list
  display: flex
  margin-left: -40px
  margin-top: -50px
  flex-wrap: wrap
  +respond-to(dk)
    margin-top: -15px

.page-index__models-acc-item
  width: 33.3333333%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding-left: 40px
  padding-top: 50px
  display: block
  position: relative

  +respond-to(dk)
    width: 100%
    padding-top: 15px

.page-index__models-acc-title
  height: 140px
  background-repeat: no-repeat
  background-position: center center
  -webkit-background-size: cover
  background-size: cover
  border-radius: 3px
  text-decoration: none
  padding: 30px
  display: flex
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  position: relative
  z-index: 1
  border-radius: 3px
  +trans()
  box-sizing: border-box
  &:before
    content: ''
    +chevron(7px, 2px, t, #fff)
    transform: rotate(45deg)
    position: absolute //wdwd
    top: 50%
    right: 15px
    display: none
    z-index: 2
  &.is-active
    &:before
      +chevron(7px, 2px, b, #fff)
      margin-top: -7px
    &:after
      background-color: rgba(2, 101, 29, 0.6)
  +respond-to(dk)
    &:before
      display: block
    height: 80px
  &:hover:after
    background-color: rgba(2, 101, 29, 0.6)
  &:after
    z-index: -1
    content: ''
    position: absolute
    top: 0
    left: 0
    +trans()
    right: 0
    bottom: 0
    background-color: rgba(0,0,0,0.3)

.page-index__models-acc-title-txt
  font-family: $FiraSans
  font-weight: 500
  font-size: 26px
  color: #fff
  margin-top: auto
  +respond-to(sm)
    font-size: 20px

.page-index__models-acc-content
  padding: 20px 0

.page-index__models-acc-link
  font-family: 'Open Sans', sans-serif
  font-weight: normal
  font-size: 16px
  color: #495057
  line-height: normal
  text-decoration: none
  display: block
  +trans()
  &:hover
    color: $brand
  &:not(:last-child)
    margin-bottom: 10px
  +respond-to(dk)
    font-size: 14px


.page-index__our-works-item
  height: 280px
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid #000
  flex-direction: column
  text-align: center
  text-decoration: none
  font-family: 'Open Sans', sans-serif //wddwdwwd
  font-size: 16px
  font-weight: 600
  color: #495057
  &:hover
    color: $brand
    .page-index__our-works-item-icon  path
      fill: $brand
  +respond-to(md)
    height: 80px
    flex-direction: row

.page-index__our-works-item-icon
  margin-bottom: 7px
  +respond-to(md)
    margin-bottom: 0
    width: 45px
    height: 45px
    margin-right: 20px
  +respond-to(sm)
    margin-right: 10px

.bg-hover-card-list.our-works__list.page-index
  margin-top: -40px

.page-index__stock-list
  +respond-to(md)
    margin: 0 auto
    max-width: 400px

.section-title.page-index__section-title
  font-size: 44px
  +respond-to(md)
    text-align: center
    
.page-index__stock-more
  display: none
  padding-top: 40px
  text-align: center
  +respond-to(dk)
    display: block

.page-index__stock-more-btn
  width: 100%
  max-width: 300px
  +respond-to(sm)
    max-width: initial

.btn--outline.page-index__stock-more-btn
  line-height: 40px
  font-size: 15px

.page-index__stock-img
  margin-bottom: 10px
  flex-shrink: 0
  height: 380px
  img
    width: 100%
    height: 100%
    object-fit: cover
  +respond-to(xlg)
    height: 280px
  +respond-to(md)
    width: 65px
    height: 65px
    margin-right: 15px
    margin-bottom: 0

.page-index__stock-title
  font-family: 'Fira Sans', sans-serif
  font-weight: 600
  font-size: 15px
  color: #495057


.page-index__hero-form
  display: flex
  background-color: rgba(0, 0, 0, 0.6)
  border-radius: 6px
  padding: 15px
  +respond-to(lg)
    flex-wrap: wrap
    max-width: 565px
    margin-left: auto
    margin-right: auto

.page-index__hero-form-block
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(lg)
    &:not(:last-child)
      width: 50%
      padding-right: 0
    &:first-child
      padding-right: 20px
    &:last-child
      width: 100%
      margin-top: 15px

  &:not(:last-child)
    padding-right: 20px


.page-title
  margin-bottom: 40px
  h1
    font-size: 53px