.page-order-success {
    @include page-top-indent-25-45();
}
.page-order-success__back {
    margin-bottom: 19px;
    @include pad-lr();
    @include container1225();
    font-size: 0;
}
.page-order-success__back-arrow {
    display: inline-block;
    vertical-align: middle;
}
.page-order-success__back-text {
    margin-left: 20px;

    font-family: $FiraSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    vertical-align: middle;
}

.page-order-success__title {
    margin-bottom: 21px;
    @include pad-lr();
    @include container1225();

    @include m-h1();
}

.page-order-success__success-plate-wrapper {
    @include pad-lr();
    @include container800();

    margin-bottom: 50px;
}

.page-order-success__map {
    display: none;
}

// ************************************************************************* //
// ================================= MEDIA ================================= //
// ************************************************************************* //
@media ($desktop-s) {
    .page-order-success__back {
        margin-bottom: 50px;
    }
    .page-order-success__back-text {
        font-size: 16px;
    }
    .page-order-success__title {
        margin-bottom: 37px;
    }
    .page-order-success__success-plate-wrapper {
        margin-bottom: 100px;
    }
    .page-order-success__map {
        display: block;
        margin-bottom: 65px;
    }
}