.page-order {
    @include page-top-indent-25-45();
}
.page-order__back {
    margin-bottom: 19px;
    @include pad-lr();
    @include container1225();
    font-size: 0;
}
.page-order__back-arrow {
    display: inline-block;
    vertical-align: middle;
}
.page-order__back-text {
    margin-left: 20px;

    font-family: $FiraSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    vertical-align: middle;
}

.page-order__title {
    margin-bottom: 21px;
    @include pad-lr();
    @include container1225();

    @include m-h1();
}
.page-order__checkout {
    position: relative;

}
.page-order__checkout-section {
    padding: 20px;
    @include pad-lr();
}
.page-order__map {
    display: none;
}
// ************************************************************************* //
// ================================= MEDIA ================================= //
// ************************************************************************* //
@media ($desktop-s) {
    .page-order__back {
        margin-bottom: 50px;
    }
    .page-order__back-text {
        font-size: 16px;
    }
    .page-order__title {
        margin-bottom: 37px;
    }
    .page-order__checkout {
        margin-bottom: 100px;
        @include pad-lr();
        @include container1225();
    }
    .page-order__checkout-section {
        box-sizing: border-box;
        margin-right: 420px;
        @include pad-lr30();
        &--right {
            position: absolute;
            top: 0;
            right: 30px;
            width: 380px;
            margin: 0;
        }
    }
    .page-order__map {
        display: block;
        margin-bottom: 65px;
    }
}