.article__contain, .tg
  display: flex
  flex-direction: column
  a[data-fancybox]
    margin-top: 40px
    max-width: 590px
    width: 100%
    img
      padding-top: 0
    color: $text-primary
    transition: all 0.3s ease 0s
    display: inline-block
    position: relative
    outline: none
    &:hover
      &:after
        opacity: 1
    &:after
      opacity: 0
      z-index: 2
      content: ''
      transition: all 0.3s ease 0s
      position: absolute
      left: 0
      right: 0
      bottom: 0
      top: 0
      display: block
      -moz-background-size: cover
      background-size: 53px
      background-color: rgba(0,0,0,.2)
      background-repeat: no-repeat
      background-position: center center
      background-image: url(../images/svg-icons/plus.svg)
    &:focus, &:active
      outline: none
    @media only screen and (max-width: 1220px)
      max-width: 530px
  iframe, video
    margin: 0 auto
  img, iframe
    padding-top: 60px
    max-width: 590px
    width: auto
    height: auto
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    +respond-to(xlg)
      max-width: 530px
    +respond-to(dk)
      padding-top: 40px
    & + img
      padding-top: 0
  img + aside
    padding-top: 60px
    +respond-to(dk)
      padding-top: 25px
  img + h2, img +h3, img + p
    padding-top: 60px
    +respond-to(dk)
      padding-top: 47px
  img + aside
    & + p, & + ul, & + ol, & + img, & + h2, & + h3
      padding-top: 40px
      +respond-to(lg)
        padding-top: 20px
  p + img
    padding-top: 40px
    +respond-to(dk)
      padding-top: 35px
  ul + img
    padding-top: 24px
  @media (min-width: 1024px)
    ul + img
      padding-top: 30px

.our-works-details__article-contain
  .article__contain.tg
    display: block

.article__head-inner, .article__head-title
  width: 100%


.article__head-inner
  width: 100%


@media only screen and (max-width: 580px)
  .article__contain, .tg
    img, iframe
      width: 100%

@media only screen and (min-width: 1024px)
  .article__anchor-nav.article__anchor-nav--desk.is_stuck
    border-top: none
  html
    &.onUnpin, &.onNotTop
      .our-works-details__article-sidebar-sticky
        &.is_stuck
          margin-top: 62px !important
    &.onPin
      .our-works-details__article-sidebar-sticky
        &.is_stuck
          margin-top: 116px !important
    &.onUnpin, &.onNotTop, &.onPin
      .our-works-details__article-sidebar-sticky
        &.is_stuck.unstick
          margin-top: 0 !important

.article__anchor-nav
  +trans()
  &.article__anchor-nav--mobile
    display: none
    +respond-to(dk)
      display: block
  &.article__anchor-nav--desk
    +respond-to(dk)
      display: none


.clearfix
  &:after, &:before
    content: ''
    display: table
    clear: both

.article-sidebar
  width: 30%

.article__contain
  width: 100%
  +respond-to(dk)
    max-width: auto
    max-width: initial
  & > div
    &:first-child
      padding-top: 70px
    &:not(:first-child)
      padding-top: 70px

.article__inner
  display: flex

.article__head
  margin-bottom: 20px


.article__contain,  .tg
  img + aside
    @extend .article__img-block-description


.article__slider-item-description-inner
  padding: 15px 20px
  display: flex
  align-items: center

.article__slider-item-description-text
  font-family: 'Fira Sans', sans-serif
  font-weight: 400
  font-style: italic
  color: #ADB5BD
  font-size: 16px

.article__img-block-description
  padding: 15px 0
  font-family: 'Fira Sans', sans-serif
  font-weight: 400
  font-style: italic
  color: #ADB5BD
  font-size: 16px
  line-height: 1.3em
  +respond-to(md)
    font-size: 14px

.promo-offer.page-promo-detail__offer.tg-promo-offer
  margin-top: 30px

.tg.page-policy__tg
  ol>li
    font-weight: 500
    font-size: 28px !important
    line-height: 35px !important
    +respond-to(md)
      font-size: 21px !important
      line-height: 25px !important
    &>ol>li
      font-size: 18px !important
      +respond-to(md)
        font-size: 16px !important


.article__slider-item-description
  background-color: #fff

.article__slider-item-description-number
  font-size: 16px
  margin-right: 40px
  color: #343A40
  display: inline

.article__slider-item-img
  height: 495px
  display: flex
  overflow: hidden
  align-items: center
  img
    width: 100%
    height: 100%
  +respond-to(md)
    height: 300px
  +respond-to(sm)
    height: 250px

.article__slider
  background-color: #343A40


.article__title
  font-family: 'Fira Sans', sans-serif
  font-weight: 500
  font-size: 44px
  color: #343A40
  text-align: center
  margin-bottom: 30px
  line-height: 1.3em
  +respond-to(lg)
    padding: 0 20px
    font-size: 35px
  +respond-to(md)
    font-size: 27px
    margin-bottom: 20px

.article__img-block
  padding-top: 30px

.article__img-block + .article__img-block
  padding-top: 60px

.article__img-block-img
  text-align: center
  img
    width: 100%
    height: auto

.article__text-block
  padding-top: 50px
  font-family: 'Fira Sans', sans-serif
  font-weight: 400
  color: #343A40
  +respond-to(lg)
    padding-top: 30px
  +respond-to(sm)
    padding-top: 20px

.article__details
  flex-wrap: wrap
  display: flex
  padding-top: 50px
  margin-left: -40px
  +respond-to(lg)
    margin-left: 0
    padding-top: 30px
  +respond-to(sm)
    padding-top: 20px

.article__details-column
  width: 50%
  padding-left: 40px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(lg)
    width: 100%
    padding-left: 0
    &:not(:first-child)
      padding-top: 40px

.mobile-navbar__btn2
  margin-right: 50px
  display: none
  +respond-to(dk)
    display: inline-block

.mobile-navbar__btn-wrapper
  display: none

@media only screen and (max-width: 655px)
  .mobile-navbar__btn2
    display: none
  .mobile-navbar__btn-wrapper
    display: block

.our-works-details__article-sidebar-sticky
  +trans()

.article__anchor-nav
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.1)
  border: 1px solid #ced4da
  width: 280px
  padding: 38px 0 35px 0
  margin-top: 3px !important
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(dk)
    float: none
    margin-left: 0 !important
    margin-top: 35px !important
    margin-bottom: 20px !important
    width: 100%
  a
    color: #2b8a3e
    padding-left: 30px
    padding-right: 30px
    font-family: $FiraSans
    +trans()
    font-size: 16px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    display: block
    line-height: 1.2em
    border-left: 4px solid transparent
    text-decoration: none
    font-weight: 400
    &:hover
      border-left-color: #2b8a3e
    &:not(:last-child)
      margin-bottom: 24px

.article__details-title
  font-family: 'Fira Sans', sans-serif
  font-weight: 500
  font-size: 21px
  color: #343A40
  margin-bottom: 15px

.article__details-text
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 38px
  color: #343A40
  +respond-to(md)
    font-size: 32px

.article__slider.owl-carousel
  .owl-nav
    width: 0

  .owl-prev, .owl-next
    font-size: 0
    background-color: transparent
    font-family: $font-icon
    color: #e1dace
    &.disabled:before
      color: #b3b0b1

  .owl-prev, .owl-next
    position: absolute
    top: 0
    width: 50%
    height: 100%
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    &::before
      position: absolute
      top: 47%
      transition: all 0.2s ease 0s
      transform: translateY(-50%)
      content: ''
      width: 40px
      height: 40px
      background-repeat: no-repeat
      background-position: center center
      -webkit-background-size: cover
      background-size: cover
    +respond-to(md)
      &::before
        width: 30px
        height: 30px
    +respond-to(lg)
      &::before
        transform: translate(0, -50%)

  .owl-prev
    left: 0
    &::before
      left: 40px
      background-image: url(../images/svg-icons/arrow-circle-left.svg)
    &:hover:before
      background-image: url(../images/svg-icons/arrow-circle-left-act.svg)
    +respond-to(lg)
      &::before
        left: 20px ///tht
  .owl-next
    right: 0
    &::before
      right: 40px
      background-image: url(../images/svg-icons/arrow-circle-right.svg)
    &:hover:before
      background-image: url(../images/svg-icons/arrow-circle-right-act.svg)
    +respond-to(lg)
      &::before
        right: 20px


@media only screen and (min-width: 768px)
  .article__contain, .tg
    img + aside
      display: inline-block
      width: 170px
      vertical-align: bottom
      padding: 0 0 0 30px
    img, iframe
      display: inline-block
      vertical-align: bottom