.checkout {

}

// =========================== OPEN CLOSE SECTION ========================== //
.checkout__section {
    font-size: 0;
    border-top: 1px solid $gray04;
    &:last-of-type { border-bottom: 1px solid $gray04; }
    &--open {
        & .checkout__content {
            display: block;
        }
        & .checkout__title-edit {
            display: none;
        }
    }

    &--close {
        & .checkout__content {
            display: none;
        }
        & .checkout__title-edit--text {
            display: none;
        }
        & .checkout__title-edit--arrow {
            display: block;
        }
    }
    &--empty {
        & .checkout__content {
            display: none;
        }
        & .checkout__title-edit--text {
            display: none;
        }
        & .checkout__title-edit--arrow {
            display: none;
        }
    }
}

// ******************************** //
// *** MEDIA OPEN CLOSE SECTION *** //
// ******************************** //

@media ($desktop-s) {
    .checkout__section {
        border: 1px solid $gray04;
        &:first-of-type { border-bottom: 1px solid transparent; }
        &--close {
            & .checkout__content {
                display: none;
            }
            & .checkout__title-edit--arrow {
                display: none;
            }
            & .checkout__title-edit--text {
                display: block;
            }
        }
        &--empty {
            & .checkout__content {
                display: none;
            }
            & .checkout__title-edit--arrow {
                display: none;
            }
            & .checkout__title-edit--text {
                display: none;
            }
        }
    }
}

// ============================= COMMON CONTENT ============================= //
.checkout__title {
    @include m-h3();
}

.checkout__title-edit {
    float: right;
    vertical-align: middle;
    cursor: pointer;
    &--arrow {
        margin-top: 3px;
    }
    &--text {
        @include d-txt16;
        line-height: 25px;
        vertical-align: middle;
    }
}

.checkout__separator {
    width: auto;
    height: 1px;
    background: $gray04;
}

// ******************************** //
// ***** MEDIA COMMON CONTENT ***** //
// ******************************** //

@media ($desktop-s) {
    .checkout__title {
        @include d-h5();
    }
    .checkout__title-edit {
        &--text {
            line-height: 30px;
        }
    }
}

// =========================== SECTION CONTACTS ============================ //
.checkout__section--contacts {
    & .checkout__title {

    }
    & .checkout__content {

    }
    & .checkout__input {
        margin-top: 19px;

        & input {
            width: 100%;
            margin-top: 6px;
            box-sizing: border-box;
        }
    }

    & .checkout__btn {
        margin-top: 19px;
        width: 100%;
    }

    & .checkout__notice {
        margin-top: 20px;
        margin-bottom: 10px;

        @include d-txt16();
        font-size: 12px;
        line-height: 15px;
    }
}

// ********************************* //
// ***** MEDIA CONTACT CONTENT ***** //
// ********************************* //
@media ($desktop-s) {
    .checkout__section--contacts {
        & .checkout__input {
            position: relative;
            max-width: 556px;
            padding-left: 176px;
            @include clearfix();
            & label + br {
                display: none;
            }
            & label {
                position: absolute;
                left: 0;
                width: 100%;
                max-width: 556px;
                height: 50px;
                padding-top: 15px;
                z-index: -1;
            }
            & input {
                width: 100%;
                box-sizing: border-box;
                max-width: 380px;

                margin-top: 0px;
            }
        }
        & .checkout__btn {

        }
    }
}

@media ($desktop-m) {
    .checkout__section--contacts {
        @include clearfix();
        & .checkout__btn {
            float: left;
            margin-left: 176px; //wdwd
            margin-bottom: 30px;
            max-width: 280px;
        }
        & .checkout__notice {
            margin-left: 481px;
            word-break: break-word;
        }
    }
}

// =========================== SECTION DELIVERY CHOOSER============================ //
.checkout__section--delivery {
    .checkout__choose-delivery-method {

        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 95px;
        height: 95px;
        padding-top: 44px;
        margin-top: 14px;

        @include m-txt13();
        color: $black2;
        text-align: center;

        box-sizing: border-box;
        border: 1px solid $grey-light2;
        &::before {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 10px;
            display: block;
            content: "";
            width: 30px;
            height: 30px;
        }

        &--self {
            &::before {
                background: url('../images/svg-icons/delivery-self.svg') no-repeat;
                background-size: cover;
            }
        }
        &--courier {
            border-left: none;
            border-right: none;
            &::before {
                background: url('../images/svg-icons/delivery-courier.svg') no-repeat;
                background-size: cover;
            }
        }
        &--transport {
            &::before {
                background: url('../images/svg-icons/delivery-transport.svg') no-repeat;
                background-size: cover;
            }
        }

        & span {
            color: $grey-light2;
        }
        //
        &--right-border-green { border-right: 1px solid $green09; }
        &--left-border-green { border-left: 1px solid $green09; }
    }

    .checkout__delivery-method-input {
        display: none;

        &:nth-of-type(1):checked + .checkout__choose-delivery-method {
            &::before {
                background: url('../images/svg-icons/delivery-self-a.svg') no-repeat;
                background-size: cover;
            }
        }
        &:nth-of-type(2):checked + .checkout__choose-delivery-method {
            border-left: none;
            border-right: none;
            &::before {
                background: url('../images/svg-icons/delivery-courier-a.svg') no-repeat;
                background-size: cover;
            }
        }
        &:nth-of-type(3):checked + .checkout__choose-delivery-method {
            &::before {
                background: url('../images/svg-icons/delivery-transport-a.svg') no-repeat;
                background-size: cover;
            }
        }

        &:checked + .checkout__choose-delivery-method {
            color: $green09;
            border: 1px solid $green09;
        }
    }

}

// ********************************** //
// ***** MEDIA DELIVERY CONTENT ***** //
// ********************************** //
@media ($iphone4-only) {
    .checkout__section--delivery {
        .checkout__choose-delivery-method {
            width: 93px;
            height: 93px;
        }
    }
}
@media ($desktop-m) {
    .checkout__section--delivery {
        // CHOOSER
        & .checkout__chooser-delivery-method {
            display: table;
            margin-top: 17px;
            width: 100%;

            box-sizing: border-box;

            & .checkout__choose-delivery-method {
                display: table-cell;
                width: 33.333%;

                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 40px;
                padding-left: 80px;

                @include d-txt16();
                color: $black2;
                text-align: left;
                vertical-align: middle;
                word-break: break-word;
                &::before {
                    left: 20px;
                    top: 50%;
                    transform: translate(0, -50%);
                    width: 40px;
                    height: 40px;
                }
                &::after {
                    position: absolute;
                    display: block;
                    content: "";

                    right: 10px;
                    top: 50%;
                    transform: translate(0, -50%);


                    width: 24px;
                    height: 24px;
                }
            }
        }
        .checkout__delivery-method-input:checked + .checkout__choose-delivery-method {
                &::after {
                    background: url('../images/svg-icons/delivery-checked.svg') no-repeat;
                    background-size: 24px 24px;
                }
            }
    }
}

// =========================== SECTION DELIVERY METHODS ============================ //
.checkout__section--delivery {
    & .checkout__self,
    & .checkout__courier,
    & .checkout__transport {
        margin-top: 25px;
        display: none;
        &--open {
            display: block;
        }
    }

    & .checkout__payinfo {
        margin-top: 25px;
    }
    & .checkout__payinfo-description {
        margin-top: 9px;
        @include m-txt14();
        color: $black2;
    }

    & .checkout__input {
        & input {
            width: 100%;
            margin-top: 6px;
            box-sizing: border-box;
        }
    }

    & .checkout__textarea {
        & textarea {
            width: 100%;
            margin-top: 6px;
            box-sizing: border-box;
        }
    }
    // ************** CHECKOUT SELF ************** //
    & .checkout__self-adress {
        margin-bottom: 17px;
        color: $black2;
        @include d-txt20();

    }
    & .checkout__self-timetable {
        margin-bottom: 21px;

        position: relative;
        padding-left: 28px;
        color: $black2;
        @include m-txt14();

        &::before {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            background: url('../images/svg-icons/time.svg') no-repeat;
        }
    }
    & .checkout__self-date-select {
        position: relative;
        max-width: 200px;
        margin-bottom: 16px;
        & select {
            margin-top: 6px;
            width: 100%;
        }
    }
    & .checkout__self-date-select-icon {
        position: absolute;
        top: 38px;
        right: 17px;
    }
    & .checkout__self-notice {

        @include d-txt16();
        color: $yellow;
        font-style: italic;
        line-height: 20px;
    }
    & .checkout__self-map {
        display: none;
    }

    // ************** CHECKOUT COURIER ************** //
    & .checkout__input {
        &--courier-city {
            max-width: 280px;
            margin-bottom: 20px;
        }
        &--courier-street {
            margin-bottom: 30px;
        }
        &--courier-house {
            display: inline-block;
            width: 50%;
            max-width: 170px;
            margin-bottom: 27px;
            padding-right: 10px;
            vertical-align: top;
            box-sizing: border-box;
        }
        &--courier-flat {
            display: inline-block;
            width: 50%;
            max-width: 170px;
            padding-left: 10px;
            vertical-align: top;
            box-sizing: border-box;
        }

    }

    .checkout__courier-addcomment {
        display: inline-block;
        margin-bottom: 30px;
        @include d-txt16();
        color: $green09;
    }

    & .checkout__textarea {
        &--courier-comment {
            margin-bottom: 35px;

            & textarea {
                min-height: 80px;
                &:focus {
                    background: white;
                    border: 2px solid $green09;
                    border-radius: 3px;
                }
            }
        }
    }

    .checkout__courier-date-select {
        & select {
            width: 100%;
            margin-top: 6px;
        }
        margin-bottom: 10px;
    }
    .checkout__courier-time-select {
        & select {
            width: 100%;
        }
        margin-bottom: 27px;
    }

    .checkout__courier-delivery-cost {
        margin-bottom: 45px;
        color: $black2;
        font-family: $OpenSans;
        font-size: 21px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
    }

    // ************** CHECKOUT TRANSPORT ************** //
    .checkout__input--transport-index {
        margin-bottom: 17px;
    }
    .checkout__input--transport-city {
        margin-bottom: 20px;
    }
    .checkout__input--transport-street {
        margin-bottom: 30px;
    }
    .checkout__input--transport-house {
        display: inline-block;
        width: 50%;
        max-width: 170px;
        margin-bottom: 40px;
        padding-right: 10px;
        vertical-align: top;
        box-sizing: border-box;
    }
    .checkout__input--transport-flat {
        display: inline-block;
        width: 50%;
        max-width: 170px;
        padding-left: 10px;
        vertical-align: top;
        box-sizing: border-box;
    }
    .checkout__transport-notice {
        display: none;
        margin-bottom: 45px;
        @include d-txt16();
        color: $black2;
    }
}

// ********************************** //
// ***** MEDIA DELIVERY CONTENT ***** //
// ********************************** //
@media ($desktop-s) {
    .checkout__section--delivery {
        & .checkout__self,
        & .checkout__courier,
        & .checkout__transport {
            margin-top: 40px;
        }

        // SELF
        & .checkout__self-adress {
            font-size: 20px;
        }
        & .checkout__self-timetable {
            margin-bottom: 33px;
            font-size: 16px;
        }
        & .checkout__self-date-select {
            margin-bottom: 45px;
            width: 25%;
        }
        & .checkout__self-map {
            display: block;
            float: right;
            width: 350px;
            height: 233px;
            margin-left: 15px;
            background: grey;
        }

        // COURIER
        .checkout__courier-addcomment {
            display: inline-block;
            margin-bottom: 60px;
            &--hide {
                display: none;
            }
        }
        & .checkout__textarea {
            &--courier-comment {
                margin-bottom: 50px;
            }
            &--hide {
                display: none;
            }
        }
        .checkout__courier-date-select {
            display: inline-block;
            width: 31%;
            max-width: 200px;

        }
        .checkout__courier-time-select {
            display: inline-block;
            width: 32%;
            max-width: 200px;
            margin-left: 25px;
        }

        .checkout__courier-delivery-cost {
            display: inline-block;
            margin-left: 45px;
        }

        // TRANSPORT
        .checkout__input--transport-index {
            display: inline-block;
            width: 50%;
            max-width: 170px;
            margin-bottom: 20px;
            padding-right: 10px;
            vertical-align: top;
            box-sizing: border-box;
        }
        .checkout__input--transport-city {
            display: inline-block;
            width: 50%;
            max-width: 275px;
            padding-left: 10px;
            vertical-align: top;
            box-sizing: border-box;
        }

        .checkout__transport-notice {
            display: block;
        }

        & .checkout__payinfo {
            margin-top: 70px;
            margin-bottom: 40px;
        }
        & .checkout__payinfo-description {
            margin-top: 18px;
            font-size: 16px;
        }

    }
}

@media ($desktop-s1) {
    .checkout__section--delivery {
        // SELF
        & .checkout__self-date-select {
            width: 200px;
        }
    }
}
// =========================== SECTION CONSIST ============================ //
.checkout__section--consist {
    & .checkout__good {
        margin-top: 20px;
        &:last-of-type {
            margin-bottom: 43px;
        }
    }
    & .checkout__good-title {
        margin-bottom: 5px;
        @include d-txt16();
        color: $black2;
    }
    & .checkout__good-count {
        @include d-txt16();
        color: $grey-light2;
    }
    & .checkout__good-cost {
        color: $black2;
        font-family: $OpenSans;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
    }

    & .checkout__goods-count,
    & .checkout__goods-delivery,
    & .checkout__goods-total    {
        color: $black2;
        font-family: $FiraSans;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
        @include clearfix();
    }
    & .checkout__goods-count-left,
    & .checkout__goods-delivery-left,
    & .checkout__goods-total-left  {
        float: left;
    }
    & .checkout__goods-count-right,
    & .checkout__goods-delivery-right,
    & .checkout__goods-total-right  {
        float: right;
        color: $black2;
        font-family: $OpenSans;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
    }

    & .checkout__goods-count {
        margin-top: 25px;
        margin-bottom: 18px;
    }
    & .checkout__goods-delivery {
        margin-bottom: 25px;
    }
    & .checkout__goods-total {
        margin-top: 35px;
        margin-bottom: 14px;
    }
    & .checkout__goods-total-left {
        margin-top: 4px;
    }
    & .checkout__goods-total-right {
        margin-bottom: 19px;
        font-size: 24px;
    }
}

// ********************************** //
// ***** MEDIA CONSIST CONTENT ***** //
// ********************************** //
@media ($desktop-s) {
    .checkout__section--consist {
        & .checkout__title {
            display: none;
        }
        & .checkout__good {
            margin-top: 30px;
            &:first-of-type {
                margin-top: 5px;
            }
            &:last-of-type {
                margin-bottom: 25px;
            }
        }
        & .checkout__goods-total {
            margin-bottom: 24px;
        }
        & .checkout__goods-total-right {
            margin-bottom: 24px;
            font-size: 24px;
        }
    }
}