.tg {
  & a {
    @extend .link;
  }
  & h1 {
    @include m-h1();
  }

  & > ol {
    padding: 10px 0 0 5px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 21px;
  }
  h3, h2 {
    font-family: $FiraSans;
    font-weight: 500;
    margin-bottom: 30px;
    color: #343A40;
    line-height: 1.3em;
    & + img, & + iframe, & + video{
      padding-top: 0;
    }
  }

  strong{
    font-weight: 700;
    font-family: $FiraSans;
  }

  ol {
    list-style: none;
    counter-reset: li;
    margin: 0;
    padding-left: 0;
    text-indent: 0;
    list-style: none;
    & > li {
      color: $page-description;
      font-family: $FiraSans;
      font-weight: 400;
      margin-top: 15px;
      font-size: 20px;
      line-height: 1.3em;
      & > ol {
        padding-left: 10px;
        font-size: 20px;
        font-weight: 400;
        & > li {
          font-size: 20px;
          font-weight: 400 !important;
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &:before {
        counter-increment: li;
        content: counters(li, ".") ". ";
      }
      & > p {
        padding-top: 7px;
        padding-bottom: 7px;
      }
      & > ul {
        padding-top: 7px;
      }
      & > table {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 20px;
        font-weight: 400;
      }
      & > ol {
        padding-top: 7px;
      }
    }

  }

  p {
    color: $page-description;
    font-family: $FiraSans;
    font-weight: 400;
    line-height: 25px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  p + h3{
    margin-top: 17px;
  }
  p + p{
    margin-top: 10px;
  }
  p + ul{
    margin-top: 12px;
  }
  ul + p{
    margin-top: 12px;
  }
  & li {
    line-height: 12px !important;
    font-size: 16px !important;
    font-weight: 400;
  }
  & ul {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    text-indent: 0;
    list-style: disc outside;
    & ul{
      padding-top: 15px;
      padding-bottom: 10px;
    }
    & li {
      margin-bottom: 10px;
      padding-left: 10px;
      color: $page-description;
      font-family: $FiraSans;
      line-height: 25px !important;
      font-size: 16px !important;
      font-weight: 400;
      &:last-of-type {
        margin-bottom: 0;
      }
      line-height: 1.3em;
    }
  }
  & table {
    width: 100%;
  }
  & tr {
    &:not(:last-child) > td {
      padding-bottom: 15px;
    }
  }
}

@media ($desktop-s) {
  .tg {
    & h1 {
      font-size: 36px;
      line-height: 1.2em;
    }
    h2{
      font-size: 31px;
    }
    h3{
      font-size: 28px;
    }
    & p {
      font-size: 18px;
      line-height: 25px;
    }
    & ol {
      & li {
        font-size: 18px !important;
      }
    }
    & ul {
      & li {
        margin-bottom: 12px;
        font-size: 18px !important;
      }
    }
  }
}
