
// ========================================================================  //
// ================================= THEME GREY ============================ //
// ========================================================================  //
.form__select--theme_grey {
    position: relative;
    cursor: pointer;
    & .form__select-label {
        color: $black2;
        font-family: $FiraSans;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0;

    }
    & .form__select-list {
        display: none;
        position: absolute;
        left: 0;
        top: 75px;
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
        border-radius: 3px;
        background: #E9F0F8;
    }
    & .form__select-field
    {
        cursor: pointer;

        width: 100%;
        margin-top: 6px;
        padding: 15px;
        padding-right: 50px;
        color: $gray07;
        font-family: $FiraSans;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 20px;

        background: #E9F0F8;
        border-radius: 3px;
        outline: none;
        border: none;

        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;

        background-image: url('../images/select-arrow.png');
        background-position: right 17px center;
        background-repeat: no-repeat;
        @media  (-webkit-min-device-pixel-ratio: 1.5),
                (min-resolution: 144dpi) {
            background-image: url('../images/select-arrow@2x.png');
            background-size: 12px 6px;
        }
    }
    & .form__select-item {
        display: block;
        width: 100%;
        padding: 18px 0px;
        color: $gray07;
        font-family: $FiraSans;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 20px;

        overflow: hidden;
        white-space: nowrap;
        &:hover {
            color: $green08;
        }
    }

}

.form__select--theme_grey.form__select--open {
    .form__select-list {
        display: block;
    }

}
