
// ========================================================================  //
// ================================= THEME GREY ============================ //
// ========================================================================  //
.form__textarea--theme_grey {
    & label {
        color: $black2;
        font-family: $FiraSans;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0;

    }
    & textarea {
        padding: 15px;

        color: $gray07;
        font-family: $FiraSans;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 20px;

        background: #E9F0F8;
        border-radius: 3px;
        outline: none;
        border: none;
    }
}


