
// ========================================================================  //
// ================================= THEME GREY ============================ //
// ========================================================================  //
.form__radio--theme_grey {
    position: relative;
    padding-top: 20px;
    padding-bottom: 25px;
    & input {
        display: none;
        &:checked ~ label .form__radio-icon {
            border: 1px solid $green09;
            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 14px;
                height: 14px;
                left: 3px;
                top: 3px;
                border-radius: 50%;
                background: $green09;
            }
        }
    }
    & label {
        display: inline-block;
        padding-left: 35px;
    }
    .form__radio-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 1px solid $grey-light2;
        border-radius: 50%;

    }
    .form__radio-title {
        margin-bottom: 5px;
        @include m-h4();
        color: $black2;
    }
    .form__radio-description {
        margin-bottom: 37px;
        @include m-txt14();
        color: $grey-light2;
    }
    .form__radio-note {
        position: absolute;
        bottom: 25px;
        left: 35px;
        color: $green09;
        font-family: $OpenSans;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 20px;
    }
}

// ************************************************************************* //
// ************************** MEDIA COMMON CONTENT ************************* //
// ************************************************************************* //
@media ($desktop-s) {
    .form__radio--theme_grey {
        padding-bottom: 17px;
        & label {
            padding-left: 41px;
        }
        .form__radio-title {
            float: left;
            margin-bottom: 2px;
            @include d-h4();
        }
        .form__radio-description {
            clear: left;
            margin-bottom: 0px;
            @include d-txt16();
            line-height: 20px;
            color: $grey-light2;
        }
        .form__radio-note {
            position: static;
            float: left;
            margin-left: 15px;
            margin-bottom: 2px;
            line-height: 25px;
            vertical-align: middle;
        }
    }
}