
// ========================================================================  //
// ================================= THEME GREY ============================ //
// ========================================================================  //
.form__input--theme_grey {
    & label {
        color: $black2;
        font-family: $FiraSans;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0;

    }
    & input {
        padding: 15px;

        color: $gray07;
        font-family: $FiraSans;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 20px;

        background: #E9F0F8;
        border-radius: 3px;
        outline: none;
        border: none;
        &:focus {
            outline: 1px solid $green06;
            background: white !important;
        }
    }
}

.form__input--required {
    position: relative;
    & label {
        position: relative;
        &::before {
            position: absolute;
            content: '*';
            top: -3px;
            right: -11px;

            color: $pink08;
            font-family: $FiraSans;
            font-size: 21px;
            font-weight: 500;
            line-height: 25px;
        }
    }
}

// ************************************************************************* //
// ************************** MEDIA COMMON CONTENT ************************* //
// ************************************************************************* //
@media ($desktop-s) {
    .form__input--required {
        & label {
            position: static;
            font-size: 16px;
            line-height: 20px;

            &::before {
                top: 0px;
                right: -15px;
            }
        }
    }
}