.advantages__item
  display: flex
  align-items: center
  path
    fill: #8e959d
  +respond-to(dk)
    justify-content: center
  &:hover
    .advantages__item-text
      color: $brand
    .advantages__item-img path
      fill: $brand

.advantages__col
  width: 20%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding-left: 40px
  +respond-to(xlg)
    padding-left: 20px
  +respond-to(dk)
    width: 100%
    padding-left: 0

.advantages
  padding: 55px 0 55px 0
  +respond-to(md)
    padding: 30px 0 30px 0

.advantages__list
  display: flex
  margin-left: -40px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(xlg)
    margin-left: -20px
  +respond-to(dk)
    padding: 0 30px
    margin-left: 0

.advantages__item-img
  width: 40px
  height: 40px
  flex-shrink: 0

.advantages__item-text
  padding-left: 10px
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 16px
  color: #212529
  line-height: 1.3em

.advantages__list.owl-carousel
  .owl-dots
    display: flex
    justify-content: center
    align-items: center
    height: 35px
    margin-top: 30px
    +respond-to(md)
      height: 15px
      margin-top: 20px
  .owl-dot
    border-radius: 100%
    width: 10px
    overflow: hidden
    height: 10px
    background-color: #fff
    border: 1px solid #d1d7dc
    &:not(:last-child)
      margin-right: 5px
    &.active
      background-color: #868e96

  .owl-nav
    width: 0

  .owl-prev, .owl-next
    font-size: 0
    background-color: transparent
    font-family: $font-icon
    color: #e1dace
    &.disabled:before
      color: #b3b0b1

  .owl-prev, .owl-next
    position: absolute
    top: -35px
    height: 100%
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    &::before
      position: absolute
      top: 50%
      transition: all 0.2s ease 0s
      content: ''
      width: 40px
      height: 40px
      background-repeat: no-repeat
      background-position: center center
      -webkit-background-size: cover
      background-size: cover
    +respond-to(md)
      top: -20px

  .owl-prev
    &::before
      left: -30px
      +chevron(15px, 3px, l, #ced4da)
      transform: rotate(45deg) translateY(-50%)
  .owl-next
    right: -30px
    &::before
      right: 40px
      +chevron(15px, 3px, r, #ced4da)
      transform: rotate(45deg) translateY(-50%)
