.page-back-btn__icon
  width: 40px
  height: 25px
  stroke: $brand
  +trans()


.page-back-btn
  display: flex
  align-items: center
  text-decoration: none
  margin-bottom: 60px
  +respond-to(dk)
    margin-bottom: 30px

  &:hover
    .page-back-btn__text
      color: $brand-hover
    .page-back-btn__icon
      fill: $brand-hover

.page-back-btn__container
  +respond-to(lg)
    display: none

.page-back-btn__text
  margin-left: 15px
  color: $brand
  +trans()
