<div class="container page-back-btn__container">
    <a href="#" class="page-back-btn">
    <span class="page-back-btn__arrow-back">
        <svg class="page-back-btn__icon" xmlns="http://www.w3.org/2000/svg" width="42" height="26" viewBox="0 0 42 26"><title>icon/back</title><g fill="none" fill-rule="evenodd" stroke="#979797"><path d="M1 12.356h40" stroke-linecap="square"/><path d="M13.678.406L1.406 12.678 13.678 24.95"/></g></svg>
    </span>
        <div class="page-back-btn__text">
            {{ text }}
        </div>
    </a>
</div>
