@mixin respond-to($media)
	@if $media == sm
		@media only screen and (max-width: $b-small)
			@content
	
	@else if $media == md
		@media only screen and (max-width: $b-medium)
			@content
	
	@else if $media == lg
		@media only screen and (max-width: $b-large)
			@content
	
	@else if $media == dk
		@media only screen and (max-width: $b-desktop)
			@content
	
	@else if $media == xlg
		@media only screen and (max-width: $xlarge)
			@content
			
@mixin range-respond-to($media)
	@if $media == sm
		@media only screen and (max-width: $b-small)
			@content
	
	@else if $media == md
		@media only screen and (min-width: $small) and (max-width: $b-medium)
			@content
	
	@else if $media == lg
		@media only screen and (min-width: $medium) and (max-width: $b-large)
			@content
	
	@else if $media == xlg
		@media only screen and (min-width: $large) and (max-width: $xlarge)
			@content
	
	@else if $media == exlg
		@media only screen and (min-width: $xlarge)
			@content

=trans($trans: all 0.3s ease 0s)
	transition: $trans

=pos($var)
	@if $var == tm
		+transform(translateY(-50%))
		top: 50%
	@if $var == lm
		+transform(translateX(-50%))
		left: 50%
	@if $var == m
		+transform(translate3d(-50%, -50%, 0))
		top: 50%
		left: 50%

=phc($color)
	&::-webkit-input-placeholder
		color: $color !important
		opacity: 1 !important
	&::-moz-placeholder
		color: $color !important
		opacity: 1 !important
	&:-moz-placeholder
		color: $color !important
		opacity: 1 !important
	&:-ms-input-placeholder
		color: $color !important
		opacity: 1 !important

=fluid-columns($columns, $spaces, $mb)
	display: flex
	flex-wrap: wrap
	flex-direction: row
	margin-right: calc(#{$spaces} / 2 * (-1))
	margin-left: calc(#{$spaces} / 2 * (-1))
	position: relative
	margin-top: -$mb
	justify-content: center
	& > div
		box-sizing: border-box
		padding-top: $mb
		width: calc(1 / #{$columns} * 100%)
		padding-left: calc(#{$spaces} / 2)
		padding-right: calc(#{$spaces} / 2)

=chevron($size, $border-size, $direction, $color)
	z-index: 1
	content: ''
	display: inline-block
	width: $size
	height: $size
	background: transparent
	@if $direction == t
		border: transparent
		border-top: $border-size solid $color
		border-left: $border-size solid $color
	@else if $direction == r
		border: transparent
		border-top: $border-size solid $color
		border-right: $border-size solid $color
	@else if $direction == b
		border: transparent
		border-bottom: $border-size solid $color
		border-right: $border-size solid $color
	@else if $direction == l
		border: transparent
		border-bottom: $border-size solid $color
		border-left: $border-size solid $color


=box_sizing($params)
	-webkit-box-sizing: $params
	-moz-box-sizing: $params
	box-sizing: $params

=box_shadow($params)
	-webkit-box-shadow: $params
	-moz-box-shadow: $params
	box-shadow: $params

=transition($params)
	-webkit-transition: $params
	-moz-transition: $params
	-o-transition: $params
	transition: $params

=transform($params)
	-webkit-transform: $params
	-moz-transform: $params
	-ms-transform: $params
	-o-transform: $params
	transform: $params

=border_radius($params)
	-webkit-border-radius: $params
	-moz-border-radius: $params
	border-radius: $params

@import '_retina_sprites'

// =============================== CLEARFIX ================================ //
/** @mixin clearfix */ 
@mixin clearfix() 
    &::after
        content: "";
        display: table;
        clear: both;

/** @mixin clearfix-full */
@mixin clearfix-full()
    &::after
        content: "";
        display: table;
        clear: both;
    &::before
        content: "";
        display: table;
        clear: both;

/** @mixin clearfix-before */
@mixin clearfix-before()
    &::before
        content: "";
        display: table;
        clear: both;

// ============================ POSITION MIXIN ============================= //
@mixin pad-lr()
    padding-left: 20px
    padding-right: 20px
@mixin pad-lr30()
		padding-left: 30px
		padding-right: 30px
@mixin pad-lr50()
    padding-left: 50px
    padding-right: 50px
@mixin indent-lr()
    margin-left: 20px
    margin-right: 20px

@mixin page-top-indent-25-75()
    margin-top: 25px
    @media ($desktop-s)
        margin-top: 75px;

@mixin page-top-indent-25-45()
	margin-top: 25px
	@media ($desktop-s)
		margin-top: 45px;


@mixin container()
    max-width: 1225px
    margin-left: auto
    margin-right: auto

@mixin container800()
    max-width: 800px
    margin-left: auto
    margin-right: auto   

@mixin container924()
    max-width: 924px
    margin-left: auto
    margin-right: auto    

@mixin container1010()
    max-width: 1010px
    margin-left: auto
    margin-right: auto    

@mixin container1225()
    max-width: 1225px
    margin-left: auto
    margin-right: auto

@mixin container1265()
	max-width: 1265px
	margin-left: auto
	margin-right: auto
// ============================== IMAGE MIXIN ============================== //
@mixin imgauto()
    width: 100%
    height: auto

// =========================== TYPOGRAPHICS MIXIN ========================== //
@mixin m-h1()
    color: $page-title
    font-family: $FiraSans
    font-size: 27px
    font-weight: 500
    letter-spacing: -0.27px
    line-height: 30px
@mixin d-h1()
	color: $page-title
	font-family: $FiraSans
	font-size: 44px
	font-weight: 500
	letter-spacing: -0.44px
	line-height: 50px


@mixin m-h3()
	color: $black2
	font-family: $FiraSans
	font-size: 21px
	font-weight: 500
	line-height: 25px
	letter-spacing: 0px
@mixin d-h3()
	color: $black2
	font-family: $FiraSans
	font-size: 20px
	font-weight: 700
	line-height: 25px
	letter-spacing: 0px

@mixin m-h4()
	font-family: $FiraSans;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
@mixin d-h4()
	font-family: $FiraSans;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;

@mixin m-h5()
	color: $black
	font-family: $FiraSans
	font-size: 16px
	font-weight: 600
	line-height: 20px
	letter-spacing: 0.02px
@mixin d-h5()
	color: $black2
	font-family: $FiraSans
	font-size: 28px
	font-weight: 500
	line-height: 30px
	letter-spacing: -0.28px


@mixin m-txt13()
	font-family: $FiraSans
	font-size: 13px;
	font-weight: 400
	line-height: 15px;
	letter-spacing: 0;
@mixin m-txt14()
	font-family: $FiraSans
	font-size: 14px;
	font-weight: 400
	line-height: 20px;
	letter-spacing: 0;

@mixin d-txt16()
		color: $grey-light2
		font-family: $FiraSans
		font-size: 16px;
		font-weight: 400
		line-height: 20px;
		letter-spacing: 0;

@mixin d-txt20()
	font-family: $FiraSans
	font-size: 18px;
	font-weight: 400
	line-height: 20px;
	letter-spacing: 0;