.spare-category__list
  display: flex
  margin-left: -40px
  margin-top: -30px
  flex-wrap: wrap
  +respond-to(lg)
    margin-left: -20px
  +respond-to(md)
    margin-top: -10px
  &.spare-category__list--4
    .spare-category__col

      width: 25%
      +respond-to(dk)
        width: 33.333333%
      +respond-to(lg)
        width: 50%
      +respond-to(md)
        width: 100%

.spare-category__col
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 33.33333%
  padding-left: 40px
  padding-top: 30px
  +respond-to(lg)
    padding-left: 20px
    width: 50%
  +respond-to(md)
    width: 100%
    padding-top: 10px

.spare-category__img
  width: 75px
  display: flex
  align-items: center
  justify-content: center
  svg
    height: 60px
    +respond-to(lg)
      height: 45px

.spare-category__item
  display: flex
  align-items: center
  padding: 0 37px
  height: 100px
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.1)
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  text-decoration: none
  color: #343a40
  +trans()
  background-color: #ffffff
  &:hover
    color: $brand
    box-shadow: 0 12px 14px rgba(43, 138, 62, 0.3)
    .spare-category__txt
      color: $brand
  &.spare-category__item--big
    @media only screen and (min-width: 768px)
      height: 300px
      flex-direction: column
      justify-content: space-between
      padding-top: 40px
      padding-bottom: 40px
      padding-left: 20px
      .spare-category__txt
        margin-left: 0
        height: 40px
        display: flex
        align-items: flex-start
        justify-content: flex-start
        width: 100%
      .spare-category__img
        width: 120px
        svg
          height: 120px

  +respond-to(lg)
    padding: 0 20px
  +respond-to(md)
    height: 80px

.spare-category__txt
  margin-left: 27px
  color: #343a40
  font-family: $FiraSans
  font-size: 20px
  font-weight: 700
  line-height: 20px
  +respond-to(lg)
    font-size: 18px
    margin-left: 18px

.spare-category__section-title
  margin-bottom: 70px
  +respond-to(lg)
    margin-bottom: 40px

section.diagnostics.page-model__diagnostics
  margin-bottom: 106px !important
  +respond-to(lg)
    margin-bottom: 50px !important

.page-model__contain
  margin-left: auto
  margin-right: auto
  max-width: 800px

.page-model__tg.tg
  p
    line-height: 1.4em
  h1
    text-align: center
    margin-bottom: 30px
    +respond-to(lg)
      margin-bottom: 20px
  p + h2
    padding-top: 85px
    +respond-to(lg)
      padding-top: 15px
  h2
    text-align: center
    font-size: 36px
    margin-bottom: 40px
    +respond-to(lg)
      margin-bottom: 25px
  +respond-to(dk)
    h2, h1
      font-size: 24px
      text-align: left

.page-category-diagnostic__breadcrumb
  margin-bottom: 25px

.page-model__breadcrumb
  margin-bottom: 70px
  +respond-to(lg)
    margin-bottom: 25px

.page-category-diagnostic__notice
  color: #868e96
  font-family: $FiraSans
  margin-left: auto
  margin-right: auto
  max-width: 911px
  font-size: 17px
  font-weight: 400
  line-height: 25px
  padding-top: 100px
  +respond-to(lg)
    padding-top: 40px
    font-size: 14px