.category__item
  width: 33.3333333333%
  padding-left: 40px
  margin-top: 40px
  overflow: hidden
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(lg)
    width: 50%
  +respond-to(dk)
    padding-left: 20px
    margin-top: 20px
  +respond-to(sm)
    width: 100%
    margin-top: 0
    padding-left: 0
    &:first-child
      .thumbnail-item
        border-top: 1px solid #CED4DA

.category__breadcrumb
  margin-bottom: 25px

.page-title__category
  +respond-to(sm)
    margin-bottom: 20px !important

.category__list
  display: flex
  flex-wrap: wrap
  margin: -40px 0 45px -40px
  +respond-to(dk)
    margin-left: -20px
    margin-top: -30px
  +respond-to(sm)
    margin: 0 -21px 30px -21px

.category__sidebar
  width: 275px
  display: inline-block
  vertical-align: top
  margin-right: 40px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  border: 1px solid #CED4DA
  +respond-to(md)
    display: none

.category__main
  display: inline-block
  vertical-align: top
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: calc(100% - 320px)
  +respond-to(md)
    width: 100%

.category__sidebar-accordion-title
  background-color: transparent
  margin-bottom: 0
  font-size: 16px
  line-height: 50px
  padding: 0 0 0 65px
  user-select: none
  position: relative
  &:before
    content: ''
    left: 30px
    +chevron(7px, 1px, t,  #979797)
    position: absolute
    top: calc(50% + 3px)
    //transition: transform 0.2s ease 0s
    transform: translateY(-50%) rotate(45deg)
  &.uk-active
    &:before
      top: calc(50% - 3px)
      transform: translateY(-50%) rotate(225deg)

.category__sidebar-accordion-content
  padding: 0 0 25px 65px


.category__sidebar-accordion-block
  &:not(:last-child)
    border-bottom: 1px solid #CED4DA

.category__sidebar-accordion-link
  display: block
  text-decoration: none
  color: $text-primary
  +trans()
  line-height: 20px
  &:hover
    color: $brand
  &:not(:last-child)
    margin-bottom: 10px