.hamburger
  display: flex
  background: transparent
  box-shadow: none
  outline: none
  border: none
  cursor: pointer
  padding: 0
  width: 28px
  flex-direction: column
  justify-content: space-between
  span
    height: 3px
    background-color: $grey ///wd
    width: 27px
    &:not(:last-child)
      margin-bottom: 4px
    +respond-to(sm)
      &:not(:last-child)
        margin-bottom: 3px
      height: 2px
      width: 19px

  +respond-to(sm)
    width: 20px

.mobile-navbar
  border-bottom: 1px solid #CED4DA
  background-color: #fff
  display: none
  +respond-to(dk)
    display: block

.mobile-navbar__inner
  display: flex
  padding: 15px 0
  align-items: center
  justify-content: space-between
  +respond-to(sm)
    padding: 7px 0

.mobile-navbar__inner-block
  display: flex
  align-items: center
  justify-content: flex-start

.logo
  img
    width: auto
    height: auto

.mobile-navbar__logo
  height: 40px
  img
    height: 40px

.mobile-navbar__icon
  fill: $grey
  +respond-to(sm)
    width: 22px
    height: 22px


.mobile-navbar__phone, .mobile-navbar__search
  margin-right: 30px
  +respond-to(sm)
    margin-right: 16px

//.mobile-navbar__phone
//  display: inline-block
//  &:hover
//    svg
//      fill: $brand

.mobile-navbar__inner
  .icon-phone
    width: 26px !important
    height: 26px !important
    +respond-to(sm)
      width: 22px !important
      height: 22px !important
  //+respond-to(sm)
  //  .icon-phone
  //    width: 20px !important
  //    height: 26px !important



.mobile-navbar__hamburger
  margin-left: 40px
  +respond-to(sm)


.mobile-navbar__btn
  line-height: 40px

.mobile-navbar__btn-wrapper
  text-align: center
  padding: 0 10px 10px 10px