<div class="mobile-navbar {{ classes }}">
    <div class="container">
        <div class="mobile-navbar__inner">
            <div class="mobile-navbar__inner-block">

                <a href="#" class="logo mobile-navbar__logo">
                <img src="images/logo.png" alt="">
                </a>
            </div>

            <div class="mobile-navbar__inner-block">
                <span class="btn btn--primary btn--fullwidth  mobile-navbar__btn2" data-uk-modal="target:'#modal-callback', center:true">+7 (495) 507-71-08</span>
                <span class="mobile-navbar__search">
                    <svg class="icon-search mobile-navbar__icon" xmlns="http://www.w3.org/2000/svg" width="26.21" height="26.21" viewBox="0 0 26.21 26.21"><defs><style>.cls-1-2 {fill: none;stroke: #868e96;stroke-miterlimit: 10;stroke-width: 2px}</style></defs><title>icon-search</title><g data-name="Слой 2"><g data-name="Слой 1"><circle class="cls-1-2" cx="11" cy="11" r="10"></circle><path class="cls-1-2" d="M18 18l7.5 7.5"></path></g></g></svg>
                </span>
                <a href="tel:+74955077108" class="mobile-navbar__phone">
                    <svg class="icon-phone mobile-navbar__icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><defs><style>.cls-1-1{fill:#868e96;stroke:#868e96;stroke-miterlimit:10}</style></defs><title>icon-callback</title><g data-name="Слой 2"><g data-name="Слой 1"><path class="cls-1-1" d="M12.56 15.5a6.43 6.43 0 0 1-2.21-.5 16.59 16.59 0 0 1-5.57-3.81A16.58 16.58 0 0 1 1 5.65C.34 4 .34 2.64 1 2l.28-.29C1.81 1.14 2.45.46 3.29.5A2.46 2.46 0 0 1 5 1.61c1.71 2.13.94 2.89 0 3.77l-.16.16c-.15.15-.43.82 2.15 3.39a14.34 14.34 0 0 0 2.13 1.83c.36.23 1 .59 1.27.32l.16-.16c.88-.89 1.64-1.66 3.77 0a2.46 2.46 0 0 1 1.11 1.73 2.92 2.92 0 0 1-1.24 2.06L14 15a2 2 0 0 1-1.42.46zM3.23 1c-.6 0-1.15.57-1.63 1.08l-.28.29c-.46.46-.41 1.68.12 3.1a16 16 0 0 0 3.7 5.39 16 16 0 0 0 5.39 3.7c1.42.54 2.63.58 3.09.12l.29-.28c.52-.49 1.1-1 1.08-1.67a2 2 0 0 0-.92-1.36c-1.77-1.43-2.27-.92-3.09-.09l-.16.16c-.39.39-1 .31-1.9-.26a14.78 14.78 0 0 1-2.21-1.89C4.57 7.16 3.89 5.85 4.56 5.18L4.72 5c.84-.82 1.34-1.32-.09-3.1A2.06 2.06 0 0 0 3.27 1zm0 0M10.36 5.89a.25.25 0 0 1-.18-.43L15.07.57a.25.25 0 0 1 .36.36l-4.89 4.88a.24.24 0 0 1-.18.07zm0 0"></path><path class="cls-1-1" d="M15.25 4.74a.25.25 0 0 1-.25-.25V1h-3.49a.25.25 0 1 1 0-.5h3.73a.25.25 0 0 1 .25.25v3.74a.25.25 0 0 1-.25.25zm0 0"></path></g></g></svg>
                </a>
                <div class="page-header__cart mobile-navbar__cart">
                    <span class="mobile-navbar__cart-count">
                        3
                    </span>
                    <div class="page-header__cart-dd" data-uk-dropdown="{mode:'hover', pos:'bottom-left'}">
                        <!-- This is the element toggling the dropdown -->
                        <a href="#" class="page-header__cart-inner">
                            <svg class="icon-cart page-header__cart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 30.64"><defs><style>.cls-1-bag-mobile{fill:#868e96;}.cls-2-bag-mobile{fill:none;stroke:#868e96;stroke-miterlimit:10;stroke-width:2px;}</style></defs><title>icon-bag</title><g id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><path class="cls-1-bag-mobile" d="M36,7.64v4H2v-4H36m0-2H2a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H36a2,2,0,0,0,2-2v-4a2,2,0,0,0-2-2Z"></path><path class="cls-1-bag-mobile" d="M34,13.64v15H5v-15H34m0-2H5a2,2,0,0,0-2,2v15a2,2,0,0,0,2,2H34a2,2,0,0,0,2-2v-15a2,2,0,0,0-2-2Z"></path><line class="cls-2-bag-mobile" x1="19.13" y1="9.96" x2="28.38" y2="0.71"></line><path class="cls-1-bag-mobile" d="M8.88,19.64a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M14.88,19.64a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M8.88,25.39a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M14.88,25.39a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M24.13,19.64a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M30.13,19.64a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M24.13,25.39a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M30.13,25.39a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path></g></g></svg>
                            <div class="page-header__cart-text">
                                <div>
                                    <p>В корзине</p>
                                </div>
                                <strong>нет товаров</strong>
                            </div>
                        </a>

                        <!-- This is the dropdown -->
                        <div class="uk-dropdown page-header__cart-dropdown">
                            <div class="page-header__cart-dropdown-top">
                                <div class="page-header__cart-dropdown-item">
                                    <span class="page-header__cart-dropdown-close"></span>
                                    <div class="page-header__cart-dropdown-img">
                                        <img src="http://via.placeholder.com/200x200" alt="">
                                    </div>
                                    <div class="page-header__cart-dropdown-descr">
                                        <div class="page-header__cart-dropdown-title">
                                            <p>Задний фонарь от discovery 4 правый</p>
                                        </div>
                                        <div class="page-header__cart-dropdown-price">
                                            <p>16 497.23</p>
                                        </div>
                                    </div>
                                    <div class="page-header__cart-dropdown-count">
                                        <span class="page-header__cart-dropdown-count-plus"></span>
                                        <input type="text" class="page-header__cart-dropdown-input">
                                        <span class="page-header__cart-dropdown-count-minus"></span>
                                    </div>
                                </div>
                                <div class="page-header__cart-dropdown-item">
                                    <span class="page-header__cart-dropdown-close"></span>
                                    <div class="page-header__cart-dropdown-img">
                                        <img src="http://via.placeholder.com/200x200" alt="">
                                    </div>
                                    <div class="page-header__cart-dropdown-descr">
                                        <div class="page-header__cart-dropdown-title">
                                            <p>Задний фонарь от discovery 4 правый</p>
                                        </div>
                                        <div class="page-header__cart-dropdown-price">
                                            <p>16 497.23</p>
                                        </div>
                                    </div>
                                    <div class="page-header__cart-dropdown-count">
                                        <span class="page-header__cart-dropdown-count-plus"></span>
                                        <input type="text" class="page-header__cart-dropdown-input">
                                        <span class="page-header__cart-dropdown-count-minus"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="page-header__cart-dropdown-bottom">
                                <div class="page-header__cart-dropdown-res">
                                    <p class="page-header__cart-dropdown-res-text">
                                        Всего 3 товара на сумму
                                    </p>
                                    <span class="page-header__cart-dropdown-res-price">
                                   41 4634 <span>руб.</span>
                                </span>
                                </div>
                                <a href="#" class="btn btn--primary btn--fullwidth btn--ttu">перейти в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="hamburger mobile-navbar__hamburger" id="js-mobile-menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
    <div class="mobile-navbar__btn-wrapper">
        <span class="btn btn--primary btn--fullwidth  mobile-navbar__btn" data-uk-modal="target:'#modal-callback', center:true">+7 (495) 507-71-08</span>
    </div>
</div>