.b-callback__title
  display: inline-block
  vertical-align: middle
  font-size: 28px
  color: #fff
  margin-right: 40px
  font-family: 'Fira Sans', sans-serif
  font-weight: 500
  +respond-to(lg)
    display: block
    margin-right: 0
    margin-bottom: 20px
  +respond-to(md)
    font-size: 27px

.b-callback
  padding: 28px 0
  border-bottom: 1px solid #e3ecf1
  background-color: #2b8a3e
  height: 120px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(lg)
    height: auto
    height: initial
  .container
    max-width: 1030px
    display: flex
    justify-content: space-between
    align-items: flex-start
    +respond-to(lg)
      flex-direction: column



.b-callback__btn-wrapper .btn.btn--primary.b-callback__btn
  background: #fff
  color: #2b8a3e !important
  border: 1px solid transparent //ef
  height: 50px
  width: 240px
  margin-top: 7px
  margin-right: 23px
  &:hover
    background: #2b8a3e
    color: #fff !important
    border-color: #fff

.b-callback__btn-wrapper
  display: inline-block
  vertical-align: middle
  +respond-to(lg)
    display: block
    text-align: center

.b-callback__sub
  font-family: $FiraSans
  font-size: 16px
  font-weight: 400
  line-height: 20px
  padding-top: 10px

