<div class="b-callback">
    <div class="container">
        <div class="b-callback__title">
            <p>У вас остались вопросы? Мы перезвоним!</p>
            <p class="b-callback__sub">Оставьте свой телефон и мы свяжемся с вами</p>
        </div>
{#//qwdqwee#}
        <div class="b-callback__btn-wrapper">
            <span class="btn btn--primary btn--ttu b-callback__btn" data-uk-modal="target:'#modal-callback', center:true">
                Заказать звонок
            </span>
        </div>
    </div>
</div>