.other-work__item
  width: 33.3333333333%
  padding-left: 40px
  margin-top: 40px
  overflow: hidden
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(lg)
    width: 50%
  +respond-to(dk)
    padding-left: 20px
    margin-top: 20px
  +respond-to(md)
    width: 100%
    padding-left: 0


.other-work__list
  display: flex
  flex-wrap: wrap
  margin: -40px 0 45px -40px
  +respond-to(dk)
    margin-left: -20px
    margin-top: -20px
  +respond-to(md)
    margin-left: 0
    margin-bottom: 30px

.other-work__more-btn-wrapper
  text-align: center