.dk-select, .dk-select-multi
  width: 100%

.dk-select-open-down .dk-select-options
  margin-top: 7px
  padding: 0

.dk-selected:hover:before, .dk-selected:focus:before
  border-top-color: $brand

.dk-select-options

.form-select
  .dk-selected
    line-height: 50px
    border-radius: 3px
    font-family: 'Open Sans', sans-serif
    font-size: 16px
    border: none
    position: static
    padding: 0 20px
    &:before
      border-width: 0.26em 0.29em 0
      right: 10px
    &:after
      border: none
  .dk-option
    line-height: 50px
    padding: 0 20px
    &.dk-option-highlight
      background-color: inherit
      color: $brand
  .dk-select-options
    max-height: initial
  &.form-select--dark
    .dk-selected
      color: #ADB5BD
      background-color: #495057
    .dk-select-options
      background-color: #495057
      border: none
      border-radius: 3px
    .dk-option
      color: #ADB5BD
      &.dk-option-highlight
        background-color: #495057
        color: $brand
      &.dk-option-selected
        background-color: #495057
        color: $brand