.catalog__item
  width: 25%
  padding-left: 40px
  margin-top: 40px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(lg)
    width: 50%
  +respond-to(dk)
    padding-left: 20px
    margin-top: 20px
  +respond-to(sm)
    width: 100%
    margin-top: 0
    padding-left: 0
    &:first-child
      .spares-item.spares-item--big
        border-top: 1px solid #CED4DA
    .spares-item.spares-item--big
      border-bottom: 1px solid #CED4DA
    &:first-child
      .thumbnail-item
        border-top: 1px solid #CED4DA

.catalog__breadcrumb
  margin-bottom: 25px

.page-title__catalog
  margin-bottom: 25px
  +respond-to(sm)
    margin-bottom: 20px

.catalog__list
  display: flex
  flex-wrap: wrap
  margin: -40px 0 65px -40px
  +respond-to(dk)
    margin-left: -20px
    margin-top: -30px
  +respond-to(sm)
    margin: 0 0 30px 0

.catalog__pagination-wrapper
  display: flex
  justify-content: flex-start
  +respond-to(md)
    justify-content: center
    margin-bottom: 25px
  +respond-to(sm)
    display: none