.b-product__inner
  display: flex
  margin-left: -40px
  align-items: stretch
  +respond-to(lg)
    flex-direction: column
    margin-left: 0

.b-product__col
  width: 50%
  padding-left: 40px
  display: flex
  flex-direction: column
  +respond-to(lg)
    width: 100%
    padding-left: 0
    &:not(:last-child)
      margin-bottom: 25px

.b-product__image
  width: 100%
  height: 580px
  display: flex
  line-height: 0
  font-size: 0
  overflow: hidden
  background-color: #F3F4F5
  +respond-to(lg)
    height: 280px
  img
    object-fit: contain

.b-product__image-inner
  width: 100%
  margin: auto 0

h1.b-product__title-text
  font-size: 44px
  font-family: 'Fira Sans', sans-serif
  font-weight: 500
  margin-bottom: 20px
  +respond-to(md)
    font-size: 27px

.b-product__title-article
  font-size: 16px
  color: #ADB5BD
  +respond-to(lg)
    font-size: 14px
  span
    color: $text-primary
    display: inline
    margin-left: 7px

.b-product__title
  margin-bottom: 50px
  +respond-to(md)
    margin-bottom: 20px

.b-product__price
  font-size: 38px
  color: #343A40
  display: block
  margin-bottom: 30px
  font-family: 'Open Sans', sans-serif
  +respond-to(lg)
    text-align: center
  +respond-to(md)
    font-size: 24px

.b-product__count
  display: flex
  align-items: center
  margin-right: 30px
  +respond-to(md)
    margin-right: 0
.b-product__count-input
  width: 60px
  height: 50px
  font-size: 16px
  text-align: center
  line-height: 50px
  padding: 0 10px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif
  &:focus, &:hover, &.active
    border: 2px solid $brand
    outline: none

.b-product__count-minus, .b-product__count-plus
  width: 50px
  height: 50px
  position: relative
  display: block
  cursor: pointer
  &:hover
    &:before, &:after
      background-color: $brand

.b-product__actions
  display: flex
  align-items: center
  margin-bottom: 30px
  +respond-to(lg)
    justify-content: center

.b-product__count-minus
  &:before
    content: ''
    position: absolute
    width: 20px
    height: 2px
    left: 50%
    top: 50%
    background-color: #495057
    transform: translate(-50%,-50%)
  &.disabled:before
    background-color: #ADB5BD

.b-product__count-plus
  &:before, &:after
    content: ''
    position: absolute
    width: 20px
    height: 2px
    left: 50%
    background-color: #495057
    top: 50%

  &:before
    transform: translate(-50%,-50%)
  &:after
    transform: translate(-50%,-50%) rotate(90deg)

.b-product__period
  font-size: 14px
  color: #ADB5BD
  font-family: 'Fira Sans', sans-serif
  font-weight: 400
  font-style: italic
  margin-bottom: 60px
  +respond-to(lg)
    text-align: center
    margin-bottom: 40px

.b-product__note
  font-size: 16px
  line-height: 20px
  color: #343A40
  font-family: 'Fira Sans', sans-serif
  font-weight: 400

.card-spares__item
  width: 25%
  padding-left: 40px
  margin-top: 40px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(lg)
    width: 50%
  +respond-to(dk)
    padding-left: 20px
    margin-top: 20px
  +respond-to(sm)
    width: 100%
    margin-top: 0
    padding-left: 0
    &:first-child
      .spares-item.spares-item--big
        border-top: 1px solid #CED4DA
    .spares-item.spares-item--big
      border-bottom: 1px solid #CED4DA
    &:first-child
      .thumbnail-item
        border-top: 1px solid #CED4DA

.card-spares__list
  display: flex
  flex-wrap: wrap
  margin: -40px 0 45px -40px
  +respond-to(dk)
    margin-left: -20px
    margin-top: -30px
  +respond-to(sm)
    margin-bottom: 30px

