.arrow {
    position: relative;
    &::before {
        display: block;
        position: absolute;
        content: "";
        transform: rotate(-45deg);
    }
    
}

// SIZE
.arrow--size_15 {
    height: 25px;
    width: 25px;
    &::before {
        top:4px;
        left: 3px;
        width: 15.5px;
        height: 15.5px;
    }    
}
.arrow--size_12 {
    height: 12px;
    width: 12px;
    &::before {
        top:1px;
        left: 2px;
        width: 8.5px;
        height: 8.5px;
    }
}


// DIRECTION
.arrow--left {
}
.arrow--down {
    transform: rotate(-90deg);
}
.arrow--right {
    transform: scaleX(-1);
}

// COLOR
.arrow--color_grey {
    &::before {
        border: 1px solid $grey-light;
        border-right: none;
        border-bottom: none;
    }
    &::after {
        background: $grey-light;
    }
    
}
// FEATURE
.arrow--tail {
    width: 40px;
    &::after {
        display: block;
        position: absolute;
        content: "";
        top: 12px;
        left: 0;
        width: 40px;
        height: 1px;
    }
}


