#map
  height: 490px
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  +respond-to(lg)
    position: static
  +respond-to(md)
    height: 350px
  [class*="-image"]
    background-repeat: no-repeat !important

.map__section-inner
  height: 490px
  +respond-to(lg)
    height: auto
    height: initial

.map
  position: relative
  overflow: hidden
  margin-bottom: 0 !important
  &.page-contacts__map
    height: 480px
    #map
      height: 480px

.map__container
  position: relative


.map__popup
  width: 415px
  background: #fff
  z-index: 10
  padding: 40px
  position: absolute
  left: 20px
  top: 58px
  +respond-to(lg)
    left: 15px
    position: static
    width: 100%
    max-width: 768px
    padding: 30px 0 0 0
    margin: 0 auto 35px auto

.map__phone
  font-size: 44px
  display: block
  margin-bottom: 20px
  text-decoration: none
  font-family: 'Fira Sans', sans-serif
  font-weight: 500
  color: $text-primary
  +trans()
  &:hover
    color: $brand
  +respond-to(md)
    font-size: 30px

.b-mail
  color: $brand
  margin-bottom: 10px
  +trans()
  text-decoration: none
  &:hover
    text-decoration: underline
    color: $brand-hover

.map__popup-mail
  display: block
  margin-bottom: 20px

.map__popup-address
  margin-bottom: 40px
  line-height: 1.5em
  a
    +trans()
    color: $brand
    &:hover
      color: $brand-hover
  a, span
    display: inline


.get-route-btn
  display: flex
  align-items: center
  +trans()
  justify-content: center
  border-radius: 3px
  text-decoration: none
  min-height: 80px
  border: 1px solid $grey
  &:hover
    border-color: $brand
    .get-route-btn__icon path
      fill: $brand
    .get-route-btn__text
      color: $brand

.map__popup-get-route-btn
  width: 100%
  height: 80px

.get-route-btn__icon
  width: 53px
  height: 52px
  margin-right: 20px
  +trans()
  path
    +trans()
    fill: $grey

.get-route-btn__text
  font-size: 16px
  line-height: 20px
  +trans()
  text-decoration: none
  color: $grey