<section class="map {{ classes }}">
    <div class="section-inner map__section-inner">
            <div class="container map__container">
                <div class="map__popup">
                    <a href="tel:+74955077108" class="map__phone">+7 (495) 507-71-08</a>
                    <a href="mailto:info@lrstyle.ru" class="b-mail map__popup-mail">info@lrstyle.ru</a>
                    <div class="map__popup-address">
                        <span>Москва, ул. Рябиновая, 34а</span> <br>
                        <a href="https://www.google.ru/maps/place/55°41'23.8''N+37°25'22.0''E/">Координаты GPS:</a>
                        <br>
                        <span>
                            широта 55°41'23.8"N (55.689950), долгота 37°25'22.0"E (37.422781)
                        </span>
                    </div>
                    <a href="#" class="get-route-btn map__popup-get-route-btn">
                        <svg  class="icon-way get-route-btn__icon" id="way" viewBox="0 0 53.11 62.24" width="100%" height="100%"><title>icon-way</title><g
                                    id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><path class="cls-1" d="M10.3,31.12a1.53,1.53,0,1,0-1.47,2A1.72,1.72,0,0,0,9.27,33a1.53,1.53,0,0,0,1-1.91Zm0,0"></path><path class="cls-1" d="M7,49a1.54,1.54,0,1,0,.46,2.12A1.53,1.53,0,0,0,7,49Zm0,0"></path><path class="cls-1" d="M16.24,31.12a1.54,1.54,0,1,0-1.54,1.54,1.54,1.54,0,0,0,1.54-1.54Zm0,0"></path><path class="cls-1" d="M1.52,41.58a1.54,1.54,0,0,0,.22-3.06,1.53,1.53,0,1,0-.42,3,.53.53,0,0,0,.21,0Zm0,0"></path><path class="cls-1" d="M5.1,35.74a1.53,1.53,0,1,0-2.16.17,1.49,1.49,0,0,0,1,.37,1.56,1.56,0,0,0,1.17-.54Zm0,0"></path><path class="cls-1" d="M50.72,17.93a1.6,1.6,0,0,0,.64-.14,1.53,1.53,0,1,0-.64.14Zm0,0"></path><path class="cls-1" d="M22.17,31.12a1.54,1.54,0,1,0-1.54,1.54,1.54,1.54,0,0,0,1.54-1.54Zm0,0"></path><path class="cls-1" d="M1.72,44.44a1.54,1.54,0,0,0,.64,2.93A1.6,1.6,0,0,0,3,47.23a1.53,1.53,0,0,0-1.28-2.79Zm0,0"></path><path class="cls-1" d="M43.84,29.21a1.53,1.53,0,0,0,.43,3,1.9,1.9,0,0,0,.45-.06,1.54,1.54,0,0,0-.88-2.94Zm0,0"></path><path class="cls-1" d="M50.17,26.33a1.53,1.53,0,0,0-2,2.33,1.58,1.58,0,0,0,1,.37,1.52,1.52,0,0,0,1.16-.54,1.54,1.54,0,0,0-.17-2.16Zm0,0"></path><path class="cls-1" d="M28.09,31.12a1.54,1.54,0,1,0-1.54,1.54,1.54,1.54,0,0,0,1.54-1.54Zm0,0"></path><path class="cls-1" d="M48.19,12.81a1.54,1.54,0,1,0-1.29.7,1.53,1.53,0,0,0,1.29-.7Zm0,0"></path><path class="cls-1" d="M38.4,29.58a1.54,1.54,0,1,0,1.54,1.54,1.54,1.54,0,0,0-1.54-1.54Zm0,0"></path><path class="cls-1" d="M34,31.12a1.54,1.54,0,1,0-1.54,1.54A1.54,1.54,0,0,0,34,31.12Zm0,0"></path><path class="cls-1" d="M51.78,20.65a1.53,1.53,0,0,0-.42,3h.22a1.53,1.53,0,0,0,.2-3Zm0,0"></path><path class="cls-1" d="M41.29,8.81H17.87L24,2.63A1.54,1.54,0,0,0,21.87.45l-8.8,8.8a1.54,1.54,0,0,0,0,2.18l8.8,8.8a1.54,1.54,0,0,0,1.09.45A1.56,1.56,0,0,0,24,20.24a1.54,1.54,0,0,0,0-2.18l-6.18-6.18H41.28a1.54,1.54,0,0,0,0-3.07Zm0,0"></path><path class="cls-1" d="M29.44,42a1.54,1.54,0,0,0-2.18,2.18l6.18,6.18H11.8a1.54,1.54,0,0,0,0,3.07H33.44l-6.18,6.18a1.54,1.54,0,0,0,1.09,2.62,1.56,1.56,0,0,0,1.09-.45L38.24,53a1.54,1.54,0,0,0,0-2.18Zm0,0"></path></g></g></svg>
                        <span class="get-route-btn__text">
                            Построить маршрут <br> в автосервис
                        </span>
                    </a>
                </div>
            </div>
    </div>
    <div id="map">
    </div>
</section>

