.sertificates-gallery-item__overlay
  display: none

.sertificates-gallery-item
  width: 197px
  outline: none
  height: auto
  display: block
  position: relative
  img
    width: 100%
    height: auto
    object-fit: cover
  &:nth-child(2)
    margin-bottom: 30px
  &:after
    opacity: 0
    width: 53px
    z-index: 2
    height: 53px
    content: ''
    +trans()
    position: absolute
    top: 50%
    left: 50%
    display: block
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-image: url(../images/svg-icons/plus.svg)
    transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
  +respond-to(md)
    &:after
      height: 40px
      width: 40px
  +respond-to(sm)
    margin: 0 auto
  &:hover
    &:after
      opacity: 1

.self-dev
  padding-bottom: 80px
  +respond-to(lg)
    padding-bottom: 50px
  +respond-to(md)
    padding-bottom: 0

.sertificates-gallery__inner
  display: flex
  justify-content: center
  align-items: flex-end

.sertificates-section
  padding-bottom: 55px
  +respond-to(md)
    padding-bottom: 0