<div class="sertificates-gallery {{ classes }}">
    <div class="sertificates-gallery__inner">
        <a href="#" class="sertificates-gallery-item" data-fancybox="gallery" data-src="images/cert-big-web.jpg">
            <img src="images/cert-mini-web.jpg" alt="">

        </a>
        <a href="#" class="sertificates-gallery-item" data-fancybox="gallery" data-src="images/certificate-test2.jpg">
            <img src="images/certificate-test.jpg" alt="">

        </a>
    </div>
</div>
