.searchbar
  position: fixed
  top: 0
  width: 100%
  height: 90px
  z-index: 1
  background-color: #fff
  display: none
  +respond-to(md)
    height: 110px
  +respond-to(sm)
    height: 100px
  &.searchbar--visible
    display: flex

  +respond-to(dk)
    top: 54px

.searchbar__input
  flex-grow: 1
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  height: 100%
  +respond-to(dk)
    padding: 20px 0
  +respond-to(md)
    padding: 55px 0 20px 0
  +respond-to(md)
    padding: 30px 0 20px 0
    height: initial
  input
    height: 100%
    line-height: 90px
    width: 100%
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    border: none
    outline: none
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    +phc(#adb5bd)
    font-size: 16px
    &:focus
      outline: none
    +respond-to(dk)
      line-height: 65px
      height: 65px
      border-bottom: 2px solid $brand
    +respond-to(md)
      font-size: 14px

.searchbar__btn
  border: none
  background-color: transparent
  box-shadow: none
  outline: none
  height: 100%
  font-family: 'Open Sans', sans-serif
  font-size: 16px
  font-weight: 600
  color: #868e96
  display: flex
  +trans()
  align-items: center
  &:hover
    color: $brand
    .searchbar__btn-icon .cls-1-2
      stroke: $brand
  +respond-to(dk)
    font-size: 0
  +respond-to(md)
    width: 20px
    height: 20px
    position: absolute
    bottom: 27px
    right: 20px
    transform: translateY(-50%)
    padding: 0
  +respond-to(md)
    bottom: 25px

.searchbar__close
  width: 18px
  height: 18px
  margin-left: 65px
  img
    width: 100%
  +respond-to(dk)
    margin-left: 20px

  +respond-to(md)
    position: absolute
    right: 20px
    top: 15px
  +respond-to(sm)
    top: 5px

.searchbar__btn-icon
  margin-right: 5px
  +respond-to(md)
    margin-right: 0
    width: 20px
    height: 20px

.searchbar__form
  height: 100%
  display: flex

.searchbar__inner
  display: flex
  align-items: center
  max-width: 1235px
  width: 100%
  height: 100%
  margin: 0 auto
  padding: 0 60px 0 40px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(dk)
    padding: 0 20px