<div class="searchbar" id="search-bar">
    <form action="" class="searchbar__form">
        <div class="searchbar__inner">
            <div class="searchbar__input">
                <input type="text" placeholder="Ремонт двигателя">
            </div>
            <button type="submit" class="searchbar__btn">
                <svg class="icon-search searchbar__btn-icon" xmlns="http://www.w3.org/2000/svg" width="26.21" height="26.21" viewBox="0 0 26.21 26.21"><defs><style>.cls-1-2 {fill: none;stroke: #868e96;stroke-miterlimit: 10;stroke-width: 2px}</style></defs><title>icon-search</title><g data-name="Слой 2"><g data-name="Слой 1"><circle class="cls-1-2" cx="11" cy="11" r="10"></circle><path class="cls-1-2" d="M18 18l7.5 7.5"></path></g></g></svg>
                Найти
            </button>
            <div class="searchbar__close">
                <img src="images/close-searchbar.png" alt="">
            </div>
        </div>
    </form>
</div>