.header-logo
  max-width: 130px
  width: 100%
  margin-right: 55px
  a
    display: block
  img
    width: 100%
    height: auto

.logo-pannel__logo
  margin-right: 60px
  width: 100%
  max-width: 128px
  img
    width: auto
    height: 65px
  &.pinned
    img
      height: 50px

.logo-panel
  border-bottom: 1px solid #CED4DA
  z-index: 12
  padding: 11px 0
  background: #fff
  //position: fixed
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +trans()
  width: 100%
  +respond-to(dk)
    display: none
  &.logo-panel--pinned
    padding: 4px 0
    .logo-panel__phone
      margin-bottom: 0
    //.logo-pannel__logo
    //  img
    //    height: 40px

.logo-panel__inner
  display: flex
  padding: 0 25px
  align-items: center
  justify-content: flex-start

.logo-panel__menu
  flex-grow: 1
  display: flex
  flex-wrap: wrap
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  margin-top: -10px
  align-items: center
  justify-content: flex-start

.logo-panel__menu-item
  padding-top: 10px
  text-decoration: none
  font-size: 14px
  +trans()
  color: #868E96
  &:hover
    color: $brand
  &:not(:last-child)
    margin-right: 20px

  .icon-phone
    display: inline-block
    vertical-align: middle

.logo-panel__actions
  display: flex
  align-items: center
  justify-content: flex-start

.logo-panel__actions-inner
  margin-right: 55px
  display: flex
  align-items: center

.logo-panel__callback-icon
  background-image: url(../images/icon-callback-white.png)
  background-repeat: no-repeat
  background-position: center center
  -webkit-background-size: cover
  background-size: cover
  width: 20px
  height: 20px
  position: absolute
  top: 50%
  left: 20px
  transform: translateY(-50%)
  display: inline-block

.logo-panel__callback
  position: relative
  margin-left: 20px
  padding-left: 50px
  padding-right: 15px
  width: 220px

.logo-panel__phone
  white-space: nowrap
  transition: 0.3s linear all
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 17px
  color: #495057
  text-decoration: none

