<div class="logo-panel {{ classes }}">
    <div class="container">
        <div class="logo-panel__inner">
            <div class="logo-pannel__logo">
                <a href="#">
                    <img class="logo-pannel__logo-pic" src="images/logo.png" alt="">
                </a>
            </div>
            <div class="logo-panel__menu">
                <a href="about.html" class="logo-panel__menu-item">О компании</a>
                <a href="our-works.html" class="logo-panel__menu-item">Наши работы</a>
                <a href="#" class="logo-panel__menu-item">Сервис</a>
                <a href="promo.html" class="logo-panel__menu-item">Спецпредложения</a>
                <a href="#" class="logo-panel__menu-item">Контакты</a>
            </div>
            <div class="logo-panel__actions">
                <div class="logo-panel__actions-inner">
                    <a href="tel:+74955977108" class="logo-panel__phone">+7 (495) 507-71-08</a>
                    <span class="logo-panel__callback btn btn--primary btn--fullwidth" data-uk-modal="target:'#modal-callback-success', center:true">
                        <i class="logo-panel__callback-icon"></i>
                        Обратный звонок
                    </span>
                </div>
                <span class="logo-panel__searchBtn">
                    <svg class="icon-search" xmlns="http://www.w3.org/2000/svg" width="26.21" height="26.21" viewBox="0 0 26.21 26.21"><defs><style>.cls-1-2{fill:none;stroke:#868e96;stroke-miterlimit:10;stroke-width:2px}</style></defs><title>icon-search</title><g data-name="Слой 2"><g data-name="Слой 1"><circle class="cls-1-2" cx="11" cy="11" r="10"></circle><path class="cls-1-2" d="M18 18l7.5 7.5"></path></g></g></svg>
                </span>
            </div>
        </div>
    </div>
</div>