
.site-wrapper
  min-width: 300px
  background-color: #fff
  overflow-x: hidden

.position-relative
  position: relative

.our-works-details__inner
  display: flex
  +respond-to(dk)
    display: block

.our-works-details__article-contain
  flex-grow: 1
  flex-basis: 955px
  padding-right: 135px
  +respond-to(dk)
    flex-basis: 100%
    padding-right: 0

.article__contain>h2
  padding-top: 70px !important
  +respond-to(md)
    padding-top: 45px !important

.our-works-details__article-sidebar
  width: 280px
  +respond-to(dk)
    display: none


#site-wrapper-overlay, #page-header-overlay
  display: none
  position: fixed
  z-index: 100
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.4)
  &.openf
    display: block !important
  +respond-to(dk)
    z-index: 1005

.hide
  display: none

#site-wrapper-overlay2
  display: none
  position: fixed
  z-index: 100
  top: 0
  left: 0
  bottom: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.4)
  &.openf
    display: block !important

#page-header-overlay
  z-index: 0
  position: absolute

body
  width: initial
  height: initial
  font-family: 'Fira Sans', sans-serif
  font-weight: 400
  color: $text-primary

//img
//  width: 100%
//  height: auto

.tg
  h3
    font-weight: 500
    font-size: 28px !important
    line-height: 35px !important
    +respond-to(md)
      font-size: 21px !important
      line-height: 25px !important
  img
    width: 100%
    height: auto

.text-center
  text-align: center

.text-paragraph
  @extend .tg

.article__contain
  .text-paragraph
    padding-top: 40px

//.text-paragraph, .article__contain
  ul
    margin-bottom: 50px
    &:not(:first-child)
      padding-top: 30px
  li
    list-style: none
    position: relative
    padding-left: 33.5px
    line-height: 1.3em
    font-size: 20px
    &:not(:last-child)
      margin-bottom: 25px
    &:before
      content: ''
      display: block
      position: absolute
      background-color: #000
      border-radius: 100%
      top: 10px
      left: 12px
      width: 3.5px
      height: 3.5px
    +respond-to(md)
      font-size: 18px

.tg
  +respond-to(md)
    & p
      font-size: 16px
    & ul
      & li
        font-size: 18px

.article__text-block
  font-size: 20px
  line-height: 1.3em
  +respond-to(md)
    font-size: 18px

.page-main
  .diagnostics
    margin-bottom: 0 !important

.page-contacts
  .category
    margin-bottom: 0 !important

.associates.owl-carousel
  .owl-stage-outer
    padding: 0 1px 15px 1px

a[class*="__mail"]
  text-decoration: underline

a[class*="__phone"]
  pointer-events: none
  &:hover
    color: initial
  +respond-to(lg)
    pointer-events: initial
    &:hover
      color: $brand

.page-main
  padding-top: 35px
  & > section:not(:last-child)
    margin-bottom: 80px
    +respond-to(lg)
      margin-bottom: 60px
    +respond-to(md)
      margin-bottom: 50px
    &[class*="bg-"]
      padding-bottom: 35px
    &:last-child
      margin-bottom: 0
  +respond-to(sm)
    padding-top: 20px

.block-centered-680
  max-width: 680px
  margin: 0 auto

.md-text-left
  +respond-to(md)
    text-align: left

.slideout-panel
  will-change: initial
  z-index: 30

.owl-carousel
  z-index: 1

.img-full
  width: 100%
  img
    width: 100%
    height: auto

.b-delivery__img-full
  margin-bottom: 40px
  min-height: 100px
  img
    height: 100%
    width: 100%
    min-height: 100px
    object-fit: cover

.page-header
  position: fixed
  width: 100%
  top: 0

body
  height: initial
  width: initial

.page-header__nav
  .uk-open > .uk-dropdown, .uk-open > .uk-dropdown-navbar
    animation: none !important
    transition: none !important

.text2
  font-size: 17px
  line-height: 1.4em
  &.text2--grey
    color: #868E96
  +respond-to(md)
    font-size: 14px

.catalog__text
  padding-top: 120px
  +respond-to(lg)
    padding-top: 60px
  +respond-to(md)
    padding-top: 40px
  +respond-to(sm)
    padding-bottom: 40px
//

#panorama
  width: auto
  height: 400px
  overflow: hidden

.text-justify
  text-align: justify
//eff

.text-center
  text-align: center

.page-header__nav-list
  width: 100%

.page-header__navbar .section-inner > *
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center


