.promo-offers {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    font-size: 0px;
}
.promo-offers__preoffer {
    display: inline-block;
    vertical-align: top;    
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.promo-offers__preoffer-inner {
    height: 100%;
}
@media only screen and (max-width:499px){
    .promo-offers__preoffer-inner {
        width: 100%;
    }
}
@media ($tablet-s) {
    .promo-offers__preoffer {
        width: 50%;
        &:nth-of-type(2n+1) .promo-offers__preoffer-inner {
            margin-right: 10px;
        }
        &:nth-of-type(2n) .promo-offers__preoffer-inner {
            margin-left: 10px;
        }
    }
}
@media ($desktop-s) {
    .promo-offers__preoffer {
        width: 33.33%;
        margin-bottom: 40px;
        &:nth-of-type(2n+1) .promo-offers__preoffer-inner {
            margin-right: 0px;
        }
        &:nth-of-type(2n) .promo-offers__preoffer-inner {
            margin-left: 0px;
        }
        &:nth-of-type(3n+2) {
            width: 33.34%;
        }
        &:nth-of-type(3n+1) .promo-offers__preoffer-inner {
            margin-right: 27px;
        }
        &:nth-of-type(3n+2) .promo-offers__preoffer-inner {
            margin-left: 13px;
            margin-right: 13px;
        }
        &:nth-of-type(3n) .promo-offers__preoffer-inner {
            margin-left: 27px;
        }
        
    }
}