{# 
    * promo-offers.pug
    * Список карточек спецпредложений
    *
    * @block {promo-offers}  начало разметки блока
    * @variable {offers}  данные для блока promo-offer
    * @variable {classes} список примесей-классов
#} 
<article class="promo-offers {{ classes }}">
    {% for offer in offers %}
        <div class="promo-offers__preoffer">
            {% include "../promo-preoffer/promo-preoffer.twig" 
                with {
                    image: offer[0],
                    title: offer[1],
                    description: offer[2],
                    classes: "promo-offers__preoffer-inner"
                } 
            %}
        </div>        
    {% endfor %}
</article>