.tech-serv__inner
  display: flex
  flex-wrap: wrap
  +respond-to(lg)
    flex-direction: column

.tech-serv__col
  width: 50%
  position: relative
  z-index: 1
  +respond-to(lg)
    width: 100%
    display: flex
    justify-content: center

.tech-serv__bgr
  width: 50%
  height: 100%
  top: 0
  left: 0
  z-index: 0
  position: absolute
  background: url(../images/calcbg.jpg) no-repeat
  background-size: cover
  background-position: center
  &:before
    content: ''
    background: #000
    opacity: 0.5
    top: 0
    right: 0
    left: 0
    bottom: 0
    position: absolute
  +respond-to(lg)
    display: none

.tech-serv__bg
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 25px 20px 40px 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  position: relative
  z-index: 0
  +respond-to(lg)
    width: 100%
    padding: 20px
    background: url(../images/calcbg.jpg) no-repeat
    background-size: cover
    background-position: center
    &:before
      content: ''
      background: #000
      opacity: 0.5
      top: 0
      z-index: -1
      right: 0
      left: 0
      bottom: 0
      position: absolute

.tech-serv__title
  font-size: 44px
  font-family: $FiraSans
  font-weight: 500
  color: #fff
  +respond-to(lg)
    margin-bottom: 30px
    font-size: 30px
  +respond-to(md)
    font-size: 24px



.tech-serv__title-calc
  font-size: 28px
  font-family: $FiraSans
  font-weight: 500
  color: #fff
  margin-bottom: 40px
  +respond-to(lg)
    margin-bottom: 30px
  +respond-to(md)
    font-size: 24px

.tech-serv__description p
  color: #fff

.tech-serv
  background: #212529
  position: relative
  +respond-to(lg)
    .container
      padding: 0

.tech-serv__form
  width: 100%

.tech-serv__form-submit
  margin-top: 15px

.tech-serv__form-wrapper
  width: 100%
  max-width: 380px
  padding: 40px 0 40px 130px
  +respond-to(dk)
    padding: 30px 0 105px 20px
  +respond-to(lg)
    padding: 15px

.tech-serv__model-checker-list
  flex-wrap: wrap
  margin-bottom: 15px
  display: table
  width: 100%

.tech-serv__model-checker-row
  display: table-row
  width: 100%
  &:first-child
    .tech-serv__model-checker-item
      border-top: 1px solid #ADB5BD
      &:first-child
        border-top-left-radius: 3px
      &:last-child
        border-top-right-radius: 3px
  &:last-child
    .tech-serv__model-checker-item
      &:first-child
        border-bottom-left-radius: 3px
      &:last-child
        border-bottom-right-radius: 3px

.tech-serv__model-checker-item
  color: #ADB5BD
  width: 33.333333%
  font-size: 12px
  padding: 0 20px
  box-sizing: border-box
  text-align: center
  text-transform: uppercase
  height: 50px
  +trans()
  line-height: 15px
  display: table-cell
  position: relative
  z-index: 1
  cursor: pointer
  user-select: none
  vertical-align: middle
  border-right: 1px solid #ADB5BD
  border-bottom: 1px solid #ADB5BD
  &:first-child
    border-left: 1px solid #ADB5BD
  &.active, &:hover
    background: #E5E8EA
    color: #212529
  +respond-to(sm)
    padding: 0 5px

.tech-serv__form-select
  display: block

.tech-serv__form-select
  &:not(:last-child)
    margin-bottom: 15px

