<section class="tech-serv {{ classes }}">
    <div class="container">
        <div class="tech-serv__inner">
            <div class="tech-serv__bgr">
            </div>
            <div class="tech-serv__col">
                <div class="tech-serv__bg">
                    <div class="tech-serv__title">
                        <p>Техническое обслуживание</p>
                    </div>
                    <div class="tech-serv__description tg">
                        <p>Даже самому надёжному внедорожнику требуется регулярное техническое обслуживание и ремонт.
                            Land Rover не исключение.</p>
                        <p>Предлагаем широкий перечень сервисных работ для автомобиля Вашего класса.</p>
                    </div>
                </div>
            </div>
            <div class="tech-serv__col">
                <div class="tech-serv__form-wrapper">
                    <div class="tech-serv__title-calc">
                        <p>Расчет ТО</p>
                    </div>
                    <div class="tech-serv__form">
                        <form action="/service/to/" method="get">
                            <div class="tech-serv__model-checker-list" id="model-checker-list">
                                {#<div class="tech-serv__model-checker-row">#}
                                    {#<div class="tech-serv__model-checker-item active">RANGE ROVER</div>#}
                                    {#<div class="tech-serv__model-checker-item">Range Rover Sport</div>#}
                                    {#<div class="tech-serv__model-checker-item">Discovery</div>#}
                                {#</div>#}
                                {#<div class="tech-serv__model-checker-row">#}
                                    {#<div class="tech-serv__model-checker-item">RANGE ROVER</div>#}
                                    {#<div class="tech-serv__model-checker-item">Range Rover Sport</div>#}
                                    {#<div class="tech-serv__model-checker-item">Discovery</div>#}
                                {#</div>#}
                            </div>
                            <input type="text" class="is-hidden tech-serv__models-input" name="sections">
                            <div class="form-select form-select--dark tech-serv__form-select">
                                <select id="car-engine" name="sub_sections">
                                </select>
                            </div>
                            <div class="form-select form-select--dark tech-serv__form-select">
                                <select id="car-year" name="elements">
                                </select>
                            </div>
                            <button type="submit" class="btn btn--fullwidth btn--primary btn--ttu tech-serv__form-submit">
                                Рассчитать
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>