<section class="specials {{ classes }}">
    <div class="container">
        <div class="section-inner">
            {% include "../../components/section-title/section-title.twig" with {"title": "Спецпредложения", classes: "section-title--small-left"} %}
            <div class="thumbnail-list specials__thumbnail-list">
                <div class="specials__thumbnail-item">
                    {% include "../../components/thumbnail/thumbnail-item.twig" with {
                    "img": "images/specials1.jpg",
                    "title": "Диагностика подвески бесплатно!",
                    "text": "Спешите подготовиться к летним путешествиям!"
                    } %}
                </div>
                <div class="specials__thumbnail-item">
                    {% include "../../components/thumbnail/thumbnail-item.twig" with {
                    "img": "images/specials2.jpg",
                    "title": "Специальные цены на мойку радиаторов!",
                    "text": "Всего за 10 500 руб."
                    } %}
                </div>
                <div class="specials__thumbnail-item">
                    {% include "../../components/thumbnail/thumbnail-item.twig" with {
                    "img": "images/specials2.jpg",
                    "title": "Специальные цены на замену масла АКПП!",
                    "text": "Для всех владельцев автомобилей марки Land Rover наша компания предоставляет специальные цены на замену масла в АКПП в нашем сервисе!"
                    } %}
                </div>
                <div class="specials__thumbnail-item">
                    {% include "../../components/thumbnail/thumbnail-item.twig" with {
                    "img": "images/specials2.jpg",
                    "title": "Диагностика подвески бесплатно!",
                    "text": "Спешите подготовиться к летним путешествиям!"
                    } %}
                </div>
            </div>
            <div class="specials__more-btn-wrapper">
                <a href="#" class="btn btn--outline">Все спецпредложения</a>
            </div>
        </div>
    </div>
</section>