.section-title
  text-align: center
  margin-bottom: 30px
  font-size: 36px
  +respond-to(md)
    margin-bottom: 20px
    text-align: left
  h2, h3
    font-family: 'Fira Sans', sans-serif
    font-weight: 500
    +respond-to(md)
      font-size: 24px
  &.section-title--big
    font-size: 44px
  &.section-title--left
    text-align: left
  &.section-title--small-left
    text-align: left
    h2, h3
      font-size: 28px
      +respond-to(lg)
        font-size: 25px
  &.section-title--spares
    display: flex
    align-items: center
    +respond-to(sm)

.section-title__spares
  display: inline-flex
  text-decoration: none
  align-items: center
  &:hover
    .section-title__spares-arrow
      background-image: url(../images/svg-icons/arrow-circle-right-act.svg)


.section-title__spares-arrow
  margin-left: 30px
  width: 25px
  height: 25px
  -webkit-background-size: cover
  background-size: cover
  background-position: center center
  +trans()
  margin-right: 10px
  background-image: url(../images/svg-icons/arrow-circle-right.svg)

.section-title__spares-text
  color: $brand
  font-size: 16px
  +trans()