<div class="section-title {{ classes }} {% if type == 'spares' %} section-title--spares {% endif %}">
    <h2>{{ title }}</h2>
    {% if type == 'spares' %}
        <a href="#" class="section-title__spares">
            <span class="section-title__spares-arrow">
            </span>
            <span class="section-title__spares-text">
                Все запчасти
            </span>
        </a>
    {% endif %}
</div>