.success-plate {
    position: relative;
    padding: 40px 20px 80px;
    border: 1px solid $gray04;
    border-bottom: transparent;
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.10);
    &::before {
        position: absolute;
        content: "";
        display: block;
        left: -1px;
        bottom: -7px;
        width: 100%;
        height: 9px;

        background: url('../images/cart-corner.png');
        background-size: 18px 9px;
        background-repeat: round;
        @media  (-webkit-min-device-pixel-ratio: 1.5),
        (min-resolution: 144dpi) {
            background: url('../images/cart-corner@2x.png');
            background-size: 18px 9px;
            background-repeat: round;
        }
    }

}

.success-plate__icon {
    text-align: center;
    margin-bottom: 38px;
}
.success-plate__icon-inner {
    display: inline-block;
    width: 94px;
    height: 94px;
    background: url('../images/success-order.svg');
}

.success-plate__title {
    margin-bottom: 27px;

    @include m-h5();
    color: $gray09;
    text-align: center;
}
.success-plate__descripton {
    @include m-txt14();
    color: $black2;
    text-align: center;
}
// ********************************** //
// ************** MEDIA ************* //
// ********************************** //
@media ($desktop-s) {
    .success-plate {
        padding: 60px 100px 120px;
        &::before {
            background-size: 36px 9px;
            @media  (-webkit-min-device-pixel-ratio: 1.5),
            (min-resolution: 144dpi) {
                background-size: 36px 9px;
            }
        }
    }
    .success-plate__icon {
        text-align: center;
        margin-bottom: 58px;
    }
    .success-plate__title {
        margin-bottom: 17px;

        @include d-h5();
        color: $gray09;
    }
    .success-plate__descripton {
        @include d-txt16();
        color: $black2;
    }

}