{# 
    * success-plate.twig
    * Табличка упешного завершения процесса
    *
    * @block {cart}  начало разметки блока
    * @variable {goods}  данные для блока cart-good
    * @variable {classes} список примесей-классов
#} 
<div class="success-plate {{ classes }}">
    <div class="success-plate__icon">
        <span class="success-plate__icon-inner "></span>
    </div>
    <p class="success-plate__title">Заказ № 123456789 оформлен</p>
    <p class="success-plate__descripton">
        В ближайшее время с Вами свяжется наш менеджер для подтверждения
        заказа и уточнения деталей. Спасибо за заказ!
    </p>
</div>