.form-participation
  border: 1px solid #CED4DA
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.10)
  padding: 60px 50px 35px 50px
  +respond-to(lg)
    padding: 60px 20px 35px 20px
  +respond-to(sm)
    border: none //dwdwdw
    box-shadow: none
    padding: 0 20px

.page-promo-detail__form-participation
  +respond-to(lg)
    margin: 0 -21px
  +respond-to(sm)
    padding-top: 35px

.page-promo-detail__form-container
  @extend .container
  margin-bottom: 80px
  +respond-to(sm)
    margin-bottom: 60px

.form-participation__inner
  display: flex
  align-items: center
  margin-bottom: 35px
  +respond-to(dk)
    flex-direction: column
  +respond-to(md)
    margin-bottom: 0

.form-participation__list
  margin-left: -17px
  margin-top: -50px
  display: flex
  align-items: center
  flex-grow: 1
  margin-right: 50px
  +respond-to(dk)
    margin-right: 0
    width: 100%
    margin-bottom: 30px
  +respond-to(md)
    margin-left: 0
    flex-direction: column

.form-participation__label
  position: absolute
  top: -25px
  left: 0
  font-size: 16px
  color: #343A40

.form-participation__input-col
  width: 33.333333%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding-left: 17px
  padding-top: 50px
  +respond-to(md)
    width: 100%
    padding-left: 0

.form-participation__input-wrapper
  position: relative
  input
    line-height: 50px
    height: 50px
    background-color: #E9F0F8

.form-participation__notice
  font-size: 14px
  text-align: center
  color: #868E96
  font-family: $FiraSans
  line-height: 20px
  +respond-to(md)
    display: none

.form-participation__submit
  min-width: 240px
  +respond-to(sm)
    width: 100%
.promo-detail__breadcrumb
  margin-bottom: 25px

.promo-detail__breadcrumb
  +respond-to(md)
    margin-top: -30px
  +respond-to(sm)
    margin-top: -30px


.promo-offer__image
  +respond-to(dk)
    margin-bottom: 30px //wdwdwd