<div class="form-participation {{ classes }}">
    <form action="">
        <div class="form-participation__inner">
            <div class="form-participation__list">
                <div class="form-participation__input-col">
                    <div class="input-wrapper form-participation__input-wrapper">
                        <label for="" class="form-participation__label">Телефон</label>
                        <input type="text" placeholder="" name="phone">
                    </div>
                </div>
                <div class="form-participation__input-col">
                    <div class="input-wrapper form-participation__input-wrapper">
                        <label for="" class="form-participation__label">E-mail</label>
                        <input type="text" placeholder="">
                    </div>
                </div>
                <div class="form-participation__input-col">
                    <div class="input-wrapper form-participation__input-wrapper">
                        <label for="" class="form-participation__label">Имя</label>
                        <input type="text" placeholder="">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn--primary btn--ttu form-participation__submit">Участвовать</button>
        </div>
        <div class="form-participation__notice">
            <p>Нажимая кнопку «Записаться», Вы принимаете условия Политики о конфиденциальности.</p>
        </div>
    </form>
</div>