.promo-offer {
    text-decoration: none;
    
    background: white;
}
.promo-offer__image {
    line-height: 0;
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@media ($desktop-s) {
    .promo-offer {
        display: flex;
        align-items: stretch;
    }
    .promo-offer__image {
        width: 100%;
        max-width: 485px;
        max-height: 325px;
    }
    .promo-offer__content {
        padding-left: 40px;
    }
}
