{# 
    * promo-offer.pug
    * Детальная карточка спецпредложения
    *
    * @block {promo-offer}    начало разметки блока
    * @variable {classes}     список примесей-классов
#} 
<section href="#" class="promo-offer {{ classes }}">
    <div class="promo-offer__image">
        <img src="images/page-promo-detail__offer1.jpg">
    </div>
    <div class="promo-offer__content tg">
        <p>Чтобы Ваш любимец ездил долго и без осложнений, нужно обязательно делать 
           Техническое обслуживание Land Rover Range Rover 4.4 Diesel 2013.</p>
        <p>Специально на эту осень мы понизили цены на ТО Ренж Ровер 4,4 Дизель. 
           Стоимость тех. обслуживания составляет 18000 рублей.</p>
        <p>В стоимость ТО входит:</p>
        <ul>
            <li>замена масла, фильтра ДВС, масляный фильтр LR022896;</li>
            <li>воздушный фильтр 2 штуки, салонный и топливный фильтра;</li>
            <li>также диагностика ходовой, трансмиссии, компьютерная диагностика, 
                проверка уровней и состояния жидкостей Вашего Ленд Ровер Ренж Ровер.
            </li>
        </ul>
    </div>
</section>