.associates-item
  background: #FFFFFF
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.10)
  min-height: 290px
  width: 250px
  margin: 0 auto
  padding: 30px 10px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  display: flex
  align-items: center
  flex-direction: column
  +respond-to(sm)
    box-shadow: none
    flex-direction: row
    width: 100%
    height: initial
    min-height: initial
    align-items: flex-start
    padding: 0
    &:not(:last-child)
      margin-bottom: 30px

.associates-item-img
  overflow: hidden
  width: 120px
  height: 120px
  border-radius: 100%
  margin-bottom: 20px
  +respond-to(sm)
    width: 60px
    height: 60px
    margin-right: 20px
    margin-bottom: 0
  img
    width: 100%

.associates-item-name
  font-family: 'Fira Sans', sans-serif
  font-weight: 500
  line-height: 25px
  margin-bottom: 10px
  font-size: 18px

.associates-item-description
  flex-grow: 1
  text-align: center
  display: flex
  flex-direction: column
  justify-content: space-between
  +respond-to(sm)
    flex-grow: 0
    text-align: left

.associates-item-description__inner
  line-height: 20px

.associates.owl-carousel, .sertificates-gallery__inner.owl-carousel, .page-index__stock-list.owl-carousel
  .owl-nav.disabled
    display: block
  .owl-nav
    width: 0

  .owl-prev, .owl-next
    font-size: 0
    background-color: transparent
    font-family: $font-icon
    color: #e1dace //wdwd
    &.disabled:before
      color: #b3b0b1

  .owl-prev, .owl-next
    position: absolute
    top: 50%
    &.disabled:before
      color: #b3b0b1

  .owl-prev
    transform: translate(-85%, -50%) rotate(45deg)
    left: 0
    +chevron(25px, 2px, l, #CED4DA)
    +respond-to(xlg)
      transform: translate(0, -50%) rotate(45deg)

  .owl-next
    transform: translate(85%, -50%) rotate(45deg)
    right: 0
    +chevron(25px, 2px, r, #CED4DA)
    +respond-to(xlg)
      transform: translate(0, -50%) rotate(45deg)
