<div class="associates-item">
    <div class="associates-item-img">
        <img src="http://via.placeholder.com/120x120" alt="">
    </div>
    <div class="associates-item-description">
        <div class="associates-item-name">
            <p>{{ name }}</p>
        </div>
        <div class="associates-item-description__inner">
            <div class="associates-item-post">
                <p>{{ post }}</p>
            </div>
            <div class="associates-item-exp">
                <p>{{ exp }}</p>
            </div>
        </div>
    </div>
</div>