.specials__thumbnail-list
  display: flex
  overflow: hidden
  margin-top: -20px
  margin-left: -40px
  margin-bottom: 45px
  flex-wrap: wrap
  +respond-to(lg)
    margin-left: 0
  +respond-to(md)
    margin-bottom: 30px

.specials__thumbnail-item
  padding-left: 40px
  padding-top: 20px
  width: 25%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(dk)
    width: 33.3333333333%
    &:last-child
      display: none
  +respond-to(lg)
    width: 100%
    padding-left: 0
    margin: 0 auto
    max-width: 520px

.specials__more-btn-wrapper
  text-align: center
