

.callback-form-inline
  border: 1px solid #CED4DA
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.10)
  padding: 40px 50px 35px 50px
  +respond-to(lg)
    padding: 60px
  +respond-to(md)
    padding: 40px 20px
  +respond-to(sm)
    padding: 20px

.page-result__callback-container
  margin-bottom: 200px
  +respond-to(md)
    padding: 0
    margin: 0 -1px 50px -1px

.callback-form-inline__list
  display: flex
  margin-bottom: 45px
  margin-top: -40px
  align-items: flex-end
  +respond-to(xlg)
    flex-direction: column
  +respond-to(md)
    margin-bottom: 50px

.callback-form-inline__col
  width: 50%
  margin-top: 40px
  +respond-to(xlg)
    justify-content: center
    width: 100%

h3.callback-form-inline__title
  font-size: 36px
  font-family: $FiraSans
  font-weight: 500
  display: block
  margin-bottom: 20px
  color: #343A40
  +respond-to(md)
    font-size: 25px

.callback-form-inline__submit, .callback-form-inline__input-wrapper
  width: 50%
  +respond-to(md)
    width: 100%

.callback-form-inline__submit
  +respond-to(md)
    .btn
      width: 100%

.callback-form-inline__text
  font-size: 20px
  +respond-to(md)
    font-size: 17px

.callback-form-inline__input-wrapper
  margin-right: 50px
  +respond-to(md)
    margin-right: 0
    margin-bottom: 30px

.callback-form-inline__form-inner
  display: flex
  align-items: center
  +respond-to(md)
    flex-direction: column

.callback-form-inline__notice
  font-size: 14px
  color: #868E96
  line-height: 20px

