<div class="callback-form-inline {{ classes }}">
    <form action="">
        <div class="callback-form-inline__list">
            <div class="callback-form-inline__col">
                <h3 class="callback-form-inline__title">
                    Не нашли подходящий товар?
                </h3>
                <p class="callback-form-inline__text">
                    Оставьте телефон и мы перезвоним, чтобы помочь.
                </p>
            </div>
            <div class="callback-form-inline__col">
                <div class="callback-form-inline__form-inner">
                    <div class="input-wrapper callback-form-inline__input-wrapper">
                        <input type="text" placeholder="+7" name="phone">
                    </div>
                    <div class="callback-form-inline__submit">
                        <button type="submit" class="btn btn--primary btn--ttu">Перезвоните мне</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p class="callback-form-inline__notice">
        Нажимая кнопку «Перезвоните мне», Вы принимаете условия <a class="link" href="/policy.php" target="_blank">Политики о конфиденциальности</a>.
    </p>
</div>