.slide-menu__nav
  margin-bottom: 20px
  width: 100%
  li
    &:not(:last-child)
      margin-bottom: 15px
    &.slide-menu__nav-parent
      &:hover
        & > a
          color: $brand
          &:after
            border-right-color: $brand
            border-top-color: $brand
      & > a:after
        +chevron(7px, 2px, r, $text-primary)
        transform: rotate(45deg)
        position: absolute
        right: 5px
        +trans()
        top: 3px
    & > a
      font-family: 'Fira Sans', sans-serif
      font-weight: 600
      font-size: 16px
      color: $text-primary
      text-decoration: none
      width: 100%
      position: relative
      display: inline-block
      +trans()



.slideout-menu
  width: 270px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  display: none
  z-index: 20
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.22)
  overflow-y: auto
  overflow-x: hidden
  border-right: 1px solid black
  background-color: #fff

.slide-menu__close
  background-color: #fff
  height: 50px
  width: 50px
  text-align: center
  position: fixed
  top: 0
  z-index: 40
  border-left: 1px solid #CED4DA
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  &.open
    left: 269px
  img
    width: 17px
    height: 17px

.slide-menu__nav-submenu
  left: 340px
  z-index: 10
  width: 270px
  height: 100%
  position: fixed
  background-color: #fff
  transition: 0.3s all linear
  top: 0
  &.active
    left: 0

.slide-menu__bar
  padding: 20px
  display: flex
  flex-direction: column
  align-items: flex-start
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
.slide-menu__nav-submenu-content
  padding: 0 20px
  li
    font-family: "OpenSans-Semibold"
    & > a
      +trans()
      &:hover
        color: $brand
    & > ul
      & > li
        padding-left: 30px
        & > a
          font-family: 'Open Sans', sans-serif
          font-weight: 400

.slide-menu__nav-submenu-header
  line-height: 60px
  padding: 0 60px
  color: #CED4DA
  position: relative
  cursor: pointer
  &:before
    +chevron(7px, 2px, l, $text-primary)
    transform: rotate(45deg)
    position: absolute
    left: 22px
    top: 25px

.slide-menu__nav-static
  margin-bottom: 20px
  width: 100%

.slide-menu__bar-bottom
  width: 100%
  margin-top: auto

.slide-menu__nav-static-item
  color: #868E96
  font-size: 14px
  +trans()
  display: block
  text-decoration: none
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  &:not(:last-child)
    margin-bottom: 10px
  &:hover
    text-decoration: underline
  &--brand
    color: $brand
    &:hover
      color: $brand-hover
