<nav id="slide-menu" class="slideout-menu">

    <div id="offcanvas">
        <div class="uk-position-relative">
            <div class="slide-menu__bar" mode="push">
                <ul class="slide-menu__nav  uk-nav-parent-icon mb-20" data-uk-nav="">
                    <li class="slide-menu__nav-parent">
                        <a href="#">Range Rover</a>
                        <div class="slide-menu__nav-submenu">
                            <div class="slide-menu__nav-submenu-header">
                                <p>Range Rover</p>
                            </div>
                            <div class="slide-menu__nav-submenu-content">
                                <ul>
                                    <li><a href="">Стоимость ТО</a></li>
                                    <li><a href="">Диагностика и ремонт</a></li>
                                    <li><a href="">Запчасти</a></li>
                                    <li><a href="">Аксессуары</a></li>
                                    <li>
                                        <ul>
                                            <li><a href="">Range Rover</a></li>
                                            <li><a href="">Range Rover 2010</a></li>
                                            <li><a href="">Range Rover 2013</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="slide-menu__nav-parent">
                        <a href="#">Range Rover Sport</a>
                        <div class="slide-menu__nav-submenu">
                            <div class="slide-menu__nav-submenu-header">
                                <p>Range Rover Sport</p>
                            </div>
                            <div class="slide-menu__nav-submenu-content">
                                <ul>
                                    <li><a href="">Стоимость ТО</a></li>
                                    <li><a href="">Диагностика и ремонт</a></li>
                                    <li><a href="">Запчасти</a></li>
                                    <li><a href="">Аксессуары</a></li>
                                    <li>
                                        <ul>
                                            <li><a href="">Range Rover</a></li>
                                            <li><a href="">Range Rover 2010</a></li>
                                            <li><a href="">Range Rover 2013</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="slide-menu__nav-parent">
                        <a href="#">Discovery</a>
                        <div class="slide-menu__nav-submenu">
                            <div class="slide-menu__nav-submenu-header">
                                <p>Discovery</p>
                            </div>
                            <div class="slide-menu__nav-submenu-content">
                                <ul>
                                    <li><a href="">Стоимость ТО</a></li>
                                    <li><a href="">Диагностика и ремонт</a></li>
                                    <li><a href="">Запчасти</a></li>
                                    <li><a href="">Аксессуары</a></li>
                                    <li>
                                        <ul>
                                            <li><a href="">Range Rover</a></li>
                                            <li><a href="">Range Rover 2010</a></li>
                                            <li><a href="">Range Rover 2013</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="slide-menu__nav-parent">
                        <a href="#">Freelander</a>
                        <div class="slide-menu__nav-submenu">
                            <div class="slide-menu__nav-submenu-header">
                                <p>Freelander</p>
                            </div>
                            <div class="slide-menu__nav-submenu-content">
                                <ul>
                                    <li><a href="">Стоимость ТО</a></li>
                                    <li><a href="">Диагностика и ремонт</a></li>
                                    <li><a href="">Запчасти</a></li>
                                    <li><a href="">Аксессуары</a></li>
                                    <li>
                                        <ul>
                                            <li><a href="">Range Rover</a></li>
                                            <li><a href="">Range Rover 2010</a></li>
                                            <li><a href="">Range Rover 2013</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="slide-menu__nav-parent">
                        <a href="#">Defender</a>
                        <div class="slide-menu__nav-submenu">
                            <div class="slide-menu__nav-submenu-header">
                                <p>Defender</p>
                            </div>
                            <div class="slide-menu__nav-submenu-content">
                                <ul>
                                    <li><a href="">Стоимость ТО</a></li>
                                    <li><a href="">Диагностика и ремонт</a></li>
                                    <li><a href="">Запчасти</a></li>
                                    <li><a href="">Аксессуары</a></li>
                                    <li>
                                        <ul>
                                            <li><a href="">Range Rover</a></li>
                                            <li><a href="">Range Rover 2010</a></li>
                                            <li><a href="">Range Rover 2013</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="slide-menu__nav-parent">
                        <a href="#">Evoque</a>
                        <div class="slide-menu__nav-submenu">
                            <div class="slide-menu__nav-submenu-header">
                                <p>Evoque</p>
                            </div>
                            <div class="slide-menu__nav-submenu-content">
                                <ul>
                                    <li><a href="">Стоимость ТО</a></li>
                                    <li><a href="">Диагностика и ремонт</a></li>
                                    <li><a href="">Запчасти</a></li>
                                    <li><a href="">Аксессуары</a></li>
                                    <li>
                                        <ul>
                                            <li><a href="">Range Rover</a></li>
                                            <li><a href="">Range Rover 2010</a></li>
                                            <li><a href="">Range Rover 2013</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="slide-menu__nav-parent">
                        <a href="#">Velar</a>
                        <div class="slide-menu__nav-submenu">
                            <div class="slide-menu__nav-submenu-header">
                                <p>Velar</p>
                            </div>
                            <div class="slide-menu__nav-submenu-content">
                                <ul>
                                    <li><a href="">Стоимость ТО</a></li>
                                    <li><a href="">Диагностика и ремонт</a></li>
                                    <li><a href="">Запчасти</a></li>
                                    <li><a href="">Аксессуары</a></li>
                                    <li>
                                        <ul>
                                            <li><a href="">Range Rover</a></li>
                                            <li><a href="">Range Rover 2010</a></li>
                                            <li><a href="">Range Rover 2013</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="slide-menu__nav-static">
                    <a href="#" class="slide-menu__nav-static-item">О компании</a>
                    <a href="#" class="slide-menu__nav-static-item">Наши работы</a>
                    <a href="#" class="slide-menu__nav-static-item">Оптовикам</a>
                    <a href="#" class="slide-menu__nav-static-item">Спецпредложения</a>
                    <a href="#" class="slide-menu__nav-static-item">Контакты</a>

                </div>

                <div class="slide-menu__bar-bottom">
                    <a href="#" class="slide-menu__nav-static-item slide-menu__nav-static-item--brand">Записаться на
                        диагностику</a>
                    <a href="#" class="slide-menu__nav-static-item slide-menu__nav-static-item--brand">Заказать обратный звонок</a>
                    <div class="text-center">
                        <a href="tel:+74955077108" class="btn btn--primary btn--fullwidth">+7 (495) 507-71-08</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div id="mobile-filter">
        {#<i class="uk-offcanvas-bar__close slide-menu__close"></i>#}
    </div>
</nav>