.diagnostics
  background-color: #e1e5e9
  padding: 40px 0 43px 0
  -webkit-background-size: cover
  background-image: url(../images/wrench.png)
  background-position: 82% 20px
  background-repeat: no-repeat
  background-size: auto 94%
  +respond-to(md)
    background-image: none
    padding: 45px 0 40px 0
  +respond-to(lg)
    background-image: none

.section-title
  &.diagnostics__section-title
    color: #343a40
    margin-bottom: 20px
    +respond-to(md)
      text-align: center
      margin-bottom: 35px

.diagnostics__form
  width: 100%
  max-width: 800px
  margin: 0 auto

.diagnostics__form-notice
  color: #343a40
  font-family: $FiraSans
  text-align: center
  font-size: 14px
  font-weight: 400
  line-height: 20px

.diagnostics__form-form
  display: flex
  margin-bottom: 56px
  +respond-to(lg)
    margin-left: auto
    margin-right: auto
    max-width: 595px
    width: 100%
    flex-direction: column
    margin-bottom: 12px

.diagnostics__form-inner
  display: flex
  .input-wrapper.input-wrapper--phone
    width: 211px
    input
      +phc(#fff)
  .input-wrapper.input-wrapper--name
    width: 285px
    input
      +phc(#fff)
  .input-wrapper
    input
      background-color: #adb5bd !important
      height: 50px
      line-height: 50px
    &:not(:last-child)
      margin-right: 20px
  +respond-to(lg)
    flex-direction: column
    margin-bottom: 30px
    .input-wrapper
      &:not(:last-child)
        margin-bottom: 10px
    .input-wrapper.input-wrapper--phone, .input-wrapper.input-wrapper--name
      width: 100%

.diagnostics__form-submit
  max-width: 254px
  height: 50px
  margin-left: 26px
  font-size: 16px
  padding: 0
  +respond-to(lg)
    width: 100%
    max-width: initial
    margin-left: 0

.diagnostics__subtitle
  font-size: 16px
  text-align: center
  color: #343a40
  margin-bottom: 29px
  font-family: $FiraSans
  font-weight: 400

.cls-3-callback
  fill: #868e96
  stroke: #868e96
  stroke-miterlimit: 10

