<section class="diagnostics {{ classes }}">
    <div class="container">
        <div class="section-inner diagnostics__section-inner">
            {% include "../section-title/section-title.twig" with {"title": "Записаться на бесплатную диагностику",
            classes: "diagnostics__section-title"} %}
            <div class="diagnostics__subtitle">
                <p>При первом посещении</p>
            </div>
            <div class="diagnostics__form">
                <form action="" class="diagnostics__form-form">
                    <div class="diagnostics__form-inner">
                        <div class="input-wrapper input-wrapper--dark input-wrapper--phone">
                            <input name="phone" type="text" placeholder="Телефон">
                        </div>
                        <div class="input-wrapper input-wrapper--dark input-wrapper--name" >
                            <input type="text" placeholder="Имя">
                        </div>
                    </div>
                    <button type="submit" class="btn btn--primary btn--fullwidth btn--ttu diagnostics__form-submit">
                        Получить диагностику
                    </button>
                </form>
                <p class="diagnostics__form-notice">
                    Нажимая на кнопку «Получить диагностику», вы принимаете условия пользовательского соглашения и даю согласие на обработку моих персональных данных.
                </p>
            </div>
        </div>
    </div>
</section>