.breadcrumbs
  font-size: 14px
  +respond-to(md)
    margin-top: -35px
  +respond-to(sm)
    margin-top: -20px

.breadcrumbs__inner-adaptive
  display: none
  background: #F3F4F5
  margin: 0 -21px
  padding: 0 20px
  line-height: 40px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  border-bottom: 1px solid #CED4DA
  +respond-to(md)
    display: block
  .breadcrumbs__link
    display: block
    &:after
      display: none
    &::before
      +chevron(8px, 2px, l, #CED4DA)
      transform: rotate(45deg)
      margin-right: 15px


.breadcrumbs__inner
  line-height: 20px
  +respond-to(md)
    display: none

.breadcrumbs__link
  color: $text-primary
  white-space: nowrap
  text-decoration: none
  +trans()
  &:after
    content: '>'
    margin-right: 5px
    margin-left: 5px
  &:hover
    color: $brand

.breadcrumbs__text
  color: $grey
  white-space: nowrap

