<div class="breadcrumbs {{ classes }}">
    <div class="breadcrumbs__inner">
        {% for item in items %}
            {% if loop.index != items.length %}
                <a href="{{ item.url }}" class="breadcrumbs__link">{{ item.title }}</a>
            {% else %}
                <span class="breadcrumbs__text">{{ item.title }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <div class="breadcrumbs__inner-adaptive">
        <a href="index.html" class="breadcrumbs__link">Главная</a>
    </div>
</div>