<section class="page-header__navbar {{ classes }}" id="header-navbar" >
    <div class="container">
        <div class="section-inner">
            <div class="page-header__nav" id="header-nav">
                <ul class="page-header__nav-list uk-navbar-nav">
                    <li class="page-header__nav-item nav-parent uk-parent" data-uk-dropdown="{mode:'click', delay: '0', justify:
                    '#header-nav'}"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <a href="category.html" class="page-header__nav-link" href="#">Range Rover</a>
                        <div class="uk-dropdown uk-dropdown-navbar page-header__nav-dropdown" aria-hidden="true">
                            <div class="page-header__nav-dropdown-inner">
                                <div class="page-header__nav-dropdown-navbar">
                                    <ul class="uk-nav uk-nav-navbar">
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Стоимость ТО</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="category-diagnostic.html">Диагностика и ремонт</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Запчасти</a></li>
                                        <li class="page-header__nav-dropdown-item">
                                            <a class="page-header__nav-dropdown-link" href="#">Аксессуары</a>
                                            <ul class="page-header__nav-dropdown-submenu">
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2010</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2013</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-header__nav-dropdown-desc">
                                    <div class="page-header__nav-dropdown-price">
                                        <div class="page-header__nav-dropdown-price-title">
                                            <p>Стоимость ТО</p>
                                        </div>
                                        <div class="page-header__nav-dropdown-price-desc">
                                            от
                                            <span>12000</span>
                                            руб.
                                        </div>
                                    </div>
                                    <div class="page-header__nav-dropdown-img">
                                        <img src="images/popup2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-item nav-parent uk-parent" data-uk-dropdown="{mode:'click', delay: '0', justify:
                    '#header-nav'}"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <a href="category.html" class="page-header__nav-link" href="#">Range Rover Sport</a>
                        <div class="uk-dropdown uk-dropdown-navbar page-header__nav-dropdown" aria-hidden="true">
                            <div class="page-header__nav-dropdown-inner">
                                <div class="page-header__nav-dropdown-navbar">
                                    <ul class="uk-nav uk-nav-navbar">
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Стоимость ТО</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="category-diagnostic.html">Диагностика и ремонт</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Запчасти</a></li>
                                        <li class="page-header__nav-dropdown-item">
                                            <a class="page-header__nav-dropdown-link" href="#">Аксессуары</a>
                                            <ul class="page-header__nav-dropdown-submenu">
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2010</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2013</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-header__nav-dropdown-desc">
                                    <div class="page-header__nav-dropdown-price">
                                        <div class="page-header__nav-dropdown-price-title">
                                            <p>Стоимость ТО</p>
                                        </div>
                                        <div class="page-header__nav-dropdown-price-desc">
                                            от
                                            <span>11000</span>
                                            руб.
                                        </div>
                                    </div>
                                    <div class="page-header__nav-dropdown-img">
                                        <img src="images/popup3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-item nav-parent uk-parent" data-uk-dropdown="{mode:'click', delay: '0', justify:
                    '#header-nav'}"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <a href="category.html" class="page-header__nav-link" href="#">Discovery</a>
                        <div class="uk-dropdown uk-dropdown-navbar page-header__nav-dropdown" aria-hidden="true">
                            <div class="page-header__nav-dropdown-inner">
                                <div class="page-header__nav-dropdown-navbar">
                                    <ul class="uk-nav uk-nav-navbar">
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Стоимость ТО</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="category-diagnostic.html">Диагностика и ремонт</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Запчасти</a></li>
                                        <li class="page-header__nav-dropdown-item">
                                            <a class="page-header__nav-dropdown-link" href="#">Аксессуары</a>
                                            <ul class="page-header__nav-dropdown-submenu">
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2010</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2013</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-header__nav-dropdown-desc">
                                    <div class="page-header__nav-dropdown-price">
                                        <div class="page-header__nav-dropdown-price-title">
                                            <p>Стоимость ТО</p>
                                        </div>
                                        <div class="page-header__nav-dropdown-price-desc">
                                            от
                                            <span>11000</span>
                                            руб.
                                        </div>
                                    </div>
                                    <div class="page-header__nav-dropdown-img">
                                        <img src="images/popup3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-item nav-parent uk-parent" data-uk-dropdown="{mode:'click', delay: '0', justify:
                    '#header-nav'}"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <a href="category.html" class="page-header__nav-link" href="#">Discovery Sport</a>
                        <div class="uk-dropdown uk-dropdown-navbar page-header__nav-dropdown" aria-hidden="true">
                            <div class="page-header__nav-dropdown-inner">
                                <div class="page-header__nav-dropdown-navbar">
                                    <ul class="uk-nav uk-nav-navbar">
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Стоимость ТО</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="category-diagnostic.html">Диагностика и ремонт</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Запчасти</a></li>
                                        <li class="page-header__nav-dropdown-item">
                                            <a class="page-header__nav-dropdown-link" href="#">Аксессуары</a>
                                            <ul class="page-header__nav-dropdown-submenu">
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2010</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2013</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-header__nav-dropdown-desc">
                                    <div class="page-header__nav-dropdown-price">
                                        <div class="page-header__nav-dropdown-price-title">
                                            <p>Стоимость ТО</p>
                                        </div>
                                        <div class="page-header__nav-dropdown-price-desc">
                                            от
                                            <span>15000</span>
                                            руб.
                                        </div>
                                    </div>
                                    <div class="page-header__nav-dropdown-img">
                                        <img src="images/popup4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-item nav-parent uk-parent" data-uk-dropdown="{mode:'click', delay: '0', justify:
                    '#header-nav'}"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <a href="category.html" class="page-header__nav-link" href="#">Freelander</a>
                        <div class="uk-dropdown uk-dropdown-navbar page-header__nav-dropdown" aria-hidden="true">
                            <div class="page-header__nav-dropdown-inner">
                                <div class="page-header__nav-dropdown-navbar">
                                    <ul class="uk-nav uk-nav-navbar">
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Стоимость ТО</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="category-diagnostic.html">Диагностика и ремонт</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Запчасти</a></li>
                                        <li class="page-header__nav-dropdown-item">
                                            <a class="page-header__nav-dropdown-link" href="#">Аксессуары</a>
                                            <ul class="page-header__nav-dropdown-submenu">
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2010</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2013</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-header__nav-dropdown-desc">
                                    <div class="page-header__nav-dropdown-price">
                                        <div class="page-header__nav-dropdown-price-title">
                                            <p>Стоимость ТО</p>
                                        </div>
                                        <div class="page-header__nav-dropdown-price-desc">
                                            от
                                            <span>15000</span>
                                            руб.
                                        </div>
                                    </div>
                                    <div class="page-header__nav-dropdown-img">
                                        <img src="images/popup1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><li class="page-header__nav-item nav-parent uk-parent" data-uk-dropdown="{mode:'click', delay: '0', justify:
                    '#header-nav'}"
                             aria-haspopup="true"
                             aria-expanded="false">
                        <a href="category.html" class="page-header__nav-link" href="#">Defender</a>
                        <div class="uk-dropdown uk-dropdown-navbar page-header__nav-dropdown" aria-hidden="true">
                            <div class="page-header__nav-dropdown-inner">
                                <div class="page-header__nav-dropdown-navbar">
                                    <ul class="uk-nav uk-nav-navbar">
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Стоимость ТО</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="category-diagnostic.html">Диагностика и ремонт</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Запчасти</a></li>
                                        <li class="page-header__nav-dropdown-item">
                                            <a class="page-header__nav-dropdown-link" href="#">Аксессуары</a>
                                            <ul class="page-header__nav-dropdown-submenu">
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2010</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2013</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-header__nav-dropdown-desc">
                                    <div class="page-header__nav-dropdown-price">
                                        <div class="page-header__nav-dropdown-price-title">
                                            <p>Стоимость ТО</p>
                                        </div>
                                        <div class="page-header__nav-dropdown-price-desc">
                                            от
                                            <span>15000</span>
                                            руб.
                                        </div>
                                    </div>
                                    <div class="page-header__nav-dropdown-img">
                                        <img src="images/popup4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-item nav-parent uk-parent" data-uk-dropdown="{mode:'click', delay: '0', justify:
                    '#header-nav'}"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <a href="category.html" class="page-header__nav-link" href="#">Evoque</a>
                        <div class="uk-dropdown uk-dropdown-navbar page-header__nav-dropdown" aria-hidden="true">
                            <div class="page-header__nav-dropdown-inner">
                                <div class="page-header__nav-dropdown-navbar">
                                    <ul class="uk-nav uk-nav-navbar">
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Стоимость ТО</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="category-diagnostic.html">Диагностика и ремонт</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Запчасти</a></li>
                                        <li class="page-header__nav-dropdown-item">
                                            <a class="page-header__nav-dropdown-link" href="#">Аксессуары</a>
                                            <ul class="page-header__nav-dropdown-submenu">
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2010</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2013</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-header__nav-dropdown-desc">
                                    <div class="page-header__nav-dropdown-price">
                                        <div class="page-header__nav-dropdown-price-title">
                                            <p>Стоимость ТО</p>
                                        </div>
                                        <div class="page-header__nav-dropdown-price-desc">
                                            от
                                            <span>15000</span>
                                            руб.
                                        </div>
                                    </div>
                                    <div class="page-header__nav-dropdown-img">
                                        <img src="images/popup2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-item nav-parent uk-parent" data-uk-dropdown="{mode:'click', justify:
                    '#header-nav'}"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <a href="category.html" class="page-header__nav-link" href="#">Velar</a>
                        <div class="uk-dropdown uk-dropdown-navbar page-header__nav-dropdown" aria-hidden="true">
                            <div class="page-header__nav-dropdown-inner">
                                <div class="page-header__nav-dropdown-navbar">
                                    <ul class="uk-nav uk-nav-navbar">
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Стоимость ТО</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="category-diagnostic.html">Диагностика и ремонт</a></li>
                                        <li class="page-header__nav-dropdown-item"><a class="page-header__nav-dropdown-link" href="#">Запчасти</a></li>
                                        <li class="page-header__nav-dropdown-item">
                                            <a class="page-header__nav-dropdown-link" href="#">Аксессуары</a>
                                            <ul class="page-header__nav-dropdown-submenu">
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2010</a></li>
                                                <li class="page-header__nav-dropdown-submenu-item"><a href="#" class="page-header__nav-dropdown-submenu-link">Range Rover Sport 2013</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-header__nav-dropdown-desc">
                                    <div class="page-header__nav-dropdown-price">
                                        <div class="page-header__nav-dropdown-price-title">
                                            <p>Стоимость ТО</p>
                                        </div>
                                        <div class="page-header__nav-dropdown-price-desc">
                                            от
                                            <span>15000</span>
                                            руб.
                                        </div>
                                    </div>
                                    <div class="page-header__nav-dropdown-img">
                                        <img src="images/popup3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="page-header__cart">
                <div class="page-header__cart-dd" data-uk-dropdown="{mode:'click',  delay: '0', pos:'bottom-left'}">
                    <!-- This is the element toggling the dropdown -->
                    <a href="#" class="page-header__cart-inner">
                        <svg class="icon-cart page-header__cart-icon" xmlns="http://www.w3.org/2000/svg" width="38" height="30.64" viewBox="0 0 38 30.64"><defs><style>.cls-1-bag-mobile{fill:#868e96;}.cls-2-bag-mobile{fill:none;stroke:#868e96;stroke-miterlimit:10;stroke-width:2px;}</style></defs><title>icon-bag</title><g id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><path class="cls-1-bag-mobile" d="M36,7.64v4H2v-4H36m0-2H2a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H36a2,2,0,0,0,2-2v-4a2,2,0,0,0-2-2Z"></path><path class="cls-1-bag-mobile" d="M34,13.64v15H5v-15H34m0-2H5a2,2,0,0,0-2,2v15a2,2,0,0,0,2,2H34a2,2,0,0,0,2-2v-15a2,2,0,0,0-2-2Z"></path><line class="cls-2-bag-mobile" x1="19.13" y1="9.96" x2="28.38" y2="0.71"></line><path class="cls-1-bag-mobile" d="M8.88,19.64a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M14.88,19.64a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M8.88,25.39a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M14.88,25.39a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M24.13,19.64a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M30.13,19.64a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M24.13,25.39a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path><path class="cls-1-bag-mobile" d="M30.13,25.39a1.5,1.5,0,0,0,0-3,1.5,1.5,0,0,0,0,3Z"></path></g></g></svg>
                        <div class="page-header__cart-text"><div>
                                <p>В корзине</p>
                            </div>
                            <strong>нет товаров</strong>
                        </div>
                    </a>

                    <!-- This is the dropdown -->
                    <div class="uk-dropdown page-header__cart-dropdown">
                        <div class="page-header__cart-dropdown-top">
                            <div class="page-header__cart-dropdown-item">
                                <span class="page-header__cart-dropdown-close"></span>
                                <div class="page-header__cart-dropdown-img">
                                    <img src="http://via.placeholder.com/200x200" alt="">
                                </div>
                                <div class="page-header__cart-dropdown-descr">
                                    <div class="page-header__cart-dropdown-title">
                                        <p>Задний фонарь от discovery 4 правый</p>
                                    </div>
                                    <div class="page-header__cart-dropdown-price">
                                        <p>16 497.23</p>
                                    </div>
                                </div>
                                <div class="page-header__cart-dropdown-count">
                                    <span class="page-header__cart-dropdown-count-plus js-plus-count"></span>
                                    <input type="text" class="page-header__cart-dropdown-input js-input-count">
                                    <span class="page-header__cart-dropdown-count-minus js-minus-count"></span>
                                </div>
                            </div>
                            <div class="page-header__cart-dropdown-item">
                                <span class="page-header__cart-dropdown-close"></span>
                                <div class="page-header__cart-dropdown-img">
                                    <img src="http://via.placeholder.com/200x200" alt="">
                                </div>
                                <div class="page-header__cart-dropdown-descr">
                                    <div class="page-header__cart-dropdown-title">
                                        <p>Задний фонарь от discovery 4 правый</p>
                                    </div>
                                    <div class="page-header__cart-dropdown-price">
                                        <p>16 497.23</p>
                                    </div>
                                </div>
                                <div class="page-header__cart-dropdown-count">
                                    <span class="page-header__cart-dropdown-count-plus js-plus-count"></span>
                                    <input type="text" class="page-header__cart-dropdown-input js-input-count">
                                    <span class="page-header__cart-dropdown-count-minus js-minus-count"></span>
                                </div>
                            </div>
                        </div>
                        <div class="page-header__cart-dropdown-bottom">
                            <div class="page-header__cart-dropdown-res">
                                <p class="page-header__cart-dropdown-res-text">
                                    Всего 3 товара на сумму
                                </p>
                                <span class="page-header__cart-dropdown-res-price">
                                   41 4634 <span>руб.</span>
                                </span>
                            </div>
                            <a href="#" class="btn btn--primary btn--fullwidth btn--ttu">перейти в корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>