.page-header__nav-list
  display: flex
  justify-content: flex-start
  align-items: center
  width: 100%


//.page-header__nav-list{
//  width: 100%
//}
//
//.page-header__navbar .section-inner > * {
//  display: flex
//  align-items: center
//}


.page-header__cart-icon
  margin-bottom: 3px
  +respond-to(sm)
    width: 25px
    height: 35px



.page-header__nav-item
  position: relative
  display: flex
  flex-grow: 1
  justify-content: center
  line-height: 50px

  &.uk-open
    & > .page-header__nav-link
      color: $brand
      border-bottom-color: $brand

.page-header__nav-dropdown-link
  color: #495057
  +trans()
  font-family: 'Fira Sans', sans-serif
  font-weight: 600
  text-decoration: none
  &:hover
    color: $brand

.page-header__nav-dropdown-navbar
  .page-header__nav-item
    display: block

.page-header__nav-dropdown-submenu
  margin-left: 20px

.page-header__nav-dropdown-submenu-link
  text-decoration: none
  color: $text-primary
  +trans()
  &:hover
    color: $brand

.page-header__nav-dropdown-item
  line-height: 27px

.page-header__nav
  padding: 0 39px
  position: relative
  width: calc(100% - 320px)
  +respond-to(xlg)
    width: calc(100% - 165px)
  &:before
    content: ''
    width: 1px
    height: 30px
    background: #CED4DA
    position: absolute
    top: 10px
    left: 0px
  &:after
    content: ''
    width: 1px
    height: 30px
    background: #CED4DA
    position: absolute
    top: 10px
    right: 0px

.page-header__navbar
  background-color: #fff
  border-bottom: 1px solid #CED4DA
  .section-inner
    display: flex
    justify-content: flex-start
  +respond-to(dk)
    display: none !important



.page-header__nav-link
  font-size: 14px
  text-transform: uppercase
  font-family: 'Fira Sans', sans-serif
  font-weight: 500
  color: #212529
  text-decoration: none
  border-bottom: 3px solid transparent
  &:hover
    color: $brand
    border-bottom-color: $brand

.page-header__cart
  display: flex
  margin-left: 25px
  position: relative
  text-decoration: none


.page-header__cart-dd
  display: flex
  &.uk-open
    .page-header__cart-icon path
      fill: $brand
    .page-header__cart-text
      color: $brand

.page-header__cart-inner
  display: flex
  width: 100%
  height: 100%
  align-items: center
  cursor: pointer
  text-decoration: none
  .page-header__cart-icon path
    +trans()
  &:hover
    .page-header__cart-icon path
        fill: $brand
    .page-header__cart-text
      color: $brand


.logo-panel__searchBtn
  display: inline-block
  margin-right: 30px
  .icon-search path
    +trans()
  &:hover
    .icon-search path
      fill: $brand
  +respond-to(xlg)
    margin-right: 0

.page-header__nav-dropdown
  padding: 16px 55px 55px 55px
  border-radius: 0 0 5px 5px

.page-header
  z-index: 205

.page-header__nav-dropdown-price-desc
  display: flex
  align-items: baseline
  text-transform: uppercase
  span
    font-size: 40px
    margin: 0 10px 0 10px
    color: $brand
    font-family: 'Open Sans', sans-serif
    font-weight: 300

.page-header__nav-dropdown-inner
  display: flex
  justify-content: space-between
  
.uk-dropdown-navbar
  background-color: #fff

.page-header__cart-dropdown
  width: 380px
  background: #fff
  padding: 0
  +respond-to(dk)
    margin-top: 20px
  +respond-to(sm)
    display: none !important

.mobile-navbar__cart
  margin: 0 !important
  position: relative
  +respond-to(sm)
    width: 25px
    height: 35px



.mobile-navbar__cart-count
  border-radius: 100%
  position: absolute
  right: -10px
  top: -2px
  width: 24px
  height: 24px
  background-color: $brand
  color: #fff
  text-align: center
  display: flex
  align-items: center
  justify-content: center
  font-size: 16px
  font-family: $FiraSans

.page-header__cart-dropdown-top
  padding: 20px 20px 20px 15px
  border-bottom: 1px solid #CED4DA

.page-header__cart-dropdown-bottom
  padding: 20px

.page-header__cart-dropdown-item
  display: flex
  align-items: center
  &:not(:last-child)
    margin-bottom: 40px

.page-header__cart-dropdown-img
  width: 60px
  height: 60px
  flex-shrink: 0
  margin-right: 15px
  overflow: hidden
  img
    width: 60px
    height: 60px

.page-header__cart-dropdown-price
  font-size: 18px
  font-family: 'Open Sans', sans-serif

.page-header__cart-dropdown-title
  font-size: 14px
  margin-bottom: 10px

.page-header__cart-dropdown-input
  width: 40px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  height: 25px
  padding: 0 10px
  text-align: center
  &:focus, &:hover
    border: 1px solid $brand
    outline: none
.page-header__cart-dropdown-count-plus
  &:before
    content: ''
    position: absolute
    width: 20px
    height: 2px
    background-color: #ADB5BD
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)

.page-header__cart-dropdown-count
  display: flex
  flex-direction: column

.page-header__cart-dropdown-res-price
  font-size: 27px
  font-family: 'Open Sans', sans-serif
  span
    font-size: 14px



.page-header__cart-dropdown-res-text
  font-size: 14px

.page-header__cart-dropdown-count-plus, .page-header__cart-dropdown-count-minus
  position: relative
  height: 25px
  cursor: pointer
  &:before, &:after
    content: ''
    position: absolute
    width: 10px
    height: 1px
    +trans()
    left: 50%
    background-color: #495057
    top: 50%
  &:before
    transform: translate(-50%,-50%)
  &:after
    transform: translate(-50%,-50%) rotate(90deg)
  &:hover:before, &:hover:after
    background-color: $brand

.page-header__cart-dropdown-count-minus
  &:after
    display: none

.page-header__cart-dropdown-res
  display: flex
  justify-content: space-between
  align-items: flex-end
  padding: 0 0 20px 0

.page-header__cart-dropdown-descr
  margin-right: 10px

.page-header__cart-dropdown-close
  position: relative
  width: 20px
  height: 20px
  margin-right: 15px
  cursor: pointer
  &:before, &:after
    content: ''
    width: 14px
    +trans()
    height: 1px
    position: absolute
    background-color: $grey
    top: 50%
    left: 50%
  &:before
    transform: translate(-50%, -50%) rotate(-45deg)
  &:after
    transform: translate(-50%, -50%) rotate(45deg)
  &:hover:before, &:hover:after
    background-color: $brand

.page-header__cart-text
  margin-left: 30px
  line-height: 18px
  font-size: 14px
  color: $grey
  +trans()
  strong
    color: #212529
    text-transform: uppercase
    font-weight: bold
  +respond-to(xlg)
    display: none

.page-header__nav-dropdown-desc
  display: flex
  align-items: flex-end

.page-header__nav-dropdown-price-title
  color: #ADB5BD
  font-size: 20px
  font-family: 'Fira Sans', sans-serif
  font-weight: 600

.page-header__nav-dropdown-img
  overflow: hidden
  flex-shrink: 0
  line-height: 0
  margin-left: 20px
  img
    width: auto
    height: 220px
  &:before
    content: ''
    background: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%)
    background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%)
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.01) 99%, rgba(255, 255, 255, 0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1)
    position: absolute
    width: 100px
    height: 220px
    z-index: 10

.uk-dropdown .uk-nav
  margin: 0

.uk-open>.uk-dropdown
  animation: uk-fade 0.3s ease-in-out