{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    <main class="page-main">
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include "../components/page-title/page-title.twig" with {"title": "О нас", classes:
                    "page-title__about"} %}
                    <div class="text-paragraph text-center md-text-left block-centered-680">
                        <p>У нас можно приобрести как оригинальные так и неоригинальные запчасти и аксессуары для всего
                            модельного ряда Land Rover (Ленд Ровер), в том числе кенгурины, лебедки, пороги, защиты,
                            блокировки, лифтинг, багажники и многое другое.
                        </p>
                        <p>Так же мы готовы предложить тюнинг от HAMANN, OVERFINCH и Project Kanh.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-numerals">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "В цифрах", classes:
                    "section-title__numerals"} %}
                    <div class="numerals">
                        {% include "../components/numerals/numerals-item.twig" with {"num": "10лет", "sub": "на рынке"} %}
                        {% include "../components/numerals/numerals-item.twig" with {"num": "100500", "sub": "довольных клиентов"} %}
                        {% include "../components/numerals/numerals-item.twig" with {"num": "1234567", "sub": "запчастей в наличии и под заказ"} %}
                        {% include "../components/numerals/numerals-item.twig" with {"num": "666", "sub": "машин обслужено"} %}
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Наши сотрудники", classes:
                    "section-title__associates"} %}
                    <div class="associates js-associates-carousel owl-carousel">
                        {% include "../components/associates-item/associates-item.twig" with {"name": "Дубровский Харитон", "post":
                        "Механик-слесарь", "exp": "Опыт работы: 10 лет"} %}
                        {% include "../components/associates-item/associates-item.twig" with {"name": "Кушнарёв Егор", "post":
                        "Механик-слесарь", "exp": "Опыт работы: 10 лет"} %}
                        {% include "../components/associates-item/associates-item.twig" with {"name": "Гарф Кирилл", "post":
                        "Ведущий специалист", "exp": "Опыт работы: 8 лет"} %}
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Как покупать?", classes:
                    "page-title__about"} %}
                    <div class="text-paragraph text-center md-text-left block-centered-680">
                        <p>Каждый товар, представленный в нашем каталоге имеет свой артикул.</p>
                        <p>Созвонившись с нашим консультантом по телефону, указанному на странице контактной информации,
                            Вы сможете узнать подробности о наличии данного товара на складе, оставить свой заказ
                            и обговорить условия доставки.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Почему выгодно
                    покупать у нас?", classes:
                    "page-title__about"} %}
                    <div class="text-paragraph text-center md-text-left block-centered-680">
                        <p>Каждый товар, представленный в нашем каталоге имеет свой артикул.</p>
                        <p>Созвонившись с нашим консультантом по телефону, указанному на странице контактной информации,
                            Вы сможете узнать подробности о наличии данного товара на складе, оставить свой заказ
                            и обговорить условия доставки.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="sertificates-section">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Сертификаты", classes:"page-title__about"} %}
                    {% include "../components/sertificates/sertificates-gallery.twig" %}
                    {#wdwdwd#}
                </div>
            </div>
        </section>
        <section class="b-delivery">
            <div class="section-inner">
                <div class="container">
                    {% include "../components/section-title/section-title.twig" with {"title": "Доставка", classes:
                    "page-title__about"} %}
                </div>

                <div class="img-full b-delivery__img-full">
                    <img src="images/delivery.jpg" alt="">
                </div>
                <div class="container">
                    <div class="text-paragraph text-center md-text-left block-centered-680">
                        <p>Стоимость доставки товара по Москве в пределах МКАД на сумму до 15 000 рублей составляет 500
                            рублей, на сумму свыше 15 000 рублей — бесплатно.</p>
                        <p>
                            Доставка в регионы осуществляется транспортными компаниями «Автотрейдинг», «Байкал-сервис»,
                            «Желдорэкспедиция», «ПЭК», а также любой другой транспортной компанией, которая имеет
                            представительство в Москве. Оплата за доставку производится при получении груза.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="self-dev">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Самовывоз", classes:
                    "page-title__about"} %}
                    <div class="text-paragraph text-center md-text-left block-centered-680">
                        <p>Пункт самовывоза находится по адресу: ул. Рябиновая д. 34а. Обязательно предупредите нас, перед тем как приехать.</p>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>

{% endblock %}