{% extends "layouts/app.twig" %}

{% block pageTitle %}Карточка товара{% endblock %}

{% block content %}

    <main class="page-main">
        <section class="card">
            <div class="container">
                {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Аксессуары ', url: '#'} , {title: 'Defender', url: '#'} , {title: 'Экстерьер для Defender', url: '#'} , {title: 'Комплект фар и передних фонарей', url: '#'}], classes: "catalog__breadcrumb" } %}
                <div class="section-inner">
                    <div class="b-product">
                        <div class="b-product__inner">
                            <div class="b-product__col">
                                <div class="b-product__mobile-title-wrapper">

                                </div>
                                <div class="b-product__image">
                                    <div class="b-product__image-inner">
                                        <img src="http://via.placeholder.com/589x295" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="b-product__col">
                                <div class="b-product__desktop-title-wrapper">
                                    <div class="b-product__title">
                                        <h1 class="b-product__title-text">
                                            Комплект фар и передних фонарей
                                        </h1>
                                        <div class="b-product__title-article">
                                            <p>  Артикул: <span>VPLDV0004</span> </p>

                                        </div>
                                    </div>
                                </div>
                                    <div class="b-product__description">
                                        <span class="b-product__price">
                                            32 528 руб
                                        </span>
                                        <div class="b-product__actions">
                                            <div class="b-product__count">
                                                <span class="b-product__count-minus js-minus-count"></span>
                                                <input class="b-product__count-input js-input-count" type="text">
                                                <span class="b-product__count-plus js-plus-count"></span>
                                            </div>
                                            <a href="#" class="btn btn--primary btn--ttu">заказать</a>
                                        </div>
                                        <div class="b-product__period">
                                            <p>Заказ от 2 дней</p>
                                        </div>
                                        <div class="b-product__note">
                                            <p>Включает в себя головные фары, габаритные огни и указатели поворотов.
                                                Требует комплекта накладок LR008361. </p>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="spares">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "С этим товаром покупают", classes: "section-title--left"} %}
                    <div class="spares__list our-work__spares-list">
                        <div class="our-work__spares-item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Свеча накала 2,7TD",
                            "mark": "Defender",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/spares.jpg"
                            } %}
                        </div>
                        <div class="our-work__spares-item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Свеча накала 2,7TD",
                            "mark": "Defender",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/spares.jpg"
                            } %}
                        </div>
                        <div class="our-work__spares-item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Свеча накала 2,7TD",
                            "subtitle": "Заказ от 2 дней",
                            "mark": "Defender",
                            "price": "1 288.13 Р",
                            "img": "images/spares.jpg"
                            } %}
                        </div>
                        <div class="our-work__spares-item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Свеча накала 2,7TD",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "mark": "Defender",
                            "img": "images/spares.jpg"
                            } %}
                        </div>
                        <div class="our-work__spares-item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Комплект ремня ГРМ с водяной помпой",
                            "mark": "Defender",
                            "subtitle": "Заказ от 2 дней",
                            "price": "21 288.45 Р"
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="card-spares">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Запчасти для Defender", classes: "section-title--left"} %}
                    <div class="spares__list card-spares__list">
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Набор ксеноновых ламп",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин»",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Комплект фар и передних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="card-spares">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Запчасти для Defender", classes: "section-title--left"} %}
                    <div class="spares__list card-spares__list">
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Набор ксеноновых ламп",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин»",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Комплект фар и передних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>


{% endblock %}