{% extends "layouts/app.twig" %}

{% block pageTitle %}Корзина{% endblock %}

{% block content %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="minus-active" viewBox="0 0 30 30"><title>minus-active</title>
            <g stroke="#2B8A3E" fill="none" fill-rule="evenodd">
                <path d="M9 15h12" stroke-width="2" stroke-linecap="round"/>
                <rect x=".5" y=".5" width="29" height="29" rx="2"/>
            </g>
        </symbol>
        <symbol id="minus-disabled" viewBox="0 0 30 30">
            <title>minus-disabled</title>
            <path d="M9 15h12" stroke="#CED4DA" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"/>
        </symbol>
        <symbol id="minus-normal" viewBox="0 0 30 30"><title>minus-normal</title>
            <path d="M9 15h12" stroke="#495057" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"/>
        </symbol>
        <symbol id="plus-active" viewBox="0 0 30 30"><title>plus-active</title>
            <g stroke="#2B8A3E" fill="none" fill-rule="evenodd">
                <g stroke-width="2" stroke-linecap="round">
                    <path d="M8 15h14M15 8v14"/>
                </g>
                <rect x=".5" y=".5" width="29" height="29" rx="2"/>
            </g>
        </symbol>
        <symbol id="plus-normal" viewBox="0 0 30 30"><title>plus-normal</title>
            <g stroke="#495057" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round">
                <path d="M8 15h14M15 8v14"/>
            </g>
        </symbol>
    </svg>
    <main class="page-cart">
        <h1 class="page-cart__title">Корзина</h1>
        {% include "../components/cart/cart.twig" with {
            goods: 
                [
                    [
                        "images/page-cart__good1.jpg",
                        "Рестайлинг range rover в 2010 год + body kit 
                         autobiography",
                        "1",
                        "422 500",
                        "422 500",
                        "Заказ от 2 дней"
                    ],
                    [
                        "images/page-cart__good2.jpg",
                        "Свеча накала 2,7TD",
                        "4",
                        "1 228.13",
                        "5 152.52",
                        "Заказ от 2 дней"
                    ],
                    [
                        "images/page-cart__good3.jpg",
                        "Kомплект дверных ручек крашенных в цвет кузова 
                         автомобиля. discovery 3",
                        "1",
                        "12 900.38",
                        "1 290 000.38",
                        "Заказ от 2 дней"
                    ]
                ],
            totals:
                [
                    "Всего 7 товаров <br>на сумму",
                    "50 441,66",
                    "руб"
                ],
            classes: "page-cart__cart"
        } %}
        {% include "../components/diagnostics/diagnostics.twig" with {classes: "page-cart__diagnostics"} %}
        {% include "../components/map/map.twig" with {classes: "page-cart__map"} %}
    </main>
{% endblock %}