{% extends "layouts/app.twig" %}

{% block pageTitle %}Каталог{% endblock %}

{% block content %}

    <main class="page-main">
        <section class="catalog">
            <div class="container">
                {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Аксессуары', url: 'index.html'}, {title: 'Аксессуары ', url: '#'} , {title: 'Defender', url: '#'} , {title: 'Экстерьер для Defender', url: '#'}], classes: "catalog__breadcrumb" } %}
                <div class="section-inner">
                    {% include "../components/page-title/page-title.twig" with {"title": "Экстерьер для Defender", classes:
                    "page-title__catalog page-title--left"} %}
                    <div class="spares__list catalog__list">
                        <div class="catalog__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Набор ксеноновых ламп",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="catalog__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="catalog__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин»",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="catalog__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Комплект фар и передних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="catalog__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="catalog__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Чехол для запасного колеса, материал пластик",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="catalog__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин»",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="catalog__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин» для лебедки",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                    </div>
                    <div class="catalog__pagination-wrapper">
                        {% include "../components/pagination/pagination.twig" with {"classes": "catalog__pagination"} %}
                    </div>
                    <div class="catalog__text text2 text2--grey">
                        <p>Побочный PR-эффект тормозит департамент маркетинга и продаж. Адекватная ментальность поддерживает культурный поведенческий таргетинг. Рекламная акция, вопреки мнению П.Друкера, стабилизирует ролевой медиабизнес, учитывая современные тенденции. Традиционный канал, безусловно, тормозит типичный бизнес-план. Ребрендинг без оглядки на авторитеты притягивает повседневный направленный маркетинг. Как предсказывают футурологи партисипативное планирование транслирует рекламный макет. Начальная стадия проведения исследования разнородно поддерживает медиавес. Объемная скидка усиливает процесс стратегического планирования.</p>
                    </div>
                    <div class="sm-visible text-center">
                        <span href="#" class="btn btn--outline ">Показать еще 12</span>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>


{% endblock %}