{% extends "layouts/app.twig" %}

{% block pageTitle %}Категория{% endblock %}

{% block content %}

    <main class="page-main">
        <section class="category">
            <div class="container">
                {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Аксессуары ', url: '#'}], classes: "category__breadcrumb" } %}
                <div class="section-inner">
                    {% include "../components/page-title/page-title.twig" with {"title": "Аксессуары", classes:
                    "page-title__category page-title--left"} %}
                    <div class="category__sidebar">
                        <div class="uk-accordion category__sidebar-accordion" data-uk-accordion>
                            {% for 1 in 1..8 %}
                                <div class="category__sidebar-accordion-block">
                                    <h3 class="uk-accordion-title category__sidebar-accordion-title">Range Rover
                                        Sport</h3>
                                    <div class="uk-accordion-content category__sidebar-accordion-content">
                                        <a href="#" class="category__sidebar-accordion-link">Экстерьер</a>
                                        <a href="#" class="category__sidebar-accordion-link">Интерьер</a>
                                        <a href="#" class="category__sidebar-accordion-link">Багажники и прицепы</a>
                                        <a href="#" class="category__sidebar-accordion-link">Диски</a>
                                        <a href="#" class="category__sidebar-accordion-link">Неоригинальные
                                            аксессуары</a>
                                        <a href="#" class="category__sidebar-accordion-link">Расходные материалы</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="category__main">
                        <div class="thumbnail-list category__list">
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Defender",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Discovery",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Evoque",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Freelander 2",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Range Rover Velar",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Range Rover Sport",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Range Rover Sport",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Range Rover Sport",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Range Rover Sport",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Range Rover Sport",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                            <div class="category__item">
                                {% include "../components/thumbnail/thumbnail-item.twig" with {
                                "img": "images/popup3.jpg",
                                "title": "Range Rover Sport",
                                classes: "thumbnail-item--adaptive1"
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>


{% endblock %}