{% extends "layouts/app.twig" %}

{% block pageTitle %}Контакты{% endblock %}

{% block content %}

    <main class="page-main page-contacts">
        <section class="category">
            <div class="section-inner">
                {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Контакты ', url: '#'}], classes: "contacts__breadcrumb" } %}
                {% include "../components/page-title/page-title.twig" with {"title": "Контакты", classes:
                "page-title__contacts page-title--left"} %}
                <section class="page-contacts__contacts">
                    <div class="container">
                        <div class="page-contacts__contacts-list">
                            <div class="page-contacts__contacts-row">
                                <div class="page-contacts__contacts-block page-contacts__contacts-block--head">
                                <span class="page-contacts__contacts-icon">
                                    <svg width="16" height="23" viewBox="0 0 16 23" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>adress</title><defs><path id="a" d="M0 0h15.854v22.734H0z"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path d="M7.927 11.128c-1.765 0-3.2-1.434-3.2-3.2 0-1.767 1.435-3.2 3.2-3.2 1.768 0 3.2 1.433 3.2 3.2 0 1.766-1.432 3.2-3.2 3.2M7.927 0C3.55 0 0 3.55 0 7.928c0 5.126 6.716 14.806 7.927 14.806 1.213 0 7.927-9.68 7.927-14.806C15.854 3.548 12.307 0 7.927 0" fill="currentColor" mask="url(#b)"/></g></svg>                                </span>
                                    <p class="page-contacts__contacts-text">
                                        Адрес
                                    </p>
                                </div>
                                <div class="page-contacts__contacts-block">
                                    <p class="page-contacts__contacts-text">Москва, ул. Рябиновая, 34а</p>
                                </div>
                            </div>
                            <div class="page-contacts__contacts-row">
                                <div class="page-contacts__contacts-block page-contacts__contacts-block--head">
                                <span class="page-contacts__contacts-icon">
                                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 9.742l8.298 1.588 1.59 8.298L19.63 0" fill="currentColor" fill-rule="evenodd"/></svg>                                </span>
                                    <p class="page-contacts__contacts-text">
                                        Координаты GPS
                                    </p>
                                </div>
                                <div class="page-contacts__contacts-block">
                                    <a target="_blank" rel="noopener" href="https://www.google.kz/maps/place/%D0%A0%D1%8F%D0%B1%D0%B8%D0%BD%D0%BE%D0%B2%D0%B0%D1%8F+%D1%83%D0%BB.,+34%D0%90,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F,+121471/@55.690383,37.4199478,17z/data=!4m5!3m4!1s0x46b54e765b4ff579:0xed4822f320641a6d!8m2!3d55.6907791!4d37.4212514?hl=ru" class="link page-contacts__contacts-text">
                                        Широта 55°41'23.8"N (55.689950), долгота 37°25'22.0"E (37.422781)
                                    </a>
                                </div>
                            </div>
                            <div class="page-contacts__contacts-row">
                                <div class="page-contacts__contacts-block page-contacts__contacts-block--head">
                                    <span class="page-contacts__contacts-icon">
                                        <svg width="19" height="15" viewBox="0 0 19 15" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="currentColor"><path d="M1.824 4.602c.24.17.964.673 2.173 1.51 1.21.838 2.135 1.483 2.778 1.936l.45.323c.23.167.42.302.573.404.152.103.336.217.552.345.215.126.418.22.61.285.19.063.367.095.53.095h.02c.163 0 .34-.032.53-.095.192-.064.395-.16.61-.286.216-.13.4-.244.552-.346.152-.102.343-.237.572-.403l.45-.322c.65-.453 2.305-1.6 4.963-3.446.516-.36.947-.796 1.293-1.305.347-.508.52-1.042.52-1.6 0-.467-.168-.866-.504-1.2C18.16.168 17.763 0 17.304 0H1.696C1.152 0 .733.184.44.55.147.92 0 1.38 0 1.93c0 .445.194.928.583 1.447.39.52.802.928 1.24 1.225z"/><path d="M17.94 5.318c-2.32 1.587-4.08 2.82-5.28 3.7-.403.3-.73.534-.98.702-.252.168-.586.34-1.003.514-.417.176-.806.263-1.166.263h-.02c-.36 0-.75-.087-1.167-.263-.417-.175-.75-.346-1.002-.514-.25-.168-.577-.402-.98-.703-.954-.707-2.71-1.94-5.27-3.7C.67 5.048.31 4.736 0 4.386V12.9c0 .47.166.875.498 1.21.332.337.732.505 1.198.505h15.608c.466 0 .865-.168 1.198-.504.332-.335.498-.74.498-1.21V4.384c-.304.343-.657.654-1.06.933z"/></g></svg>                                    </span>
                                    <p class="page-contacts__contacts-text">
                                        E-mail
                                    </p>
                                </div>
                                <div class="page-contacts__contacts-block">
                                    <a href="mailto:info@lrstyle.ru" class="link page-contacts__contacts-text">
                                        info@lrstyle.ru
                                    </a>
                                </div>
                            </div>
                            <div class="page-contacts__contacts-row">
                                <div class="page-contacts__contacts-block page-contacts__contacts-block--head">
                                    <span class="page-contacts__contacts-icon">
                                        <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M21.225 17.89c-.406-.24-.905-.234-1.31.006l-2.045 1.22c-.458.272-1.03.24-1.45-.088-.726-.567-1.895-1.52-2.912-2.538-1.017-1.017-1.97-2.186-2.538-2.912-.328-.42-.36-.992-.087-1.45l1.22-2.046c.24-.404.242-.907.004-1.313L9.105 3.64c-.29-.495-.87-.74-1.428-.602-.543.132-1.248.454-1.987 1.194-2.314 2.314-3.543 6.217 5.16 14.92s12.603 7.473 14.918 5.158c.74-.74 1.062-1.447 1.195-1.99.135-.56-.105-1.133-.6-1.423l-5.138-3.008z" /></svg>
                                    </span>
                                    <p class="page-contacts__contacts-text">
                                        Телефон
                                    </p>
                                </div>
                                <div class="page-contacts__contacts-block">
                                    <a href="tel:" class="link page-contacts__contacts-phone">
                                        +7 (499) 704-05-11
                                    </a>
                                </div>
                                <div class="page-contacts__contacts-block page-contacts__contacts-block--head">
                                    <span class="page-contacts__contacts-icon">
                                        <svg width="19" height="19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg"><title>clock</title><path d="M9.5 0C14.738 0 19 4.262 19 9.5S14.738 19 9.5 19 0 14.738 0 9.5 4.262 0 9.5 0zm.682 9.207V4.074c0-.433-.35-.783-.783-.783-.433 0-.783.35-.783.784V9.99c0 .43.35.78.782.78h5.05c.434 0 .783-.35.783-.78 0-.433-.35-.783-.782-.783h-4.268z" fill="currentColor" fill-rule="evenodd"/></svg>
                                    </span>
                                    <p class="page-contacts__contacts-text">
                                        Часы работы
                                    </p>
                                </div>
                                <div class="page-contacts__contacts-block">
                                    <p class="page-contacts__contacts-text">
                                        пн — пт: 9:00 — 18:00
                                    </p>
                                    <p class="page-contacts__contacts-text page-contacts__contacts-notice">
                                        Возможен самовывоз малогабаритных грузов
                                    </p>
                                </div>
                            </div>

                            <div class="page-contacts__contacts-row">
                                <div class="page-contacts__contacts-block page-contacts__contacts-block--head">
                                    <span class="page-contacts__contacts-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="17.12" viewBox="0 0 30 17.12"><g id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><path fill="currentColor" d="M14.68,17h1.79a1.52,1.52,0,0,0,.82-.36,1.31,1.31,0,0,0,.25-.79s0-2.41,1.08-2.76,2.51,2.32,4,3.35a2.84,2.84,0,0,0,2,.61l4-.06s2.09-.13,1.1-1.78a13.33,13.33,0,0,0-3-3.45c-2.51-2.33-2.18-2,.85-6,1.84-2.46,2.58-4,2.35-4.6S28.38.79,28.38.79l-4.51,0a1,1,0,0,0-.58.1,1.25,1.25,0,0,0-.4.48,25.84,25.84,0,0,1-1.67,3.52c-2,3.41-2.81,3.59-3.14,3.38-.76-.49-.57-2-.57-3,0-3.31.5-4.68-1-5A7.77,7.77,0,0,0,14.42,0a9.69,9.69,0,0,0-3.74.38c-.51.25-.91.81-.67.84a2,2,0,0,1,1.33.67,4.33,4.33,0,0,1,.45,2s.26,3.89-.62,4.37c-.61.33-1.44-.35-3.24-3.44A28.33,28.33,0,0,1,6.33,1.54,1.35,1.35,0,0,0,6,1,1.87,1.87,0,0,0,5.26.75L1,.79s-.64,0-.88.3,0,.76,0,.76S3.44,9.7,7.24,13.66A10.29,10.29,0,0,0,14.68,17Z"/></g></g></svg>
                                    </span>
                                    <p class="page-contacts__contacts-text">
                                        Вконтакте
                                    </p>
                                </div>
                                <div class="page-contacts__contacts-block">
                                    <a href="#" class=" link page-contacts__contacts-text">
                                        landroverstyle34a
                                    </a>
                                </div>
                                <div class="page-contacts__contacts-block page-contacts__contacts-block--head">
                                    <span class="page-contacts__contacts-icon">
                                        <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><circle cx="15" cy="15" r="4" fill="currentColor"/><path fill="currentColor" d="M20 3H10c-3.86 0-7 3.14-7 7v10c0 3.86 3.14 7 7 7h10c3.86 0 7-3.14 7-7V10c0-3.86-3.14-7-7-7zm-5 18c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm7-12c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z"/></svg>
                                    </span>
                                    <p class="page-contacts__contacts-text">
                                        Instagram
                                    </p>
                                </div>
                                <div class="page-contacts__contacts-block">
                                    <a href="#" class=" link page-contacts__contacts-text">
                                        @lrstyle_jlr
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="map page-contacts__map">
                    <div id="map">
                    </div>
                </section>
                <section class="page-contacts_panorama">
                    <div class="container">
                        <div id="panorama">

                        </div>
                    </div>
                </section>
                <div class="container">
                    <div class="page-contacts__info tg">
                        <h3 class="page-contacts__info-title">Реквизиты</h3>
                        <div class="page-contacts__info-list">
                            <div class="page-contacts__info__col">
                                <p>Юридический адрес <br> 121596, г. Москва, ул. Маршала Неделина, 6</p>
                                <p>Фактический адрес <br> Москва, ул. Рябиновая, 34а, стр.6</p>
                            </div>
                            <div class="page-contacts__info__col">
                                <div class="page-contacts__requisites">
                                    <p>Банк ВТБ 24 (ПАО) Г.</p>
                                    <p>Расчетный счет 40702810600000180113</p>
                                    <p>Корр.счет 30101810100000000716</p>
                                    <p>БИК 044525716</p>
                                    <p>ИНН 7731467107</p>
                                    <p>КПП 773101001</p>
                                    <p>ОКАТО 45268569000</p>
                                    <p>ОКТМО 45321000000</p>
                                    <p>ОКОГУ 4210014</p>
                                    <p>ОКВЭД 50.30<wbr>/50.20<wbr>/50.20.3<wbr>/50.30.1<wbr>/50.30.2<wbr>/50.40<wbr>/50.50<wbr>/52.61.2</p>
                                    <p>ОКПО 29117906</p>
                                    <p>ОГРН 1147746236880</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        {% include "../components/diagnostics/diagnostics.twig" %}
    </main>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;load=panorama.locate,panorama.Player"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="js/YaMap.js"></script>

{% endblock %}