{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная{% endblock %}

{% block content %}

    <main class="page-main page-index">
        <section class="page-index__hero">
            <div class="container">
                <div class="page-index__hero-inner">
                    <p class="page-index__title">
                        СЕРТИФИЦИРОВАННЫЙ <br> СЕРВИС ДЛЯ LAND ROVER
                    </p>
                    <p class="page-index__description">
                        Запишись на бесплатную диагностику
                    </p>
                    <div class="page-index__hero-form-outer">
                        <form class="page-index__hero-form">
                            <div class="page-index__hero-form-block">
                                <div class="input-wrapper input-wrapper--grey2 input-wrapper--phone">
                                    <input class="js-phone-mask" name="phone" type="text" placeholder="Телефон">
                                </div>
                            </div>
                            <div class="page-index__hero-form-block">
                                <div class="input-wrapper input-wrapper--grey2 input-wrapper--name">
                                    <input type="text" placeholder="Имя">
                                </div>
                            </div>
                            <div class="page-index__hero-form-block">
                                <button class="btn btn--primary btn--ttu btn--fullwidth">Получить диагностику</button>
                            </div>
                        </form>
                        <p class="page-index__hero-form-notice">Нажимая на кнопку «Получить диагностику», вы принимаете
                            условия <a href="/policy.html" class="link">пользовательского соглашения</a> и даете согласие
                            <br> на обработку моих персональных данных.</p>
                    </div>
                    <span data-uk-modal="target:'#modal-callback-success', center:true" class="btn btn--primary btn--ttu btn--fullwidth page-index__hero-abs-btn">Получить диагностику</span>
                </div>
            </div>
        </section>
        {% include "../components/sec-advantages/sec-advantages.twig" with {"classes": "page-index__adventages"} %}
        <section class="page-index__models-acc">
            <div class="container">
                <div class="page-index__models-acc-inner">
                    {% include "../components/page-title/page-title.twig" with {"title": "Сервис и ремонт Ленд Ровер в Москве", classes:"page-index__page-title"} %}
                    <div class="page-index__models-acc-list" id="models-acc">
                        <div class="page-index__models-acc-item">
                            <a href="rr.html" class="page-index__models-acc-title"
                               style="background-image: url(images/acc-bg.jpg);">
                                <p class="page-index__models-acc-title-txt">RANGE ROVER</p>
                            </a>
                            <div class="page-index__models-acc-content">
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт двигателя</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт АКПП</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт подвески</a>
                                <a href="#" class="page-index__models-acc-link">Компьютерная диагностика</a>
                            </div>
                        </div>
                        <div class="page-index__models-acc-item">
                            <a href="rr.html" class="page-index__models-acc-title"
                               style="background-image: url(images/acc-bg2.jpg);">
                                <p class="page-index__models-acc-title-txt">RANGE ROVER SPORT</p>
                            </a>
                            <div class="page-index__models-acc-content">
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт двигателя</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт АКПП</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт подвески</a>
                                <a href="#" class="page-index__models-acc-link">Компьютерная диагностика</a>
                            </div>
                        </div>
                        <div class="page-index__models-acc-item">
                            <a href="rr.html" class="page-index__models-acc-title"
                               style="background-image: url(images/acc-bg3.jpg);">
                                <p class="page-index__models-acc-title-txt">DISCOVERY</p>
                            </a>
                            <div class="page-index__models-acc-content">
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт двигателя</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт АКПП</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт подвески</a>
                                <a href="#" class="page-index__models-acc-link">Компьютерная диагностика</a>
                            </div>
                        </div>
                        <div class="page-index__models-acc-item">
                            <a href="rr.html" class="page-index__models-acc-title"
                               style="background-image: url(images/acc-bg4.jpg);">
                                <p class="page-index__models-acc-title-txt">FREELANDER</p>
                            </a>
                            <div class="page-index__models-acc-content">
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт двигателя</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт АКПП</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт подвески</a>
                                <a href="#" class="page-index__models-acc-link">Компьютерная диагностика</a>
                            </div>
                        </div>
                        <div class="page-index__models-acc-item">
                            <a href="rr.html" class="page-index__models-acc-title"
                               style="background-image: url(images/acc-bg5.jpg);">
                                <p class="page-index__models-acc-title-txt">DEFENDER</p>
                            </a>
                            <div class="page-index__models-acc-content">
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт двигателя</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт АКПП</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт подвески</a>
                                <a href="#" class="page-index__models-acc-link">Компьютерная диагностика</a>
                            </div>
                        </div>
                        <div class="page-index__models-acc-item">
                            <a href="rr.html" class="page-index__models-acc-title"
                               style="background-image: url(images/acc-bg6.jpeg);">
                                <p class="page-index__models-acc-title-txt">EVOQUE</p>
                            </a>
                            <div class="page-index__models-acc-content">
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт двигателя</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт АКПП</a>
                                <a href="#" class="page-index__models-acc-link">Диагностика и ремонт подвески</a>
                                <a href="#" class="page-index__models-acc-link">Компьютерная диагностика</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Акции", classes:"page-index__section-title"} %}
                    <div class="page-index__stock-list owl-carousel">
                        {% for 1 in 1..3 %}
                            <a href="#" class="page-index__stock-item">
                                <div class="page-index__stock-img">
                                    <img src="images/stock1.jpg" alt="">
                                </div>
                                <span class="page-index__stock-title">Техническое обслуживание Ленд Ровер Ренж Ровер 4,4 Diesel, 2013 года по настоящее время</span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="page-index__stock-more">
                        <a href="#" class="btn btn--outline page-index__stock-more-btn">Все акции</a>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/tech-serv/tech-serv.twig" with {"classes": "page-index__tech-serv"} %}
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Наши работы", classes:"page-index__section-title"} %}
                    <div class="bg-hover-card-list our-works__list page-index">
                        <div class="our-works__item">
                            <a href="our-works-details.html" class="bg-hover-card-item ">
                                <div class="bg-hover-card-item__overlay">
                                    <svg class="icon-glasses bg-hover-card-item__icon"
                                         xmlns="http://www.w3.org/2000/svg" width="75.16" height="30"
                                         viewBox="0 0 75.16 30">
                                        <defs>
                                            <style>.cls-1 {
                                                    fill: #fff;
                                                }</style>
                                        </defs>
                                        <title>icon-glasses</title>
                                        <g id="Слой_2" data-name="Слой 2">
                                            <g id="Слой_1-2" data-name="Слой 1">
                                                <g id="FFNgnS">
                                                    <path class="cls-1"
                                                          d="M0,14.46l3.72-1.19C5.27,5.58,9.89.43,18.24,0,26.17-.35,31,4.18,33.62,11.67c2.63-1.5,5.22-1.83,7.87.12C44.19,3.92,49.4-.52,57.6,0,65,.56,69.38,5.23,71.23,12.21l3.93.75v1.5l-3.56.76c-.1.46-.28,1.08-.37,1.71a15,15,0,0,1-29.7,0c-.35-2.44-2-4.1-4-3.92a3.92,3.92,0,0,0-3.84,3.59c-1.24,7.91-7,13.25-14.38,13.43C11.7,30.17,5.55,25.06,4,17.26a5.66,5.66,0,0,0-.19-.63L0,15.47Zm18.9,13a12.4,12.4,0,0,0,12.4-12.41A12.41,12.41,0,0,0,18.89,2.44,12.62,12.62,0,0,0,6.27,15,12.62,12.62,0,0,0,18.9,27.49Zm37.52,0A12.4,12.4,0,0,0,68.89,15.14,12.42,12.42,0,0,0,56.53,2.44,12.62,12.62,0,0,0,43.85,14.91,12.62,12.62,0,0,0,56.42,27.49Z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <span class="bg-hover-card-item__overlay-text">
                                        Смотреть
                                    </span>
                                </div>
                                <div class="bg-hover-card-item__img">
                                    <img src="images/bg-hover-card1.jpg" alt="">
                                </div>
                                <div class="bg-hover-card-item__title">
                                    <p>Ремонт Webasto Land Rover дискавери 3 и 4, Range Rover Sport, Freelander 2</p>
                                </div>
                            </a>
                        </div>
                        <div class="our-works__item">
                            <a href="our-works-details.html" class="bg-hover-card-item ">
                                <div class="bg-hover-card-item__overlay">
                                    <svg class="icon-glasses bg-hover-card-item__icon"
                                         xmlns="http://www.w3.org/2000/svg" width="75.16" height="30"
                                         viewBox="0 0 75.16 30">
                                        <defs>
                                            <style>.cls-1 {
                                                    fill: #fff;
                                                }</style>
                                        </defs>
                                        <title>icon-glasses</title>
                                        <g id="Слой_2" data-name="Слой 2">
                                            <g id="Слой_1-2" data-name="Слой 1">
                                                <g id="FFNgnS">
                                                    <path class="cls-1"
                                                          d="M0,14.46l3.72-1.19C5.27,5.58,9.89.43,18.24,0,26.17-.35,31,4.18,33.62,11.67c2.63-1.5,5.22-1.83,7.87.12C44.19,3.92,49.4-.52,57.6,0,65,.56,69.38,5.23,71.23,12.21l3.93.75v1.5l-3.56.76c-.1.46-.28,1.08-.37,1.71a15,15,0,0,1-29.7,0c-.35-2.44-2-4.1-4-3.92a3.92,3.92,0,0,0-3.84,3.59c-1.24,7.91-7,13.25-14.38,13.43C11.7,30.17,5.55,25.06,4,17.26a5.66,5.66,0,0,0-.19-.63L0,15.47Zm18.9,13a12.4,12.4,0,0,0,12.4-12.41A12.41,12.41,0,0,0,18.89,2.44,12.62,12.62,0,0,0,6.27,15,12.62,12.62,0,0,0,18.9,27.49Zm37.52,0A12.4,12.4,0,0,0,68.89,15.14,12.42,12.42,0,0,0,56.53,2.44,12.62,12.62,0,0,0,43.85,14.91,12.62,12.62,0,0,0,56.42,27.49Z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <span class="bg-hover-card-item__overlay-text">
                                        Смотреть
                                    </span>
                                </div>
                                <div class="bg-hover-card-item__img">
                                    <img src="images/bg-hover-card1.jpg" alt="">
                                </div>
                                <div class="bg-hover-card-item__title">
                                    <p>Замена ремня ГРМ и роликов на Land Rover Range Rover Sport 3.0 td, Range Rover
                                        3.0 2013 модельного года</p>
                                </div>
                            </a>
                        </div>
                        <div class="our-works__item">
                            <a href="our-works-details.html" class="bg-hover-card-item ">
                                <div class="bg-hover-card-item__overlay">
                                    <svg class="icon-glasses bg-hover-card-item__icon"
                                         xmlns="http://www.w3.org/2000/svg" width="75.16" height="30"
                                         viewBox="0 0 75.16 30">
                                        <defs>
                                            <style>.cls-1 {
                                                    fill: #fff;
                                                }</style>
                                        </defs>
                                        <title>icon-glasses</title>
                                        <g id="Слой_2" data-name="Слой 2">
                                            <g id="Слой_1-2" data-name="Слой 1">
                                                <g id="FFNgnS">
                                                    <path class="cls-1"
                                                          d="M0,14.46l3.72-1.19C5.27,5.58,9.89.43,18.24,0,26.17-.35,31,4.18,33.62,11.67c2.63-1.5,5.22-1.83,7.87.12C44.19,3.92,49.4-.52,57.6,0,65,.56,69.38,5.23,71.23,12.21l3.93.75v1.5l-3.56.76c-.1.46-.28,1.08-.37,1.71a15,15,0,0,1-29.7,0c-.35-2.44-2-4.1-4-3.92a3.92,3.92,0,0,0-3.84,3.59c-1.24,7.91-7,13.25-14.38,13.43C11.7,30.17,5.55,25.06,4,17.26a5.66,5.66,0,0,0-.19-.63L0,15.47Zm18.9,13a12.4,12.4,0,0,0,12.4-12.41A12.41,12.41,0,0,0,18.89,2.44,12.62,12.62,0,0,0,6.27,15,12.62,12.62,0,0,0,18.9,27.49Zm37.52,0A12.4,12.4,0,0,0,68.89,15.14,12.42,12.42,0,0,0,56.53,2.44,12.62,12.62,0,0,0,43.85,14.91,12.62,12.62,0,0,0,56.42,27.49Z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <span class="bg-hover-card-item__overlay-text">
                                        Смотреть
                                    </span>
                                </div>
                                <div class="bg-hover-card-item__img">
                                    <img src="images/bg-hover-card2.jpg" alt="">
                                </div>
                                <div class="bg-hover-card-item__title">
                                    <p>Замена амортизаторов (пневмостоек в сборе) на Range Rover Sport 2005 - 2013 года
                                        выпуска</p>
                                </div>
                            </a>
                        </div>
                        <div class="our-works__item">
                            <a href="our-works-details.html" class="bg-hover-card-item ">
                                <div class="bg-hover-card-item__overlay">
                                    <svg class="icon-glasses bg-hover-card-item__icon"
                                         xmlns="http://www.w3.org/2000/svg" width="75.16" height="30"
                                         viewBox="0 0 75.16 30">
                                        <defs>
                                            <style>.cls-1 {
                                                    fill: #fff;
                                                }</style>
                                        </defs>
                                        <title>icon-glasses</title>
                                        <g id="Слой_2" data-name="Слой 2">
                                            <g id="Слой_1-2" data-name="Слой 1">
                                                <g id="FFNgnS">
                                                    <path class="cls-1"
                                                          d="M0,14.46l3.72-1.19C5.27,5.58,9.89.43,18.24,0,26.17-.35,31,4.18,33.62,11.67c2.63-1.5,5.22-1.83,7.87.12C44.19,3.92,49.4-.52,57.6,0,65,.56,69.38,5.23,71.23,12.21l3.93.75v1.5l-3.56.76c-.1.46-.28,1.08-.37,1.71a15,15,0,0,1-29.7,0c-.35-2.44-2-4.1-4-3.92a3.92,3.92,0,0,0-3.84,3.59c-1.24,7.91-7,13.25-14.38,13.43C11.7,30.17,5.55,25.06,4,17.26a5.66,5.66,0,0,0-.19-.63L0,15.47Zm18.9,13a12.4,12.4,0,0,0,12.4-12.41A12.41,12.41,0,0,0,18.89,2.44,12.62,12.62,0,0,0,6.27,15,12.62,12.62,0,0,0,18.9,27.49Zm37.52,0A12.4,12.4,0,0,0,68.89,15.14,12.42,12.42,0,0,0,56.53,2.44,12.62,12.62,0,0,0,43.85,14.91,12.62,12.62,0,0,0,56.42,27.49Z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <span class="bg-hover-card-item__overlay-text">
                                        Смотреть
                                    </span>
                                </div>
                                <div class="bg-hover-card-item__img">
                                    <img src="images/bg-hover-card1.jpg" alt="">
                                </div>
                                <div class="bg-hover-card-item__title">
                                    <p>Замена обивки подушки сиденья на&nbsp;Land Rover Freelander&nbsp;2</p>
                                </div>
                            </a>
                        </div>
                        <div class="our-works__item">
                            <a href="our-works-details.html" class="bg-hover-card-item ">
                                <div class="bg-hover-card-item__overlay">
                                    <svg class="icon-glasses bg-hover-card-item__icon"
                                         xmlns="http://www.w3.org/2000/svg" width="75.16" height="30"
                                         viewBox="0 0 75.16 30">
                                        <defs>
                                            <style>.cls-1 {
                                                    fill: #fff;
                                                }</style>
                                        </defs>
                                        <title>icon-glasses</title>
                                        <g id="Слой_2" data-name="Слой 2">
                                            <g id="Слой_1-2" data-name="Слой 1">
                                                <g id="FFNgnS">
                                                    <path class="cls-1"
                                                          d="M0,14.46l3.72-1.19C5.27,5.58,9.89.43,18.24,0,26.17-.35,31,4.18,33.62,11.67c2.63-1.5,5.22-1.83,7.87.12C44.19,3.92,49.4-.52,57.6,0,65,.56,69.38,5.23,71.23,12.21l3.93.75v1.5l-3.56.76c-.1.46-.28,1.08-.37,1.71a15,15,0,0,1-29.7,0c-.35-2.44-2-4.1-4-3.92a3.92,3.92,0,0,0-3.84,3.59c-1.24,7.91-7,13.25-14.38,13.43C11.7,30.17,5.55,25.06,4,17.26a5.66,5.66,0,0,0-.19-.63L0,15.47Zm18.9,13a12.4,12.4,0,0,0,12.4-12.41A12.41,12.41,0,0,0,18.89,2.44,12.62,12.62,0,0,0,6.27,15,12.62,12.62,0,0,0,18.9,27.49Zm37.52,0A12.4,12.4,0,0,0,68.89,15.14,12.42,12.42,0,0,0,56.53,2.44,12.62,12.62,0,0,0,43.85,14.91,12.62,12.62,0,0,0,56.42,27.49Z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <span class="bg-hover-card-item__overlay-text">
                                        Смотреть
                                    </span>
                                </div>
                                <div class="bg-hover-card-item__img">
                                    <img src="images/bg-hover-card2.jpg" alt="">
                                </div>
                                <div class="bg-hover-card-item__title">
                                    <p>Замена заднего активного стабилизатора наLand Rover Range Rover Sport с 2006 по
                                        2013 модельный год</p>
                                </div>
                            </a>
                        </div>
                        <div class="our-works__item">
                            <a href="our-works-details.html" class="page-index__our-works-item">
                                <svg class="page-index__our-works-item-icon" xmlns="http://www.w3.org/2000/svg"
                                     width="53.93" height="53.57" viewBox="0 0 53.93 53.57">
                                    <defs>
                                        <style>.cls-1-3 {
                                                fill: #868e96
                                            }</style>
                                    </defs>
                                    <g data-name="Слой 2">
                                        <g data-name="Слой 1">
                                            <path class="cls-1-3"
                                                  d="M23.25 22.73a7.6 7.6 0 1 0 7.6 7.6 7.6 7.6 0 0 0-7.6-7.6zm0 13a5.43 5.43 0 1 1 5.43-5.43 5.43 5.43 0 0 1-5.43 5.43zm0 0"></path>
                                            <path class="cls-1-3"
                                                  d="M23.25 19.32a11 11 0 1 0 11 11 11 11 0 0 0-11-11zm0 19.84a8.83 8.83 0 1 1 8.83-8.83 8.84 8.84 0 0 1-8.83 8.83zm0 0"></path>
                                            <path class="cls-1-3"
                                                  d="M52.85 12.87h-2.42a14.21 14.21 0 0 0-.95-2.29l1.71-1.71a1.08 1.08 0 0 0 0-1.53l-4.6-4.6a1.08 1.08 0 0 0-1.53 0l-1.71 1.71a14.29 14.29 0 0 0-2.29-.95V1.08A1.08 1.08 0 0 0 40 0h-6.53a1.08 1.08 0 0 0-1.08 1.08V3.5a14.3 14.3 0 0 0-2.29.95l-1.71-1.71a1.08 1.08 0 0 0-1.53 0l-4.34 4.33H20a1.08 1.08 0 0 0-1 1.08V11c-.55.12-1.1.27-1.63.44L15.89 9a1.08 1.08 0 0 0-1.48-.4l-5.56 3.19a1.08 1.08 0 0 0-.4 1.48l1.44 2.5q-.62.57-1.19 1.23l-2.5-1.48a1.08 1.08 0 0 0-1.48.4l-3.21 5.55a1.09 1.09 0 0 0 .4 1.53l2.49 1.4c-.17.54-.31 1.08-.44 1.63H1.08A1.08 1.08 0 0 0 0 27.11v6.42a1.08 1.08 0 0 0 1.08 1.08H4c.12.55.27 1.1.44 1.63l-2.5 1.44a1.08 1.08 0 0 0-.4 1.48l3.21 5.56a1.08 1.08 0 0 0 1.48.4l2.5-1.44c.38.41.78.81 1.19 1.19l-1.44 2.5a1.09 1.09 0 0 0 .4 1.48l5.56 3.21a1.08 1.08 0 0 0 1.48-.4l1.44-2.5q.8.25 1.63.44v2.88A1.08 1.08 0 0 0 20 53.57h6.42a1.08 1.08 0 0 0 1.08-1.08v-2.88c.55-.12 1.1-.27 1.63-.44l1.44 2.5a1.08 1.08 0 0 0 1.48.4l5.56-3.21a1.08 1.08 0 0 0 .4-1.48l-1.44-2.5q.62-.57 1.19-1.19l2.5 1.44a1.08 1.08 0 0 0 1.48-.4L45 39.17a1.09 1.09 0 0 0-.4-1.48l-2.5-1.44c.17-.54.31-1.08.44-1.63h2.89a1.08 1.08 0 0 0 1.08-1.08v-1.78l.09-.08 4.6-4.6a1.08 1.08 0 0 0 0-1.53l-1.71-1.71a14.23 14.23 0 0 0 .95-2.29h2.42a1.08 1.08 0 0 0 1.08-1.08V14a1.08 1.08 0 0 0-1.08-1.08zm-8.51 19.58h-2.7a1.08 1.08 0 0 0-1.07.9 17.59 17.59 0 0 1-.81 3 1.08 1.08 0 0 0 .48 1.31L42.57 39l-2.12 3.7-2.33-1.35a1.09 1.09 0 0 0-1.37.24 17.74 17.74 0 0 1-2.21 2.21 1.08 1.08 0 0 0-.24 1.37l1.35 2.33L32 49.64l-1.34-2.33a1.08 1.08 0 0 0-1.31-.48 17.5 17.5 0 0 1-3 .81 1.08 1.08 0 0 0-.9 1.07v2.69h-4.32v-2.69a1.08 1.08 0 0 0-.9-1.07 17.51 17.51 0 0 1-3-.81 1.08 1.08 0 0 0-1.31.48l-1.34 2.33-3.68-2.12 1.35-2.33a1.08 1.08 0 0 0-.25-1.38 17.74 17.74 0 0 1-2.24-2.21 1.08 1.08 0 0 0-1.37-.24L6.06 42.7 3.93 39l2.33-1.34a1.08 1.08 0 0 0 .48-1.31 17.51 17.51 0 0 1-.81-3 1.08 1.08 0 0 0-1.07-.9H2.17V28.2h2.69a1.08 1.08 0 0 0 1.07-.9 17.5 17.5 0 0 1 .81-3 1.08 1.08 0 0 0-.48-1.3l-2.33-1.38 2.12-3.68 2.33 1.35A1.08 1.08 0 0 0 9.76 19 17.8 17.8 0 0 1 12 16.83a1.08 1.08 0 0 0 .24-1.37l-1.35-2.33L14.55 11l1.34 2.33a1.08 1.08 0 0 0 1.31.48 17.56 17.56 0 0 1 3-.81 1.08 1.08 0 0 0 .9-1.07V9.24h4.25v2.69a1.08 1.08 0 0 0 .9 1.07 17.55 17.55 0 0 1 3 .81 1.08 1.08 0 0 0 1.31-.48L32 11l3.68 2.12-1.35 2.33a1.08 1.08 0 0 0 .24 1.37A17.77 17.77 0 0 1 36.74 19a1.08 1.08 0 0 0 1.37.24l2.33-1.35 2.12 3.68L40.25 23a1.08 1.08 0 0 0-.48 1.31 17.58 17.58 0 0 1 .81 3 1.08 1.08 0 0 0 1.07.9h2.69zm7.43-13.07h-2.16a1.08 1.08 0 0 0-1.05.82 12.11 12.11 0 0 1-1.35 3.27 1.08 1.08 0 0 0 .16 1.32l1.52 1.52-2.39 2.39v-1.59A1.08 1.08 0 0 0 45.42 26h-2.88c-.12-.55-.27-1.1-.44-1.63L44.6 23a1.09 1.09 0 0 0 .4-1.48l-3.21-5.56a1.08 1.08 0 0 0-1.48-.4L37.8 17q-.57-.62-1.19-1.19l1.44-2.5a1.08 1.08 0 0 0-.4-1.48L32.1 8.58a1.09 1.09 0 0 0-1.48.4l-1.44 2.5q-.8-.25-1.63-.44V8.15a1.08 1.08 0 0 0-1.08-1.08h-.87l2-2 1.52 1.52a1.08 1.08 0 0 0 1.32.16 12.15 12.15 0 0 1 3.27-1.35 1.08 1.08 0 0 0 .82-1.05V2.17h4.34v2.15a1.08 1.08 0 0 0 .82 1.05A12.14 12.14 0 0 1 43 6.73a1.08 1.08 0 0 0 1.32-.16L45.83 5l3.07 3.07-1.53 1.56a1.08 1.08 0 0 0-.16 1.37 12.11 12.11 0 0 1 1.35 3.27 1.08 1.08 0 0 0 1.05.82h2.15zm0 0"></path>
                                        </g>
                                    </g>
                                </svg>
                                Все кейсы
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="page-index__certificate">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Сертифицированный сервис для Ленд Ровер", classes:"page-index__section-title section-title--left"} %}
                    <div class="page-index__certificate-list">
                        <div class="page-index__certificate-col">
                            <div class="tg">
                                <p>Автомобильный центр Land Rover Style предлагает полный комплекс обслуживания для
                                    владельцев Land Rover и Range Rover. К вашим услугам:</p>
                                <ul>
                                    <li>профессиональное сервисное обслуживание</li>
                                    <li>ремонт без потери гарантии</li>
                                    <li>запчасти в наличии и на заказ</li>
                                    <li>аксессуары и тюнинг вашего автомобиля Ленд Ровер</li>
                                </ul>
                                <p>На сайте Land Rover Style Вы можете ознакомиться с примерами наших работ, записаться
                                    на техническое обслуживание и диагностику, а также заказать запчасти и аксессуары
                                    для вашего Ленд Ровер.</p>
                                <p>Для оптовых представителей мы предлагаем выгодные условия сотрудничества.</p>
                                <p>Закажите обратный звонок от специалиста центра Land Rover Style и мы свяжемся с Вами
                                    в ближайшее время!</p>
                            </div>
                        </div>
                        <div class="page-index__certificate-col">
                            {% include "../components/sertificates/sertificates-gallery.twig" with {"classes": "page-index__sertificates-gallery"} %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>


{% endblock %}