{% extends "layouts/app.twig" %}

{% block pageTitle %}Оформление заказа{% endblock %}

{% block content %}
    <main class="page-order">
        <div class="page-order__back">
            <a href="#" class="link page-order__back-link">
                <span class="arrow
                             arrow--size_15
                             arrow--left
                             arrow--color_grey
                             arrow--tail
                             page-order__back-arrow">
                </span>
                <span class="page-order__back-text">Вернуться в корзину</span>
            </a>
        </div>
        <h1 class="page-order__title">Оформление заказа</h1>
        <form class="checkout  page-order__checkout" action="#" method="GET">

            <!-- Cекции имеют три состояния
                checkout__section--open     - открыта, для заполнения
                checkout__section--close    - свернута, заполнена
                checkout__section--empty    - пустая, будет заполняться в будущем
            -->
            <!-- Cекция "Контактная информация" -->
            <section
                    class="checkout__section  checkout__section--contacts  checkout__section--close  page-order__checkout-section">
                <h3 class="checkout__title">
                        <span class="arrow
                                     arrow--size_12
                                     arrow--down
                                     arrow--color_grey
                                     page-order__back-arrow
                                     checkout__title-edit checkout__title-edit--arrow"></span>
                    <span class="link checkout__title-edit checkout__title-edit--text">Редактировать</span>
                    <span>Контактная информация</span>
                </h3>
                <div class="checkout__content">
                    <p class="input-wrapper  input-wrapper--grey form__input--required checkout__input">
                        <label for="">Телефон</label>
                        <br>
                        <input type="tel" id="" required>
                    </p>
                    <p class="input-wrapper  input-wrapper--grey form__input--required checkout__input">
                        <label for="">Электронная почта</label>
                        <br>
                        <input type="email" id="" required>
                    </p>
                    <p class="input-wrapper  input-wrapper--grey form__input--required checkout__input">
                        <label for="">Имя</label>
                        <br>
                        <input type="tel" id="" required>
                    </p>
                    <input class="btn btn--primary btn--callback btn--ttu b-callback__btn checkout__btn" type="button"
                           value="Продолжить >">
                    <p class="checkout__notice">Нажав «Продолжить», вы соглашаетесь c условиями Политики
                        о конфидициальности</p>
                </div>
            </section>

            <!-- Cекция "Способ доставки и оплаты" -->
            <section
                    class="checkout__section  checkout__section--delivery  checkout__section--open  page-order__checkout-section">
                <h3 class="checkout__title">
                    <span class="arrow
                                arrow--size_12
                                arrow--down
                                arrow--color_grey
                                page-order__back-arrow
                                checkout__title-edit checkout__title-edit--arrow"></span>
                    <span class="link checkout__title-edit checkout__title-edit--text">Редактировать</span>
                    <span>Способ доставки и оплаты</span>
                </h3>
                <div class="checkout__content">
                    <div class="checkout__chooser-delivery-method">
                        <input class="checkout__delivery-method-input" id="deliveryMethodSelf" name="deliveryMethod"
                               type="radio" value="self" checked>
                        <label class="  checkout__choose-delivery-method
                                        checkout__choose-delivery-method--self" for="deliveryMethodSelf">Самовывоз
                            <span>бесплатно</span></label>

                        <input class="checkout__delivery-method-input" id="deliveryMethodCourier" name="deliveryMethod"
                               type="radio" value="courier">
                        <label class="  checkout__choose-delivery-method
                                        checkout__choose-delivery-method--no-border-left
                                        checkout__choose-delivery-method--no-border-right
                                        checkout__choose-delivery-method--courier" for="deliveryMethodCourier">Доставка
                            курьером</label>

                        <input class="checkout__delivery-method-input" id="deliveryMethodTransport"
                               name="deliveryMethod" type="radio" value="transport">
                        <label class="  checkout__choose-delivery-method
                                        checkout__choose-delivery-method--transport" for="deliveryMethodTransport">Доставка
                            транспортной компанией</label>

                        <div class="checkout__delivery-self"></div>
                    </div>

                    <!-- SELF -->
                    <div class="checkout__self">
                        <div class="checkout__self-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.896965137549!2d37.41906271608832!3d55.690779080536785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54e765b4ff579%3A0xed4822f320641a6d!2z0KDRj9Cx0LjQvdC-0LLQsNGPINGD0LsuLCAzNNCQLCDQnNC-0YHQutCy0LAsIDEyMTQ3MQ!5e0!3m2!1sru!2sru!4v1511271081443"
                                    width="350" height="233" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <p class="checkout__self-adress">Москва, ул. Рябиновая, 34а</p>
                        <p class="checkout__self-timetable">10:00-20:00, без выходных</p>
                        <div class="form__select form__select--theme_grey checkout__self-date-select">
                            <span class="form__select-label">Дата самовывоза</span>
                            <br>
                            <input type="text" class="form__select-field" value="21 октября с 12.00" disabled>
                            <div class="form__select-list">
                                <span class="form__select-item">21 октября с 12.00</span>
                                <span class="form__select-item">22 октября с 11.00</span>
                                <span class="form__select-item">23 октября с 13.00</span>
                                <span class="form__select-item">24 октября с 16.00</span>
                            </div>
                        </div>
                        <p class="checkout__self-notice">Заказ храниться в пункте самовывоза 5 дней</p>
                    </div>

                    <!-- COURIER -->
                    <div class="checkout__courier">
                        <p class="input-wrapper  input-wrapper--grey  checkout__input--courier-city">
                            <label for="CourierCity">Город</label>
                            <br>
                            <input type="text" name="CourierCity" id="CourierCity">
                        </p>
                        <p class="input-wrapper  input-wrapper--grey  checkout__input  checkout__input--courier-street">
                            <label for="CourierStreet">Улица</label>
                            <br>
                            <input type="text" name="CourierStreet" id="CourierStreet">
                        </p>
                        <p class="input-wrapper  input-wrapper--grey  checkout__input  checkout__input--courier-house">
                            <label for="CourierHouse">Дом / корпус</label>
                            <br>
                            <input type="text" name="CourierHouse" id="CourierHouse">
                        </p>
                        <p class="input-wrapper  input-wrapper--grey  checkout__input  checkout__input--courier-flat">
                            <label for="CourierFlat">Квартира или офис</label>
                            <br>
                            <input type="text" name="CourierFlat" id="CourierFlat">
                        </p>
                        <br>
                        <a href="#" class="link  checkout__courier-addcomment">Добавить комментарий</a><br>
                        <p class="form__textarea  form__textarea--theme_grey  checkout__textarea  checkout__textarea--hide checkout__textarea--courier-comment">
                            <label for="CourierComment">Комментарий</label>
                            <br>
                            <textarea name="CourierComment" id="CourierComment"></textarea>
                        </p>
                        <div class="form__select form__select--theme_grey  checkout__courier-date-select">
                            <span class="form__select-label">Дата и время доставки</span>
                            <br>
                            <input type="text" class="form__select-field" value="21 октября" disabled>
                            <div class="form__select-list">
                                <span class="form__select-item">21 октября</span>
                                <span class="form__select-item">22 октября</span>
                                <span class="form__select-item">23 октября</span>
                                <span class="form__select-item">24 октября</span>
                            </div>
                        </div>
                        <div class="form__select form__select--theme_grey checkout__courier-time-select">
                            <input type="text" class="form__select-field" value="12.00 - 15.00" disabled>
                            <div class="form__select-list">
                                <span class="form__select-item">12.00 - 15.00</span>
                                <span class="form__select-item">15.00 - 18.00</span>
                                <span class="form__select-item">18.00 - 21.00</span>
                            </div>
                        </div>
                        <p class="checkout__courier-delivery-cost">За 490 руб.</p>
                    </div>

                    <!-- TRANSPORT -->
                    <div class="checkout__transport">
                        <p class="input-wrapper  input-wrapper--grey  checkout__input  checkout__input--transport-index">
                            <label for="TransportIndex">Индекс</label>
                            <br>
                            <input type="text" name="TransportIndex" id="TransportIndex">
                        </p>
                        <p class="input-wrapper  input-wrapper--grey  checkout__input  checkout__input--transport-city">
                            <label for="TransportCity">Город</label>
                            <br>
                            <input type="text" name="TransportCity" id="TransportCity">
                        </p>
                        <p class="input-wrapper  input-wrapper--grey  checkout__input  checkout__input--transport-street">
                            <label for="TransportStreet">Улица</label>
                            <br>
                            <input type="text" name="TransportStreet" id="TransportStreet">
                        </p>
                        <p class="input-wrapper  input-wrapper--grey  checkout__input  checkout__input--transport-house">
                            <label for="TransportHouse">Дом / корпус</label>
                            <br>
                            <input type="text" name="TransportHouse" id="TransportHouse">
                        </p>
                        <p class="input-wrapper  input-wrapper--grey  checkout__input  checkout__input--transport-flat">
                            <label for="TransportFlat">Квартира или офис</label>
                            <br>
                            <input type="text" name="TransportFlat" id="TransportFlat">
                        </p>
                        <p class="checkout__transport-notice">
                            Точная сумма и сроки доставки рассчитывается менеджером при согласовании заказа.
                        </p>

                        <div class="checkout__chooser-transport-company">
                            <p class="checkout__separator"></p>
                            <div class="form__radio  form__radio--theme_grey checkout__radio  checkout__radio--transport-company">
                                <input id="transportCompany1" name="transportCompany" type="radio" value="self" checked>
                                <label for="transportCompany1">
                                    <span class="form__radio-icon"></span>

                                    <h4 class="form__radio-title">Доставка в регион службой Деловые Линии</h4>
                                    <p class="form__radio-note">от 1090 руб</p>
                                    <p class="form__radio-description">
                                        Доставка в любой регион России службой «Деловые
                                        Линии». Стоимость доставки рассчитывается автоматически.
                                    </p>

                                </label>
                            </div>
                            <p class="checkout__separator"></p>
                            <div class="form__radio  form__radio--theme_grey checkout__radio  checkout__radio--transport-company">
                                <input id="transportCompany2" name="transportCompany" type="radio" value="self" checked>
                                <label for="transportCompany2">
                                    <span class="form__radio-icon"></span>

                                    <h4 class="form__radio-title">Доставка в регион службой ПЭК</h4>
                                    <p class="form__radio-note">от 730 руб</p>
                                    <p class="form__radio-description">
                                        Доставка в любой регион России службой ПЭК. Стоимость доставки
                                        рассчитывается автоматически.
                                    </p>
                                </label>
                            </div>
                            <p class="checkout__separator"></p>
                        </div>
                    </div>
                    <div class="checkout__payinfo">
                        <h3 class="checkout__title">Способ оплаты</h3>
                        <p class="checkout__payinfo-description">Оплата при получении наличными или картой</p>
                    </div>

                </div>
            </section>

            <!-- Cекция "Состав заказа" -->
            <section
                    class="checkout__section  checkout__section--consist  checkout__section--open  page-order__checkout-section page-order__checkout-section--right">
                <h3 class="checkout__title">
                    <span class="arrow
                                arrow--size_12
                                arrow--down
                                arrow--color_grey
                                page-order__back-arrow
                                checkout__title-edit checkout__title-edit--arrow"></span>
                    <span class="link checkout__title-edit checkout__title-edit--text">Редактировать</span>
                    <span>Состав заказа</span>
                </h3>
                <div class="checkout__content">
                    <div class="checkout__good">
                        <p class="checkout__good-title">Свеча накала 2,7TD</p>
                        <p class="checkout__good-subtitle">
                            <span class="checkout__good-count">4 шт. х </span>
                            <span class="checkout__good-cost">1 288.13</span>
                        </p>
                    </div>
                    <div class="checkout__good">
                        <p class="checkout__good-title">Задний фонарь от discovery 4 правый.</p>
                        <p class="checkout__good-subtitle">
                            <span class="checkout__good-count">2 шт. х </span>
                            <span class="checkout__good-cost">16 194.38</span>
                        </p>
                    </div>
                    <div class="checkout__good">
                        <p class="checkout__good-title">
                            Kомплект дверных ручек крашенных в цвет кузова автомобиля.
                            discovery 3
                        </p>
                        <p class="checkout__good-subtitle">
                            <span class="checkout__good-count">1 шт. х </span>
                            <span class="checkout__good-cost">12 900.38</span>
                        </p>
                    </div>
                    <p class="checkout__separator"></p>
                    <p class="checkout__goods-count">
                        <span class="checkout__goods-count-left">7 товаров</span>
                        <span class="checkout__goods-count-right">50 441.66</span>
                    </p>
                    <p class="checkout__goods-delivery">
                        <span class="checkout__goods-delivery-left">Самовывоз</span>
                        <span class="checkout__goods-delivery-right">400</span>
                    </p>
                    <p class="checkout__separator"></p>
                    <p class="checkout__goods-total">
                        <span class="checkout__goods-total-left">Итого</span>
                        <span class="checkout__goods-total-right">50 841.66</span>
                    </p>
                    <input class="btn btn--primary btn--callback btn--ttu btn--fullwidth b-callback__btn checkout__btn-checkout"
                           type="button" value="Оформить заказ">
                    <p class="checkout__notice">Нажав «Оформить заказ», вы соглашаетесь c условиями Политики
                        о конфидициальности</p>
                </div>
            </section>

        </form>
        {% include "../components/map/map.twig" with {classes: "page-order__map"} %}
    </main>
{% endblock %}