{% extends "layouts/app.twig" %}

{% block pageTitle %}Оформление заказа{% endblock %}

{% block content %}
    <main class="page-order-success">
        <div class="page-order-success__back">
            <a href="#" class="link page-order-success__back-link">
                <span class="arrow
                             arrow--size_15
                             arrow--left
                             arrow--color_grey
                             arrow--tail
                             page-order__back-arrow">
                </span>
                <span class="page-order-success__back-text">Вернуться в корзину</span>
            </a>
        </div>
        <h1 class="page-order-success__title">Оформление заказа</h1>
        <div class="page-order-success__success-plate-wrapper">
            {% include "../components/success-plate/success-plate.twig" with {classes: "page-order-success__success-plate"} %}
        </div>
        {% include "../components/map/map.twig" with {classes: "page-order-success__map"} %}
    </main>
{% endblock %}