{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    <main class="page-main">
        <section class="our-works-details__article">
            <div class="container">
                <div class="section-inner">
                    {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Сервисное обслуживание', url: '#'}, {title: 'По моделям', url: '#'}, {title: 'Диагностика и ремонт Range Rover ', url: '#'}, {title: 'сход-развал', url: '#'}], classes: "page-model__breadcrumb" } %}
                    <div class="article__head">
                        <div class="article__head-title tg">
                            <h1>
                                Замена ремня ГРМ и роликов на Land Rover Range Rover Sport 3.0 TD, Range Rover 3.0
                                2013 модельного года
                            </h1>
                        </div>
                    </div>
                    <div class="our-works-details__inner">
                        <div class="our-works-details__article-contain">
                            <div class="article">
                                <div class="article__contain-wrapper">
                                    <div class="article__head-contain">
                                        <div class="article__head-inner tg">
                                            <p>
                                                Со временем, под воздействием агрессивной окружающей среды и влиянием
                                                прямых
                                                лучей
                                                солнца, поликарбонат - из которого сделан рассеиватель - теряет
                                                прозрачность и
                                                свет
                                                фары тускнеет. Как следствие, ухудшается видимость в тёмное время суток.
                                            </p>
                                            <p>К счастью, от этого недуга помогает проверенное средство - полировка
                                                фар.</p>
                                        </div>
                                        <div class="article__anchor-nav article__anchor-nav--mobile">
                                            <a href="#anchor1">Подготовительные работы</a>
                                            <a href="#anchor2">Удаляем налет и царапины</a>
                                            <a href="#anchor3">Полировка фары</a>
                                            <a href="#anchor4">Результат полировки фар Range Rover</a>
                                        </div>
                                        <div class="our-works-details__sticky-form our-works-details__sticky-form--mobile" id="article-sticky-form">
                                                <p class="our-works-details__sticky-form-title">Не можешь понять в чем проблема?</p>
                                                <p class="our-works-details__sticky-form-sub">
                                                    Запишись на бесплатную диагностику
                                                </p>
                                                <form class="our-works-details__sticky-form-form">
                                                    <div class="our-works-details__sticky-form-block">
                                                        <div class="input-wrapper input-wrapper--grey2 input-wrapper--phone">
                                                            <input class="js-phone-mask" name="phone" type="text" placeholder="Телефон">
                                                        </div>
                                                    </div>
                                                    <div class="our-works-details__sticky-form-block">
                                                        <div class="input-wrapper input-wrapper--grey2 input-wrapper--phone">
                                                            <input name="" type="text" placeholder="Имя">
                                                        </div>
                                                    </div>
                                                    <div class="our-works-details__sticky-form-block">
                                                        <button class="btn btn--ttu btn--primary our-works-details__btn">получить диагностику</button>
                                                        <p class="our-works-details__sticky-form-notice">
                                                            Нажимая на кнопку «Получить диагностику», вы <br> принимаете условия
                                                            <a class="link" href="/policy.html">пользовательского соглашения</a> и
                                                            <br> даете согласие на обработку моих персональных
                                                            данных.
                                                        </p>
                                                    </div>
                                                </form>
                                            </div>
                                    </div>
                                    <div class="article__contain tg">
                                        <h2 id="anchor1">Подготовительные работы</h2>
                                        <p>Нельзя просто так взять и начать полировать рассеиватель. Есть риск повредить
                                            прилегающие к фаре детали кузова. Чтобы избежать лишних проблем, фару либо
                                            целиком
                                            снимают с автомобиля, либо оклеивают по периметру строительным скотчем.
                                            Желательно,
                                            в два слоя. Вот теперь можно браться за работу.</p>

                                        <a href="#" data-fancybox="gallery" data-src="images/anch1.jpg">
                                            <img src="images/anch1.jpg" alt="">
                                        </a>
                                        <h2 id="anchor2">Удаляем налет и царапины</h2>
                                        <p>Обезопасив окрашенные части автомобиля, приступаем к выполнению задания. С
                                            помощью
                                            полировальной машинки, полировочного круга и пасты, снимаем с рассеивателя
                                            налет и
                                            сглаживаем появившиеся в ходе эксплуатации царапины. Если фара используется
                                            давно и
                                            неоднократно проходила полировку, есть смысл обновить лаковое покрытие
                                            рассеивателя.
                                            Но перед этим, придётся расправиться с остатками старого лака. В результате
                                            этих
                                            действий, поликарбонат снова становится гладким, но приобретает стойкий
                                            матовый
                                            оттенок.
                                        </p>
                                        <ul>
                                            <li>Lorem ipsum dolor sit.</li>
                                            <li>Lorem ipsum dolor sit.</li>
                                            <li>Lorem ipsum dolor sit.</li>
                                            <li>Lorem ipsum dolor sit.</li>
                                        </ul>
                                        <ol>
                                            <li>
                                                dwdw
                                            </li>
                                            <li>
                                                wdwdwd
                                            </li>
                                        </ol>
                                        <img src="images/anch2.jpg" alt="">
                                        <aside>Ролики ГРМ подлежащие обязательной замене</aside>
                                        <h2 id="anchor3">Полировка фары</h2>
                                        <p>Зашлифовав царапины, приступаем непосредственно к полировке. Она производится
                                            также
                                            помощью машинки, круга и пасты. Убираем матовость и возвращаем рассеивателю
                                            прозрачность.</p>
                                        <img src="images/anch3.jpg" alt="">
                                        <aside>Если картинка вертикальная, ограничиваем высоту до 640px</aside>
                                        <h2 id="anchor4">Результат полировки фар Range Rover</h2>
                                        <p>А теперь давайте сравним. Вот такой была фара до полировки.</p>
                                        <img src="images/anch4-1.jpg" alt="">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda enim nam
                                            non officia quam totam. Facere officiis provident quis repudiandae?</p>
                                        <p>И с зажженными огнями. До полировочных работ.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur,
                                            voluptatem?</p>
                                        <img src="images/anch4-2.jpg" alt="">
                                        <p>После.</p>
                                        <img src="images/anch4-3.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="discover-notice">
                                <p class="discover-notice__txt txt-big">
                                    Узнать о наличии деталей, поинтересоваться сроком и стоимостью <br>
                                    выполнения работ, вы можете
                                    связавшись с наши менеджером по номеру <br> телефона +7 (499) 704-05-11 или заказав
                                    обратный
                                    звонок на сайте.</p>
                                <span class="discover-notice__btn btn btn--primary btn--ttu"
                                      data-uk-modal="target:'#modal-callback', center:true">Заказать звонок</span>
                            </div>
                        </div>
                        <div class="our-works-details__article-sidebar">
                            <div class="our-works-details__article-sidebar-sticky" id="sidebar-sticky-part">
                                <div class="article__anchor-nav article__anchor-nav--desk" id="article-anchor-nav-desk">
                                    <a href="#anchor1">Подготовительные работы</a>
                                    <a href="#anchor2">Удаляем налет и царапины</a>
                                    <a href="#anchor3">Полировка фары</a>
                                    <a href="#anchor4">Результат полировки фар Range Rover</a>
                                </div>
                                <div class="our-works-details__sticky-form" id="article-sticky-form">
                                    <p class="our-works-details__sticky-form-title">Не можешь понять в чем проблема?</p>
                                    <p class="our-works-details__sticky-form-sub">
                                        Запишись на бесплатную диагностику
                                    </p>
                                    <form class="our-works-details__sticky-form-form">
                                        <div class="our-works-details__sticky-form-block">
                                            <div class="input-wrapper input-wrapper--grey2 input-wrapper--phone">
                                                <input class="js-phone-mask" name="phone" type="text" placeholder="Телефон">
                                            </div>
                                        </div>
                                        <div class="our-works-details__sticky-form-block">
                                            <div class="input-wrapper input-wrapper--grey2 input-wrapper--phone">
                                                <input name="" type="text" placeholder="Имя">
                                            </div>
                                        </div>
                                        <div class="our-works-details__sticky-form-block">
                                            <button class="btn btn--ttu btn--primary our-works-details__btn">получить диагностику</button>
                                        </div>
                                    </form>
                                    <p class="our-works-details__sticky-form-notice">
                                        Нажимая на кнопку «Получить диагностику», вы принимаете условия
                                        <a class="link" href="/policy.html">пользовательского соглашения</a> и даете согласие на обработку моих персональных
                                        данных.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="other-work">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Другие работы", classes: "section-title--small-left"} %}
                    <div class="bg-hover-card-list other-work__list">
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Ремонт Webasto Land Rover дискавери 3 и 4, Range Rover Sport, Freelander 2",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена ремня ГРМ и роликов на Land Rover Range Rover Sport 3.0 td, Range Rover 3.0 2013 модельного года",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена амортизаторов (пневмостоек в сборе) на Range Rover Sport 2005 - 2013 года выпуска",
                            "img" : "images/bg-hover-card2.jpg" } %}
                        </div>
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена обивки подушки сиденья на Land Rover Freelander 2",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена заднего активного стабилизатора наLand Rover Range Rover Sport с 2006 по 2013 модельный год",
                            "img" : "images/bg-hover-card2.jpg" } %}
                        </div>
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Переуплотнение масляного насоса АКПП 6нр Discovery 3, Discovery 4, Range Rover и Range Rover sport",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                    </div>
                    <div class="other-work__more-btn-wrapper">
                        <a href="#" class="btn btn--outline">Смотреть все работы</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="specials our-works-details__specials">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Спецпредложения", classes: "section-title--small-left"} %}
                    <div class="thumbnail-list specials__thumbnail-list">
                        <div class="specials__thumbnail-item">
                            {% include "../components/thumbnail/thumbnail-item.twig" with {
                            "img": "images/specials1.jpg",
                            "title": "Диагностика подвески бесплатно!",
                            "text": "Спешите подготовиться к летним путешествиям!"
                            } %}
                        </div>
                        <div class="specials__thumbnail-item">
                            {% include "../components/thumbnail/thumbnail-item.twig" with {
                            "img": "images/specials2.jpg",
                            "title": "Специальные цены на мойку радиаторов!",
                            "text": "Всего за 10 500 руб."
                            } %}
                        </div>
                        <div class="specials__thumbnail-item">
                            {% include "../components/thumbnail/thumbnail-item.twig" with {
                            "img": "images/specials2.jpg",
                            "title": "Специальные цены на замену масла АКПП!",
                            "text": "Для всех владельцев автомобилей марки Land Rover наша компания предоставляет специальные цены на замену масла в АКПП в нашем сервисе!"
                            } %}
                        </div>
                        <div class="specials__thumbnail-item">
                            {% include "../components/thumbnail/thumbnail-item.twig" with {
                            "img": "images/specials2.jpg",
                            "title": "Диагностика подвески бесплатно!",
                            "text": "Спешите подготовиться к летним путешествиям!"
                            } %}
                        </div>
                    </div>
                    <div class="specials__more-btn-wrapper">
                        <a href="#" class="btn btn--outline">Все спецпредложения</a>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/sec-specials/sec-specials.twig" with {"classes": "our-works-details__specials"} %}
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>

{% endblock %}