{% extends "layouts/app.twig" %}

{% block pageTitle %}Наши работы{% endblock %}

{% block content %}

    <main class="page-main">
        <section class="our-works">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/page-title/page-title.twig" with {"title": "Наши работы", classes:
                    "page-title__about"} %}
                    <div class="bg-hover-card-list our-works__list">
                        <div class="our-works__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Ремонт Webasto Land Rover дискавери 3 и 4, Range Rover Sport, Freelander 2",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                        <div class="our-works__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена ремня ГРМ и роликов на Land Rover Range Rover Sport 3.0 td, Range Rover 3.0 2013 модельного года",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                        <div class="our-works__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена амортизаторов (пневмостоек в сборе) на Range Rover Sport 2005 - 2013 года выпуска",
                            "img" : "images/bg-hover-card2.jpg" } %}
                        </div>
                        <div class="our-works__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена обивки подушки сиденья на Land Rover Freelander 2",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                        <div class="our-works__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена заднего активного стабилизатора наLand Rover Range Rover Sport с 2006 по 2013 модельный год",
                            "img" : "images/bg-hover-card2.jpg" } %}
                        </div>
                        <div class="our-works__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Переуплотнение масляного насоса АКПП 6нр Discovery 3, Discovery 4, Range Rover и Range Rover sport",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                    </div>
                    <div class="our-works__moreBtn-wrapper">
                         <span class="our-works__moreBtn">
                         <i class="our-works__moreBtn-icon"></i>
                        Показать ещё 6
                    </span>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>


{% endblock %}