{% extends "layouts/app.twig" %}

{% block pageTitle %}Соглашение на обработку данных{% endblock %}

{% block content %}

    <main class="page-main page-policy">
        <section class="page-policy__inner">
            <div class="container">
                <div class="section-inner">
                    {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Cоглашение на обработку персональных данных ', url: '#'}], classes: "page-policy__breadcrumb" } %}
                    {% include "../components/page-title/page-title.twig" with {"title": "Политика конфиденциальности", classes:
                    "page-policy__page-title page-title--left"} %}
                    <div class="tg page-policy__tg">
                    <p>
                        Настоящая Политика конфиденциальности персональных данных (далее — «Политика
                        конфиденциальности», «Политика») устанавливает правила использования персональной информации,
                        получаемой от Пользователей сайта (далее — «Пользователь») Администратором сайта
                        <a href="www.lrstyle.ru">www.lrstyle.ru</a> (далее — «Администратор сайта»). Настоящая Политика
                        конфиденциальности применяется ко всем Пользователям Сайта.
                    </p>

                    <h3>Основные понятия</h3>
                    <p>
                        Администратор сайта — Общество с ограниченной ответственностью «ЛРСТАЙЛ», организуют и (или)
                        осуществляет обработку персональных данных, а также определяет цели обработки персональных
                        данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с
                        персональными данными.
                    </p>
                    <p>Сайт — <a href="www.lrstyle.ru">www.lrstyle.ru</a></p>
                    <p>Пользователь — субъект персональных данных, любое лицо имеющее доступ к Сайту, посредством сети
                        Интернет и использующее Сайт www.lrstyle.ru для ознакомления с контентом Сайта с целью либо без
                        цели отправки Заявки.</p>
                    <p>Персональные данные — любая информация, относящаяся к прямо или косвенно определенному или
                        определяемому физическому лицу (субъекту персональных данных).</p>
                    <p>Обработка персональных данных — любое действие (операция) или совокупность действий (операций),
                        совершаемых с использованием средств автоматизации или без использования таких средств с
                        персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение
                        (обновление, изменение), извлечение, использование, передачу (распространение, предоставление,
                        доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
                    <p>Согласие на обработку персональных данных (далее также - “Согласие”) — принятие Пользователем
                        настоящей Политики конфиденциальности и условий обработки персональных данных посредством
                        заполнения форм на Сайте.</p>
                    <p>Конфиденциальность персональных данных — обязательное для соблюдения Администратором сайта или
                        иным получившим доступ к персональным данным лицом требование не допускать их распространения
                        без согласия субъекта персональных данных или наличия иного законного основания.</p>
                    <p>Услуги — информационные, консультационные, рекламные услуги, представленные на Сайте.</p>
                    <p>Заявка — должным образом оформленный запрос Пользователя на предварительную Консультацию
                        Специалиста Администратора.</p>
                    <p>Cookies — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере
                        пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в
                        HTTP-запросе при попытке открыть страницу соответствующего сайта.</p>
                    <p>IP-адрес — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</p>
                    <ol>
                        <li>Общие положения
                            <ol>
                                <li>
                                    Использование Пользователем сайта <a href="www.lrstyle.ru">www.lrstyle.ru</a>
                                    означает согласие с настоящей Политикой конфиденциальности и условиями обработки
                                    персональных данных Пользователя.
                                </li>
                                <li>
                                    В случае несогласия с условиями Политики конфиденциальности Пользователь обязан
                                    немедленно прекратить использование сервиса и покинуть сайт
                                    <a href="www.lrstyle.ru">www.lrstyle.ru</a>.
                                </li>
                                <li>
                                    Администратор сайта не проверяет достоверность персональных данных, предоставляемых
                                    Пользователем сайта
                                    <a href="www.lrstyle.ru">www.lrstyle.ru</a> .
                                </li>
                                <li>
                                    Сообщая Администратору Сайта свои персональные данные: фамилию, имя, отчество,
                                    электронный адрес (e-mail ) и номер телефона, Пользователь тем самым:
                                    <ul>
                                        <li>
                                            Подтверждает, что все указанные им данные принадлежат лично ему;
                                        </li>
                                        <li>
                                            Подтверждает и признает, что полностью и безоговорочно принимает условия
                                            настоящей Политики конфиденциальности, при этом текст Политики
                                            конфиденциальности и условия обработки персональных данных ему понятны;
                                        </li>
                                        <li>
                                            Выражает Согласие на обработку персональных данных без оговорок и
                                            ограничений;
                                        </li>
                                        <li>
                                            Подтверждает, что, давая Согласие, он действует свободно, своей волей и в
                                            своем интересе.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Согласие Пользователя на обработку персональных данных является конкретным,
                                    информированным и сознательным, признается исполненным в простой письменной форме.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Предмет политики конфиденциальности
                            <ol>
                                <li>
                                    Настоящая Политика конфиденциальности устанавливает обязательства Администратора
                                    сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных
                                    данных, которые Пользователь предоставляет при отправке Заявки на Сайте.
                                </li>
                                <li>
                                    Персональные данные Пользователя обрабатывается в соответствии с ФЗ «О персональных
                                    данных» № 152-ФЗ.
                                </li>
                                <li>
                                    Персональные данные, разрешённые к обработке в рамках настоящей Политики
                                    конфиденциальности, предоставляются Пользователем посредством заполнения Заявки на
                                    Сайте и могут включать в себя следующую информацию:
                                    <ul>
                                        <li>Фамилия, имя, отчество Пользователя;</li>
                                        <li>Контактный телефон Пользователя;</li>
                                        <li>Адрес электронной почты (e-mail).</li>
                                    </ul>
                                </li>
                                <li>
                                    Техническая информация не является персональными данными. Администрация сайта
                                    использует файлы cookies, которые позволяют идентифицировать Пользователя. Файлы
                                    cookies – это текстовые файлы, доступные Администрации сайта, для обработки
                                    информации об активности Пользователя, включая информацию о том, какие страницы
                                    посещал Пользователь и о времени, которое Пользователь провел на странице. Файлы
                                    cookies не содержат личных данных, поэтому их использование не нарушает
                                    конфиденциальность. Пользователь может отключить возможность использования файлов
                                    cookies в настройках браузера.
                                </li>
                                <li>
                                    Также под технической информацией понимается информация, которая автоматически
                                    передается Администрации сайта в процессе использования Сайта с помощью
                                    установленного на устройстве Пользователя программного обеспечения.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Цели сбора персональной информации Пользователя
                            <ol>
                                <li>
                                    Целью сбора персональной информации Пользователя является предоставление
                                    информационных, консультационных и рекламных услуг Пользователям. Пользователи
                                    соглашаются с тем, что Администратор сайта также может использовать их персональные
                                    данные для:
                                    <ul>
                                        <li>Идентификация стороны в рамках предоставляемых услуг;</li>
                                        <li>Предоставления услуг и клиентской поддержки по запросу Пользователей;</li>
                                        <li>Улучшение качества услуг, удобства их использования, разработка и развитие
                                            Сайта, устранения технических неполадок или проблем с безопасностью;
                                        </li>
                                        <li>Информирования Пользователей об услугах, целевом маркетинге, обновлении
                                            услуг и рекламных предложениях на основании информационных предпочтений
                                            Пользователей;
                                        </li>
                                        <li>Таргетирование рекламных материалов; рассылки индивидуальных маркетинговых
                                            сообщений посредством электронной почты, звонков и SMS;
                                        </li>
                                        <li>Проведение статистических и иных исследований на основе обезличенных
                                            данных;
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Администрация сайта использует техническую информацию обезличено в целях, указанных
                                    в пункте 3.1.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Условия и способы обработки персональной информации Пользователей и ее передачи третьим
                            лицам
                            <ol>
                                <li>
                                    Пользователь дает согласие на обработку своих персональных данных посредством
                                    отправки Заявки, при этом моментом принятия Согласия является маркировка
                                    соответствующего поля в форме Заявки и нажатие на кнопку отправки формы Заявки на
                                    Сайте, расположенной по адресу
                                    <a href="www.lrstyle.ru">www.lrstyle.ru</a> , а также принятие от Пользователя
                                    Заявки по одному из телефонов Администратора, указанных на страницах контактов
                                    Сайта;
                                </li>
                                <li>
                                    Обработка персональных данных Пользователя означает сбор, запись, систематизацию,
                                    накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
                                    передачу (распространение, предоставление, доступ), обезличивание, блокирование,
                                    удаление, уничтожение персональных данных Пользователя.
                                </li>
                                <li>
                                    В отношении персональной информации Пользователя сохраняется ее конфиденциальность,
                                    кроме случаев добровольного предоставления Пользователем информации о себе для
                                    общего доступа неограниченному кругу лиц.
                                </li>
                                <li>
                                    Администратор сайта вправе передать персональную информацию Пользователя третьим
                                    лицам в следующих случаях:
                                    <ul>
                                        <li>
                                            Пользователь выразил согласие на такие действия;
                                        </li>
                                        <li>
                                            Передача необходима для использования Пользователем определенной услуги
                                            Сайта либо для исполнения определенного договора или соглашения с
                                            Пользователем;
                                        </li>
                                        <li>
                                            Передача уполномоченным органам государственной власти Российской Федерации
                                            по основаниям и в порядке, установленным законодательством Российской
                                            Федерации;
                                        </li>
                                        <li>
                                            В результате обработки персональной информации Пользователя путем ее
                                            обезличивания получены обезличенные статистические данные, которые
                                            передаются третьему лицу для проведения исследований, выполнения работ или
                                            оказания услуг по поручению Администрацией сайта.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Администратор сайта имеет право отправлять информационные, в том числе рекламные
                                    сообщения, на указанную электронную почту и мобильный телефон Пользователя с его
                                    согласия, выраженного посредством совершения им действий, однозначно
                                    идентифицирующих этого абонента и позволяющих достоверно передавать ему сообщения.
                                </li>
                                <li>
                                    Пользователь вправе в любое время отказаться от получения рекламной и другой
                                    информации без объяснения причин отказа путем направления соответствующего сообщения
                                    в свободной форме.
                                </li>
                                <li>
                                    Получить разъяснения по вопросам обработки персональных данных Пользователя, можно
                                    обратившись лично по адресу: 121471, Москва ул.Рябиновая д.34а стр.6;
                                    либо направив официальный запрос по Почте по адресу: 121471, Москва ул.Рябиновая
                                    д.34а стр.6.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Меры, применяемые для защиты персональной информации Пользователя
                            <ol>
                                <li>
                                    Администратор сайта принимает необходимые и достаточные правовые, организационные и
                                    технические меры для защиты персональной информации Пользователя от неправомерного
                                    или случайного доступа, уничтожения, изменения, блокирования, копирования,
                                    распространения, а также от иных неправомерных действий с ней третьих лиц.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Срок действия Согласия
                            <ol>
                                <li>
                                    Согласие Пользователя на обработку персональных данных действует бессрочно с момента
                                    предоставления данных и может быть отозвано Пользователем путем подачи письменного
                                    заявления Администратору сайта с указанием данных, определенных статьей 14
                                    Федерального закона №152-ФЗ «О персональных данных» по адресу: 121471, Москва
                                    ул.Рябиновая д.34а стр.6.
                                </li>
                                <li>
                                    В случае отзыва Пользователем Согласия на обработку персональных данных
                                    Администратор сайта вправе продолжить обработку персональных данных без согласия
                                    Пользователя при наличии оснований, указанных в пунктах 2-11 части 1 статьи 6, части
                                    2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных».
                                </li>
                            </ol>
                        </li>
                        <li>
                            Дополнительные условия
                            <ol>
                                <li>
                                    Администратор сайта вправе вносить изменения в настоящую Политику конфиденциальности
                                    без согласия Пользователя.
                                </li>
                                <li>
                                    Новая Политика конфиденциальности вступает в силу с момента ее размещения, если иное
                                    не предусмотрено новой редакцией Политики конфиденциальности. Продолжение
                                    использования Сайта после внесения таких изменений подтверждает согласие
                                    Пользователя с такими изменениями.
                                </li>
                                <li>
                                    Все термины и определения, встречающиеся в тексте Политики конфиденциальности
                                    толкуются в соответствии с действующим законодательством РФ (в частности, ФЗ «О
                                    персональных данных».) Признание отдельных положений недействительными или не
                                    имеющими юридической силы не отменяет действие остальных положений настоящей
                                    Политики конфиденциальности.
                                </li>
                                <li>
                                    Настоящая Политика конфиденциальности применима исключительно к Сайту, указанному в
                                    настоящей Политике. Администратор сайта не несет ответственности за сайты (ресурсы,
                                    сервисы) третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на
                                    сайтах, указанных в настоящей Политике.
                                </li>
                                <li>
                                    Сайт и предоставляемые сервисы могут временно частично или полностью недоступны по
                                    причине проведения профилактических или иных работ или по любым другим причинам
                                    технического характера.
                                </li>
                                <li>
                                    Все возможные споры, вытекающие из отношений, регулируемых настоящей Политикой,
                                    разрешаются в порядке, установленном действующим законодательством Российской
                                    Федерации, по нормам российского права.
                                </li>
                                <li>
                                    Соблюдение досудебного (претензионного) порядка урегулирования споров является обязательным.
                                </li>

                            </ol>
                        </li>
                        <li>
                            Реквизиты Администратора: <br>
                            <p>Общество с ограниченной ответственностью «ЛРСТАЙЛ»</p>
                            <table>
                                <tr>
                                    <td>Адрес местонахождения:</td>
                                    <td>121471, Москва ул.Рябиновая д.34а стр.6</td>
                                </tr>
                                <tr>
                                    <td>Телефон:</td>
                                    <td><a href="tel:+74955076973">+7 (495) 507-69-73</a>, <a href="tel:+74955077108">+7 (495) 507-71-08</a></td>
                                </tr>
                                <tr>
                                    <td>Адрес электронной почты:</td>
                                    <td><a href="mailto:info@lrstyle.ru">info@lrstyle.ru</a></td>
                                </tr>
                                <tr>
                                    <td>
                                        ИНН:
                                    </td>
                                    <td>
                                        7731467107
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        КПП:
                                    </td>
                                    <td>
                                        773101001
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        ОГРН:
                                    </td>
                                    <td>
                                        1147746236880
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ol>
                </div>
                </div>
            </div>
        </section>
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>

{% endblock %}