{% extends "layouts/app.twig" %}

{% block pageTitle %}Спецпредложения{% endblock %}

{% block content %}
    <main class="page-promo-detail">
        <div class="container">
            {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Спецпредложения', url: '#'} , {title: 'Техническое обслуживание Ленд Ровер Ренж Ровер 4,4 diesel, 2013 года по настоящее время', url: '#'}], classes: "promo-detail__breadcrumb" } %}
            <div class="page-promo-detail__title tg">
                <h1>Техническое обслуживание Ленд Ровер Ренж Ровер 3,0 и 5,0
                    supercharged 2013 модельного года</h1>
            </div>
        </div>
        {% include "../components/promo-offer/promo-offer.twig" with {classes: "page-promo-detail__offer tg-promo-offer"} %}
        <div class="container page-promo-detail__form-container">
            {% include "../components/form-participation/form-participation.twig" with {classes: "page-promo-detail__form-participation"} %}
        </div>

        {% include "../components/sec-specials/sec-specials.twig" with {"classes": "page-promo-detail__specials"} %}
        {% include "../components/diagnostics/diagnostics.twig" with {classes: "page-promo-detail__diagnostics"} %}
        {% include "../components/map/map.twig" %}
    </main>
{% endblock %}