{% extends "layouts/app.twig" %}

{% block pageTitle %}Спецпредложения{% endblock %}

{% block content %}
    <main class="page-promo">
        <h1 class="page-promo__title">Спецпредложения</h1>
        {% include "../components/promo-offers/promo-offers.twig" 
            with {
                offers: 
                    [
                        [
                            "images/page-promo__preoffer1.jpg",
                            "Диагностика подвески бесплатно!",
                            "Спешите подготовиться к летним путешествиям"
                        ],
                        [
                            "images/page-promo__preoffer2.jpg",
                            "Специальные цены на мойку радиаторов!",
                            "Всего за 10 500 руб."
                        ],
                        [
                            "images/page-promo__preoffer3.jpg",
                            "Специальные цены на замену масла АКПП!",
                            "Для всех владельцев автомобилей марки Land
                             Rover наша компания предоставляет специальные 
                             цены на замену масла в АКПП в нашем сервисе!"
                        ],
                        [
                            "images/page-promo__preoffer4.jpg",
                            "Комплексная проверка Вашего Land Rover",
                            "Чтобы все, о чем вам мечталось зимой — увлекательные
                             путешествия, выезды на дачу и на природу, — 
                             состоялось, на комплексную проверку автомобиля."
                        ],
                        [
                            "images/page-promo__preoffer5.jpg",
                            "Специальные цены на мойку радиаторов!",
                            "Всего за 10 500 руб."
                        ]
                    ],
                classes: "page-promo__offers"
            } 
        %}
        {% include "../components/diagnostics/diagnostics.twig" with {classes: "page-promo__diagnostics"} %}
        {% include "../components/map/map.twig" %}
    </main>
{% endblock %}