{% extends "layouts/app.twig" %}

{% block pageTitle %}Результаты поиска{% endblock %}

{% block content %}

    <main class="page-main">
        <section class="search">
            <div class="container">
                {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Аксессуары ', url: '#'} , {title: 'Defender', url: '#'} , {title: 'Экстерьер для Defender', url: '#'} , {title: 'Комплект фар и передних фонарей', url: '#'}], classes: "catalog__breadcrumb" } %}
                <div class="section-inner">
                    {% include '../components/page-title/page-title.twig' with {"title": "По вашему запросу ничего не найдено", classes: "page-title--left search__title"} %}
                    <div class="search__filter">
                      <div class="input-wrapper search__input sm-hidden">
                          <form action="">
                          <input type="text" placeholder="Введите запрос">
                              <button type="submit" class="search__input-btn">
                                  <svg class="icon-search" xmlns="http://www.w3.org/2000/svg" width="26.21" height="26.21" viewBox="0 0 26.21 26.21"><defs></defs><title>icon-search</title><g data-name="Слой 2"><g data-name="Слой 1"><circle class="cls-1-2" cx="11" cy="11" r="10"></circle><path class="cls-1-2" d="M18 18l7.5 7.5"></path></g></g></svg>
                              </button>
                          </form>
                      </div>
                        <div class="sm-visible search__filter-sm-icon">
                            <svg width="94" height="94" viewBox="0 0 94 94" xmlns="http://www.w3.org/2000/svg"><title>icon/find</title><defs><linearGradient x1="0%" y1="50%" y2="50%" id="a"><stop stop-color="#2B8A3E" offset="0%"/><stop stop-color="#2F9E44" offset="100%"/></linearGradient><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="b"><stop stop-color="#56BE72" offset="0%"/><stop stop-color="#2B8A3E" offset="100%"/></linearGradient><linearGradient x1="50%" y1="100%" x2="50%" y2="0%" id="c"><stop stop-color="#2B8A3E" offset="0%"/><stop stop-color="#2F9E44" offset="100%"/></linearGradient></defs><g fill="none" fill-rule="evenodd"><g stroke-width="3"><path d="M67.5 67.5l24.505 24.505" stroke="url(#a)" stroke-linecap="round"/><circle stroke="url(#b)" cx="40" cy="40" r="38.5"/></g><g transform="translate(17 17)" fill-rule="nonzero" fill="url(#c)"><path d="M19.806 19.363c-3.576 0-6.475 2.898-6.475 6.474 0 3.575 2.9 6.474 6.476 6.474 3.575 0 6.474-2.898 6.474-6.473 0-3.576-2.9-6.474-6.474-6.474zm0 11.074c-2.555 0-4.626-2.07-4.626-4.626 0-2.554 2.07-4.624 4.626-4.624 2.554 0 4.625 2.07 4.625 4.625 0 1.228-.486 2.404-1.354 3.272-.867.867-2.044 1.355-3.27 1.355z"/><path d="M19.806 16.458c-5.176 0-9.37 4.195-9.37 9.37 0 5.175 4.194 9.37 9.37 9.37 5.175 0 9.37-4.195 9.37-9.37 0-5.175-4.195-9.37-9.37-9.37zm0 16.9c-4.155 0-7.522-3.367-7.522-7.52 0-4.156 3.367-7.523 7.522-7.523 4.154 0 7.52 3.367 7.52 7.522-.003 4.152-3.368 7.517-7.52 7.522z"/><path d="M45.02 10.963h-2.06c-.214-.672-.484-1.325-.81-1.95l1.456-1.457c.174-.173.27-.407.27-.652 0-.244-.096-.48-.27-.65l-3.918-3.92c-.173-.173-.407-.27-.652-.27-.244 0-.48.097-.652.27L36.928 3.79c-.626-.325-1.278-.596-1.95-.81V.92c0-.502-.402-.91-.904-.92H28.51c-.507 0-.92.412-.92.92v2.06c-.67.214-1.324.485-1.95.81l-1.456-1.456c-.173-.173-.407-.27-.652-.27-.244 0-.48.097-.65.27l-3.698 3.69h-2.147c-.48.034-.853.436-.852.92V9.37c-.468.103-.937.23-1.388.375l-1.26-2.078c-.122-.213-.324-.37-.56-.433-.237-.064-.49-.03-.702.092L7.54 10.043c-.214.122-.37.323-.434.56-.064.236-.03.49.092.7l1.227 2.13c-.352.324-.69.674-1.014 1.048l-2.13-1.26c-.21-.122-.463-.155-.7-.09-.237.063-.438.218-.56.43l-2.734 4.73c-.134.216-.174.478-.11.724.065.247.228.456.45.58l2.122 1.19c-.145.46-.264.92-.375 1.39H.92c-.508 0-.92.412-.92.92v5.47c0 .507.412.92.92.92h2.487c.103.467.23.936.375 1.387L1.652 32.1c-.212.12-.368.322-.432.56-.064.236-.03.488.092.7l2.734 4.737c.122.213.323.37.56.433.236.064.49.03.7-.092l2.13-1.227c.324.348.665.69 1.014 1.013l-1.226 2.13c-.25.442-.1 1.004.34 1.26l4.737 2.734c.213.123.465.157.702.093.237-.064.438-.22.56-.433l1.226-2.13c.454.142.917.267 1.39.375v2.453c-.007.49.37.897.86.93h5.468c.508 0 .92-.413.92-.92V42.26c.468-.102.937-.23 1.388-.374l1.227 2.13c.122.212.324.368.56.432.237.064.49.03.702-.092l4.736-2.735c.213-.12.37-.32.433-.558.065-.237.032-.49-.09-.7l-1.228-2.13c.352-.325.69-.662 1.014-1.015l2.13 1.227c.212.123.464.156.7.092.238-.064.44-.22.56-.433l2.777-4.736c.25-.443.1-1.005-.34-1.26l-2.13-1.227c.145-.46.264-.92.375-1.39H38.7c.508 0 .92-.41.92-.92v-1.515l.076-.068 3.92-3.92c.172-.17.27-.406.27-.65 0-.245-.098-.48-.27-.652l-1.458-1.457c.326-.625.597-1.278.81-1.95h2.06c.245 0 .48-.098.65-.27.174-.173.27-.407.27-.65v-5.512c0-.508-.41-.92-.92-.92l-.008-.043zm-7.25 16.68h-2.3c-.45-.003-.835.322-.91.766-.155.87-.385 1.725-.69 2.555-.155.422.018.894.41 1.116l1.983 1.142-1.806 3.152-1.984-1.15c-.388-.22-.878-.135-1.167.205-.57.68-1.2 1.31-1.883 1.88-.343.29-.43.78-.204 1.168l1.15 1.985-3.11 1.823-1.142-1.985c-.222-.39-.694-.562-1.116-.408-.83.306-1.685.536-2.556.69-.444.075-.768.46-.766.912v2.29H18v-2.29c.002-.45-.323-.837-.767-.912-.87-.154-1.726-.384-2.556-.69-.422-.154-.893.02-1.116.41l-1.14 1.984-3.135-1.806 1.15-1.985c.228-.39.138-.89-.213-1.175-.69-.57-1.33-1.2-1.908-1.883-.287-.343-.78-.43-1.167-.204l-1.985 1.14-1.814-3.15 1.985-1.142c.39-.22.563-.693.408-1.115-.304-.83-.535-1.685-.69-2.556-.074-.445-.46-.77-.91-.767H1.85v-3.62h2.29c.45 0 .836-.323.91-.767.155-.87.386-1.726.69-2.556.15-.42-.02-.886-.407-1.107l-1.985-1.176 1.806-3.135 1.985 1.15c.397.22.897.115 1.174-.247.58-.67 1.22-1.29 1.908-1.848.343-.288.43-.78.205-1.167l-1.15-1.985 3.117-1.815 1.142 1.985c.222.39.694.564 1.116.41.83-.306 1.685-.537 2.555-.69.445-.076.77-.462.767-.912V7.87h3.62v2.293c-.002.45.323.836.767.91.872.155 1.727.386 2.557.69.422.156.893-.017 1.116-.408L27.26 9.37l3.134 1.806-1.15 1.985c-.225.388-.138.88.205 1.168.667.565 1.286 1.186 1.847 1.857.288.343.78.43 1.167.205l1.985-1.15 1.805 3.134-1.968 1.22c-.39.22-.563.693-.41 1.115.306.828.537 1.684.69 2.554.076.444.462.77.913.767h2.29v3.613zM44.1 16.51h-1.84c-.423-.002-.792.287-.894.697-.245.98-.632 1.92-1.15 2.786-.218.362-.162.825.136 1.124l1.295 1.295-2.036 2.036v-1.354c.008-.25-.086-.49-.26-.667-.172-.18-.41-.28-.66-.28H36.24c-.102-.467-.23-.936-.375-1.387l2.13-1.167c.44-.256.59-.82.34-1.26L35.6 13.595c-.122-.214-.324-.37-.56-.433-.237-.064-.49-.03-.702.092L32.2 14.48c-.324-.35-.662-.69-1.014-1.012l1.227-2.13c.123-.212.156-.464.092-.7-.064-.238-.22-.44-.433-.56l-4.728-2.77c-.442-.25-1.004-.098-1.26.342l-1.227 2.13c-.454-.143-.917-.268-1.388-.376v-2.46c0-.51-.413-.92-.92-.92h-.743l1.704-1.705 1.296 1.294c.3.298.763.354 1.124.136.868-.517 1.806-.905 2.786-1.15.41-.102.7-.47.698-.894V1.85h3.697v1.83c0 .423.29.793.7.894.992.245 1.942.636 2.82 1.16.36.217.825.16 1.124-.137L39.04 4.26l2.616 2.614-1.304 1.33c-.32.305-.377.795-.136 1.166.518.868.905 1.806 1.15 2.786.102.41.47.7.894.698h1.832l.008 3.655z"/></g></g></svg>
                        </div>
                        <div class="search__not-found-note">
                            <p>Попробуйте изменить формулировку <br> или найти в разделах <a href="" class="link">Запчасти</a>  и
                                <a href="" class="link">Аксессуары</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Популярные запчасти", classes: "section-title--small-left"} %}
                    <div class="spares__list card-spares__list">
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Набор ксеноновых ламп",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин»",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Комплект фар и передних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Чехол для запасного колеса, материал пластик",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин»",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин» для лебедки",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn btn--outline">Смотреть все запчасти</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Популярные аксессуары", classes: "section-title--small-left"} %}
                    <div class="spares__list card-spares__list">
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Набор ксеноновых ламп",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин»",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Комплект фар и передних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Чехол для запасного колеса, материал пластик",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин»",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин» для лебедки",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn btn--outline">Смотреть все аксессуары</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="specials our-works-details__specials">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Спецпредложения", classes: "section-title--small-left"} %}
                    <div class="thumbnail-list specials__thumbnail-list">
                        <div class="specials__thumbnail-item">
                            {% include "../components/thumbnail/thumbnail-item.twig" with {
                            "img": "images/specials1.jpg",
                            "title": "Диагностика подвески бесплатно!",
                            "text": "Спешите подготовиться к летним путешествиям!"
                            } %}
                        </div>
                        <div class="specials__thumbnail-item">
                            {% include "../components/thumbnail/thumbnail-item.twig" with {
                            "img": "images/specials2.jpg",
                            "title": "Специальные цены на мойку радиаторов!",
                            "text": "Всего за 10 500 руб."
                            } %}
                        </div>
                        <div class="specials__thumbnail-item">
                            {% include "../components/thumbnail/thumbnail-item.twig" with {
                            "img": "images/specials2.jpg",
                            "title": "Специальные цены на замену масла АКПП!",
                            "text": "Для всех владельцев автомобилей марки Land Rover наша компания предоставляет специальные цены на замену масла в АКПП в нашем сервисе!"
                            } %}
                        </div>
                        <div class="specials__thumbnail-item">
                            {% include "../components/thumbnail/thumbnail-item.twig" with {
                            "img": "images/specials2.jpg",
                            "title": "Диагностика подвески бесплатно!",
                            "text": "Спешите подготовиться к летним путешествиям!"
                            } %}
                        </div>
                    </div>
                    <div class="specials__more-btn-wrapper">
                        <a href="#" class="btn btn--outline">Все спецпредложения</a>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>


{% endblock %}