{% extends "layouts/app.twig" %}

{% block pageTitle %}Результаты поиска{% endblock %}

{% block content %}

    <main class="page-main page-result">
        <section class="search">
            <div class="container">
                {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Аксессуары ', url: '#'} , {title: 'Defender', url: '#'} , {title: 'Экстерьер для Defender', url: '#'} , {title: 'Комплект фар и передних фонарей', url: '#'}], classes: "catalog__breadcrumb" } %}
                <div class="section-inner">
                    {% include '../components/page-title/page-title.twig' with {"title": "Найдено 137 товаров по запросу «двигатель»", classes: "page-title--left search__title"} %}
                    <div class="search__filter">
                        <div class="search__filter-list">
                            <a href="#" class="search__filter-item active">Двигатель <span class="search__filter-count">10</span></a>
                            <a href="#" class="search__filter-item">Аксессуары <span class="search__filter-count">10</span></a>
                            <a href="#" class="search__filter-item">Спецпредложения <span class="search__filter-count">10</span></a>
                            <a href="#" class="search__filter-item">Наши работы <span class="search__filter-count">10</span></a>
                        </div>
                        <a href="#" class="search__filter-ext-link">Перейти в раздел «Двигатель»</a>
                    </div>
                    <div class="spares__list card-spares__list">
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Набор ксеноновых ламп",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин»",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Комплект фар и передних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Защита задних фонарей",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Чехол для запасного колеса, материал пластик",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин»",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                        <div class="card-spares__item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Передняя защита «Кенгурин» для лебедки",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "img": "images/specials2.jpg",
                            "mark": "Defender",
                            "type": "big"
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="spares">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "С этим товаром покупают", classes: "section-title--left"} %}
                    <div class="spares__list our-work__spares-list">
                        <div class="our-work__spares-item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Свеча накала 2,7TD",
                            "subtitle": "Заказ от 2 дней",
                            "price": "1 288.13 Р",
                            "mark": "Defender",
                            "img": "images/spares.jpg"
                            } %}
                        </div>
                        <div class="our-work__spares-item">
                            {% include "../components/spares/spares-item.twig" with {
                            "title": "Комплект ремня ГРМ с водяной помпой",
                            "subtitle": "Заказ от 2 дней",
                            "mark": "Defender",
                            "price": "21 288.45 Р"
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container page-result__callback-container">
            {% include "../components/callback-form-inline/callback-form.twig" with {classes: "page-result__callback-form"} %}
        </div>
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>


{% endblock %}