{% extends "layouts/app.twig" %}

{% block pageTitle %}Результаты поиска{% endblock %}

{% block content %}
    <main class="page-main page-model">
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Range Rover ', url: '#'}], classes: "page-model__breadcrumb" } %}

                    <div class="page-model__contain page-model__tg tg">
                        <h1>Land Rover Range Rover - классика бездорожья</h1>
                        <p>Range Rover - статусный автомобиль, подчёркивающий состоятельность и твёрдый характер своего владельца. Первый Range Rover Classic сошёл с конвейера в 1970 году. В сентябре 2012 года, миру была представлена, актуальная по сей день, модель четвёртого поколения - Range Rover L405. </p>
                        <p>Рендж Ровер считается флагманской моделью компании Land Rover. Это большой полноприводный внедорожник класса люкс, достигающий пяти метров в длину и двух метров в ширину. Изначально четвёртое поколение было оснащено бензиновыми и дизельными двигателями V6 и V8 объёмом от трёх до пяти литров от таких производителей как BMW, Jaguar, Peugeot Citroën.</p>
                        <p>Начиная с 2009 года, автомобили марки Range Rover комплектуются восьмиступенчатой автоматической коробкой переключения передач ZF 8HP70, которая, при должном уходе, способна прослужить верой и правдой долгие годы.   </p>
                        <h2>Range Rover: <br> грамотный уход - залог долгой работы</h2>
                        <p>Рендж Ровер четвёртого поколения стабильно демонстрирует отличные ходовые качества на бездорожье и в городских условиях. Салон отличается комфортом, управление - лёгкостью, подвеска - надёжностью. Но какой бы проверенной и легендарной ни была машина, для долгой и успешной службы ей необходимы грамотный уход и регулярное техническое обслуживание. Особенно, если она часто стоит в пробках или активно используется для езды по пересечённой местности. В первом случае, под угрозой находится АКПП, во втором - двигатель и ходовая часть. </p>
                        <p>Компания Land Rover Style предлагает владельцам автомобилей Range Rover полный спектр диагностических и ремонтных работ:</p>
                        <ul>
                            <li>техническое обслуживание;</li>
                            <li>диагностика и ремонт подвески;</li>
                            <li>диагностика и ремонт подвески;</li>
                            <li>диагностика и ремонт или замена двигателя;</li>
                            <li>диагностика и ремонт АКПП;</li>
                            <li>диагностика, ремонт и заправка кондиционера;</li>
                            <li>диагностика и ремонт тормозной системы;</li>
                            <li>общая компьютерная диагностика;</li>
                            <li>сход-развал;</li>
                            <li>шиномонтаж и балансировка.</li>
                        </ul>
                        <p>Мы работаем с 09.00 до 21.00 по адресу: г. Москва, ул. Рябиновая, 34а. <br> <strong>При первом обращении вас ждёт бесплатная диагностика!</strong></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="spare-category">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Диагностика и ремонт Range Rover", classes: "spare-category__section-title"} %}
                    <div class="spare-category__list">
                        <div class="spare-category__col">
                            <a href="#" class="spare-category__item">
                                <div class="spare-category__img">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30.531" height="118.999" viewBox="0 0 30.530951 118.999"><defs><path id="a" d="M0 .003h30.502V119H0z"/></defs><g fill="none" fill-rule="evenodd"><path d="M15.265 105.18c.867 0 1.572.704 1.572 1.57 0 .866-.705 1.571-1.571 1.571s-1.57-.705-1.57-1.57c0-.867.704-1.571 1.57-1.571m0 7.641a6.078 6.078 0 0 0 6.07-6.07 6.078 6.078 0 0 0-6.07-6.071 6.078 6.078 0 0 0-6.07 6.07 6.078 6.078 0 0 0 6.07 6.071" fill="currentColor"/><g transform="translate(.015 -.001)"><path d="M21.056 62.546L9.446 57.75v-7.795l11.61 4.796zm0 12.665l-11.61-4.796v-7.796l11.61 4.797zm0 10.787H9.446V75.284l11.61 4.796zm4.699 8.503H4.747v-4.003h21.008zM23 106.75c0 4.273-3.477 7.75-7.75 7.75-4.274 0-7.75-3.477-7.75-7.75S10.977 99 15.25 99s7.75 3.477 7.75 7.75zM9.445 37.29l11.61 4.796v7.795l-11.61-4.796zm0-10.788h11.61v10.714L9.445 32.42zm-4.698-4.5h21.008V18H4.747zm6.005-13.001c0-2.481 2.018-4.5 4.499-4.5a4.504 4.504 0 0 1 4.499 4.5 4.505 4.505 0 0 1-4.5 4.499A4.505 4.505 0 0 1 10.753 9zm16.64 48.366a2.251 2.251 0 0 0 1.718-4.159l-3.554-1.468v-7.796l1.836.759a2.251 2.251 0 0 0 1.718-4.159l-3.554-1.469V26.503h2.449a2.25 2.25 0 0 0 2.25-2.25v-8.502a2.25 2.25 0 0 0-2.25-2.25H23.04A8.943 8.943 0 0 0 24.25 9c0-4.962-4.037-8.999-9-8.999-4.961 0-8.998 4.037-8.998 9 0 1.638.442 3.174 1.21 4.499H2.497a2.25 2.25 0 0 0-2.25 2.25v8.503a2.25 2.25 0 0 0 2.25 2.25h2.448v4.059l-1.835-.759a2.25 2.25 0 0 0-1.718 4.16l3.553 1.467v7.796l-1.835-.758a2.25 2.25 0 1 0-1.718 4.159l3.553 1.468v7.795l-1.835-.758a2.25 2.25 0 1 0-1.718 4.159l3.553 1.468v7.795l-1.835-.758a2.25 2.25 0 1 0-1.718 4.16l3.553 1.467v12.573H2.497a2.25 2.25 0 0 0-2.25 2.25v8.503A2.25 2.25 0 0 0 2.497 99h3.275a12.193 12.193 0 0 0-2.771 7.75C3 113.505 8.496 119 15.25 119c6.754 0 12.25-5.495 12.25-12.25A12.19 12.19 0 0 0 24.729 99h3.275a2.25 2.25 0 0 0 2.25-2.25v-8.503a2.25 2.25 0 0 0-2.25-2.25h-2.449v-4.059l1.836.758a2.25 2.25 0 1 0 1.718-4.159l-3.554-1.468v-7.795l1.836.758a2.251 2.251 0 0 0 1.718-4.159l-3.554-1.468V56.61l1.836.758z" fill="currentColor"/></g></g></svg>
                                </div>
                                <p class="spare-category__txt"> Подвеска</p>
                            </a>
                        </div>
                        <div class="spare-category__col">
                            <a href="#" class="spare-category__item">
                                <div class="spare-category__img">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.66 107.334" xmlns:xlink="http://www.w3.org/1999/xlink" width="117.66" height="107.334"><defs><path id="a" d="M0 .166h117.66V107.5H0z"/></defs><g fill="none" fill-rule="evenodd"><g transform="translate(0 -.166)"><path d="M104.294 100.71a2.292 2.292 0 0 1-2.29 2.29H90.747a2.293 2.293 0 0 1-2.29-2.29v-3.057h11.405c1.54 0 3.032-.256 4.432-.727zm-75.09 0a2.293 2.293 0 0 1-2.29 2.29h-11.26a2.293 2.293 0 0 1-2.289-2.29v-3.785c1.401.472 2.893.728 4.433.728h11.407v3.057zM15.839 57.03h85.984l7.16 7.159a8.177 8.177 0 0 1 2.34 4.96H6.338a8.177 8.177 0 0 1 2.34-4.96l7.16-7.16zM4.5 48.629c0-.798.65-1.448 1.448-1.448h4.186c.798 0 1.447.65 1.447 1.448v2.139l-5.807-.702A1.449 1.449 0 0 1 4.5 48.63zm20.396-11.32a17.013 17.013 0 0 1 4.486-1.523c1.428-.275 3.706-.527 6.64-.736 3.856 8.773 12.627 14.915 22.808 14.915 10.18 0 18.951-6.142 22.807-14.914 2.928.207 5.207.459 6.644.735 1.587.306 3.092.818 4.485 1.524l6.953 15.22H17.942l6.954-15.222zm9.289-8.629l.008-.001a25.1 25.1 0 0 0 .368 1.968c-2.33.185-4.198.399-5.581.639a12.429 12.429 0 0 1 5.205-2.606zM58.83 4.666c11.249 0 20.4 9.15 20.4 20.4 0 11.248-9.151 20.4-20.4 20.4-11.249 0-20.4-9.152-20.4-20.4 0-11.25 9.151-20.4 20.4-20.4zm29.85 26.62c-1.39-.241-3.257-.454-5.581-.638.148-.647.27-1.304.368-1.969l.006.002a12.424 12.424 0 0 1 5.207 2.605zm17.399 17.343c0-.798.65-1.448 1.448-1.448h4.185a1.449 1.449 0 1 1 .174 2.885l-5.807.702zm-13.74 32.34l-2.287-7.32h20.868l-1.039 7.32H92.34zm-67.019 0H7.778L6.74 73.65h20.867l-2.287 7.32zm7.83 0h-3.115l2.287-7.32h3.116zm44.357-7.32l2.287 7.32H37.865l2.287-7.32zm7.831 0l2.287 7.32H84.51l-2.288-7.32h3.117zm14.524 19.504H17.798c-4.548 0-8.482-3.268-9.364-7.684h100.792c-.883 4.416-4.816 7.684-9.364 7.684zm6.554-37.893l6.01-.726a5.952 5.952 0 0 0 5.234-5.905 5.954 5.954 0 0 0-5.948-5.947h-4.186a5.957 5.957 0 0 0-5.582 3.893L96.09 33.761a17.018 17.018 0 0 0-12.38-9.625C83.22 10.836 72.248.166 58.83.166c-13.419 0-24.39 10.669-24.881 23.97a17.02 17.02 0 0 0-12.38 9.626l-5.855 12.811a5.958 5.958 0 0 0-5.581-3.891H5.948A5.954 5.954 0 0 0 0 48.629a5.952 5.952 0 0 0 5.234 5.905l6.01.726-5.748 5.747a12.697 12.697 0 0 0-3.575 10.708l1.966 13.86c.505 3.562 2.352 6.669 4.978 8.84v6.295a6.798 6.798 0 0 0 6.79 6.79h11.26a6.798 6.798 0 0 0 6.79-6.79v-3.057h50.252v3.057a6.798 6.798 0 0 0 6.79 6.79h11.257a6.798 6.798 0 0 0 6.79-6.79v-6.294c2.626-2.171 4.474-5.278 4.979-8.841l1.965-13.86a12.697 12.697 0 0 0-3.575-10.708z" fill="currentColor"/></g><path d="M55.055 38.093a2.25 2.25 0 0 0 4.099-.402l8.25-25.123a2.25 2.25 0 1 0-4.276-1.404l-6.655 20.27-4.245-7.547a2.25 2.25 0 1 0-3.922 2.206l6.75 12z" fill="currentColor"/></g></svg>
                                </div>
                                <p class="spare-category__txt">Техническое обслуживание</p>
                            </a>
                        </div>
                        <div class="spare-category__col">
                            <a href="#" class="spare-category__item">
                                <div class="spare-category__img">
                                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 104.413 76.406998" xmlns:xlink="http://www.w3.org/1999/xlink" width="55" height="76.407"><defs><path id="a" d="M0 0h104.413v76.407H0z"/></defs><g fill="none" fill-rule="evenodd"><path d="M73.242 42.529h15.77a2.25 2.25 0 0 1 2.25 2.25V67.58a4.33 4.33 0 0 0 4.325 4.326 4.33 4.33 0 0 0 4.326-4.326V8.825A4.33 4.33 0 0 0 95.587 4.5a4.33 4.33 0 0 0-4.326 4.325v22.803a2.25 2.25 0 0 1-2.25 2.25H73.242a2.25 2.25 0 0 1-2.25-2.25V8.825A4.33 4.33 0 0 0 66.666 4.5a4.33 4.33 0 0 0-4.325 4.325v22.803a2.25 2.25 0 0 1-2.25 2.25H44.32a2.25 2.25 0 0 1-2.25-2.25V8.825A4.33 4.33 0 0 0 37.746 4.5a4.33 4.33 0 0 0-4.326 4.325v22.803a2.25 2.25 0 0 1-2.25 2.25H15.4a2.25 2.25 0 0 1-2.25-2.25V8.825A4.33 4.33 0 0 0 8.826 4.5 4.33 4.33 0 0 0 4.5 8.825v29.379a4.33 4.33 0 0 0 4.325 4.325H31.17a2.25 2.25 0 0 1 2.25 2.25v22.803a4.33 4.33 0 0 0 4.326 4.325 4.33 4.33 0 0 0 4.325-4.325V44.779a2.25 2.25 0 0 1 2.25-2.25h15.77a2.25 2.25 0 0 1 2.25 2.25v22.803a4.33 4.33 0 0 0 4.326 4.325 4.33 4.33 0 0 0 4.325-4.325V44.779a2.25 2.25 0 0 1 2.25-2.25m22.345 33.878c-4.867 0-8.826-3.959-8.826-8.825V47.029H75.492v20.553c0 4.866-3.96 8.825-8.826 8.825-4.866 0-8.825-3.959-8.825-8.825V47.029H46.57v20.553c0 4.866-3.959 8.825-8.825 8.825-4.867 0-8.826-3.959-8.826-8.825V47.029H8.825C3.96 47.029 0 43.069 0 38.203V8.825C0 3.96 3.959 0 8.825 0c4.867 0 8.826 3.959 8.826 8.825v20.553h11.27V8.825C28.92 3.96 32.88 0 37.746 0c4.867 0 8.826 3.959 8.826 8.825v20.553h11.27V8.825C57.841 3.96 61.8 0 66.666 0s8.825 3.959 8.825 8.825v20.553h11.27V8.825C86.762 3.96 90.721 0 95.587 0c4.867 0 8.826 3.959 8.826 8.825v58.757c0 4.866-3.96 8.825-8.826 8.825" fill="currentColor"/></g></svg>
                                </div>
                                <p class="spare-category__txt">АКПП</p>
                            </a>
                        </div>
                        <div class="spare-category__col">
                            <a href="#" class="spare-category__item">
                                <div class="spare-category__img">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="79.733" viewBox="0 0 113.065 79.733002"><defs><path id="a" d="M0 0h113.066v79.733H0z"/></defs><g fill="none" fill-rule="evenodd"><path d="M108.566 57.44c0 3.247-2.127 6.006-5.061 6.957V28.571a7.322 7.322 0 0 1 5.06 6.957V57.44zM94.43 49.15h4.575v-5.331H94.43v5.33zm-5.825 26.083h1.325V30.29h-1.325zM33.422 64.18a2.25 2.25 0 0 0-1.778-.871H20.155V30.29h1.79a2.25 2.25 0 0 0 1.976-1.175l3.761-6.911h48.285l1.945 6.482a2.25 2.25 0 0 0 2.155 1.604h4.038v44.943H41.987zm-19.365-.872h1.598V30.29h-1.598v33.02zm39.967-45.605h3.224v-5.692h-3.224zM41.766 7.512h27.74V4.5h-27.74zM4.5 49.149h5.057v-5.33H4.5zm96.755-25.432a2.25 2.25 0 0 0-2.25 2.25v13.351H94.43V28.04a2.25 2.25 0 0 0-2.25-2.25H81.741l-1.944-6.483a2.25 2.25 0 0 0-2.155-1.603H61.748V12.01h10.008a2.25 2.25 0 0 0 2.25-2.25V2.25A2.25 2.25 0 0 0 71.756 0h-32.24a2.25 2.25 0 0 0-2.25 2.25v7.512a2.25 2.25 0 0 0 2.25 2.25h10.008v5.692H26.345a2.25 2.25 0 0 0-1.976 1.175l-3.761 6.911h-8.801a2.25 2.25 0 0 0-2.25 2.25v11.28H4.5V23.233a2.25 2.25 0 1 0-4.5 0v46.502a2.25 2.25 0 0 0 4.5 0V53.65h5.057v11.91a2.25 2.25 0 0 0 2.25 2.25H30.54l8.565 11.052a2.25 2.25 0 0 0 1.778.871H92.18a2.25 2.25 0 0 0 2.25-2.25V53.65h4.575v13.352a2.25 2.25 0 0 0 2.25 2.25c6.513 0 11.81-5.298 11.81-11.811V35.528c0-6.513-5.297-11.811-11.81-11.811z" fill="currentColor"/></g></svg>
                                </div>
                                <p class="spare-category__txt"> Двигатель</p>
                            </a>
                        </div>
                        <div class="spare-category__col">
                            <a href="#" class="spare-category__item">
                                <div class="spare-category__img">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="113.892" height="110.995" viewBox="0 0 113.8921 110.9945"><defs><path id="a" d="M33.642.146v21.64H.181V.146z"/><path id="c" d="M113.892 110.995V0H0v110.995z"/></defs><g fill="none" fill-rule="evenodd"><g><path d="M4.5 23.41v-3.75h11.867a2.25 2.25 0 0 0 2.25-2.25v-.549l8.094 4.673-8.094 4.673v-.548a2.25 2.25 0 0 0-2.25-2.25H4.5zm9.617 6.695a2.25 2.25 0 0 0 3.375 1.948l14.844-8.57a2.25 2.25 0 0 0 0-3.897l-14.844-8.57a2.25 2.25 0 0 0-3.375 1.948v2.196H2.25A2.25 2.25 0 0 0 0 17.41v8.25a2.25 2.25 0 0 0 2.25 2.25h11.867z" fill="currentColor"/><g transform="translate(80.25 78.495)"><path d="M29.142 12.84H17.275a2.25 2.25 0 0 0-2.25 2.25v.549L6.93 10.966l8.094-4.673v.548a2.25 2.25 0 0 0 2.25 2.25h11.867zm2.25-8.25H19.525V2.397A2.25 2.25 0 0 0 16.15.447L1.306 9.017a2.251 2.251 0 0 0 0 3.897l14.844 8.57a2.25 2.25 0 0 0 3.375-1.948V17.34h11.867a2.25 2.25 0 0 0 2.25-2.25V6.84a2.25 2.25 0 0 0-2.25-2.25z" fill="currentColor"/></g><path d="M77.945 67.685h2.624V43.31h-2.624zm-4.5 30.71c0 3.729-2.534 6.875-5.97 7.813-.628-1.988-.425-4.19.607-6.022l.013-.023a12.178 12.178 0 0 0 0-11.887l-.007-.01a7.652 7.652 0 0 1 .006-7.466 12.176 12.176 0 0 0-.007-11.9 7.653 7.653 0 0 1 .013-7.474 12.178 12.178 0 0 0-.006-11.877 7.652 7.652 0 0 1 0-7.471 12.176 12.176 0 0 0 .007-11.877l-.008-.014a7.653 7.653 0 0 1 .001-7.472 12.178 12.178 0 0 0 .01-11.87l-.01-.019a7.659 7.659 0 0 1-.619-6.039c3.436.938 5.97 4.085 5.97 7.814zm-32.998 0V12.6a8.103 8.103 0 0 1 3.886-6.915 12.151 12.151 0 0 0 1.455 7.33l.011.02a7.654 7.654 0 0 1 0 7.472 12.177 12.177 0 0 0-.008 11.876l.008.015a7.653 7.653 0 0 1 0 7.47 12.177 12.177 0 0 0 0 11.89 7.653 7.653 0 0 1 .011 7.45l-.012.022a12.177 12.177 0 0 0 .007 11.902 7.653 7.653 0 0 1 0 7.45l-.008.012a12.178 12.178 0 0 0 .006 11.898c1.294 2.302 1.293 5.161.007 7.444l-.013.023a12.152 12.152 0 0 0-1.465 7.35 8.103 8.103 0 0 1-3.885-6.915zm18.458 1.773l.012-.021a12.177 12.177 0 0 0-.01-11.871l-.006-.01a7.652 7.652 0 0 1 .006-7.466 12.178 12.178 0 0 0 .012-11.866l-.013-.024a7.652 7.652 0 0 1 0-7.47l.006-.013a12.177 12.177 0 0 0-.006-11.878 7.653 7.653 0 0 1 0-7.471 12.177 12.177 0 0 0 .007-11.878l-.007-.013a7.655 7.655 0 0 1 0-7.472 12.177 12.177 0 0 0 0-11.889l-.01-.018a7.657 7.657 0 0 1-.51-6.308h4.52c-.62 2.861-.205 5.911 1.257 8.516l.01.02a7.653 7.653 0 0 1 0 7.472 12.178 12.178 0 0 0-.008 11.875l.008.015a7.653 7.653 0 0 1 0 7.47 12.178 12.178 0 0 0 0 11.89 7.652 7.652 0 0 1 0 7.47l-.007.014a12.177 12.177 0 0 0 .014 11.89 7.653 7.653 0 0 1-.001 7.45l-.007.012a12.179 12.179 0 0 0 .006 11.899c1.294 2.302 1.292 5.16.006 7.444l-.013.022c-1.47 2.61-1.887 5.667-1.265 8.536h-4.52a7.658 7.658 0 0 1 .519-6.327zm-9.198.018a12.179 12.179 0 0 0 .007-11.92 7.653 7.653 0 0 1 .006-7.466 12.176 12.176 0 0 0 0-11.888l-.008-.013a7.653 7.653 0 0 1-.004-7.441l.012-.02a12.177 12.177 0 0 0 0-11.89 7.652 7.652 0 0 1 0-7.47 12.176 12.176 0 0 0 .006-11.877l-.008-.014a7.654 7.654 0 0 1 .002-7.472 12.178 12.178 0 0 0 .01-11.87l-.011-.02a7.657 7.657 0 0 1-.52-6.325h4.52c-.622 2.869-.203 5.926 1.266 8.535l.011.018a7.654 7.654 0 0 1-.01 7.455 12.178 12.178 0 0 0-.008 11.876l.008.014a7.653 7.653 0 0 1 0 7.47 12.177 12.177 0 0 0 0 11.89 7.653 7.653 0 0 1-.007 7.484 12.177 12.177 0 0 0-.005 11.857l.013.022a7.653 7.653 0 0 1-.001 7.474 12.176 12.176 0 0 0 0 11.887l.006.011a7.651 7.651 0 0 1-.005 7.462l-.012.021c-1.462 2.605-1.877 5.656-1.256 8.519h-4.52c-.742-2.062-.573-4.388.509-6.309zM33.322 67.685h2.626V43.31h-2.626zM14.95 56.997h13.872v-3H14.95zm70.12 0h13.875v-3H85.069zm-2.25 15.188a2.25 2.25 0 0 0 2.25-2.25v-8.438h16.125a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25H85.069V41.06a2.25 2.25 0 0 0-2.25-2.25h-4.874V12.6c0-6.948-5.652-12.6-12.6-12.6H48.547c-6.947 0-12.6 5.652-12.6 12.6v26.21h-4.876a2.25 2.25 0 0 0-2.25 2.25v8.437H12.7a2.25 2.25 0 0 0-2.25 2.25v7.5a2.25 2.25 0 0 0 2.25 2.25h16.122v8.438a2.25 2.25 0 0 0 2.25 2.25h4.876v26.21c0 6.947 5.652 12.6 12.6 12.6h16.798c6.948 0 12.6-5.653 12.6-12.6v-26.21z" fill="currentColor"/></g></g></svg>
                                </div>
                                <p class="spare-category__txt">Сход-развал</p>
                            </a>
                        </div>
                        <div class="spare-category__col">
                            <a href="#" class="spare-category__item">
                                <div class="spare-category__img">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="125.899" height="110"  viewBox="0 0 125.89914 110"><defs><path id="a" d="M.496.48h5.402v11.526H.496z"/><path id="c" d="M0 110h125.898V0H0z"/></defs><g transform="translate(.001)" fill="none" fill-rule="evenodd"><path d="M8.93 36.88c-.307 0-.599-.062-.869-.18l-.46-.204a1.813 1.813 0 0 1-1-1.056 1.811 1.811 0 0 1 .116-1.448l4.581-7.634c.301-.434.844-.727 1.44-.727.405 0 .798.14 1.134.403l.397.311c.91.711 1.123 2.114.471 3.063l-3.709 6.18a2.362 2.362 0 0 1-2.102 1.291M1.824 61.006c-.522 0-.998-.2-1.34-.564a1.814 1.814 0 0 1-.48-1.373l1.098-8.827c.15-.785.873-1.398 1.745-1.398.158 0 .318.02.477.06l.49.124c1.117.284 1.882 1.48 1.67 2.613l-.889 7.15c-.08 1.243-1.113 2.215-2.266 2.215zm99.76-43.099a2.243 2.243 0 0 1-1.43-.496l-5.83-4.24c-1.05-.67-1.4-2.045-.844-3.055l.245-.442c.33-.6.919-.955 1.576-.955.346 0 .689.103.995.297l7.198 5.233c.33.276.57.733.603 1.23.03.498-.148.983-.504 1.364l-.347.369c-.412.442-1.018.695-1.662.695M47.103 6.132c-.967 0-1.886-.645-2.187-1.533l-.162-.479a1.813 1.813 0 0 1 .105-1.447c.234-.44.642-.757 1.145-.894l8.73-1.775c.026 0 .102-.004.176-.004.965 0 1.719.708 1.794 1.684l.038.504c.089 1.15-.801 2.255-1.944 2.415l-7.055 1.435a2.41 2.41 0 0 1-.64.094M24.81 17.492c-.654 0-1.268-.26-1.683-.713l-.34-.372a1.817 1.817 0 0 1-.49-1.37c.037-.497.281-.951.688-1.28L30.24 8.61c.225-.137.564-.236.902-.236.666 0 1.258.364 1.585.973l.24.445c.544 1.015.178 2.386-.8 2.994l-5.877 4.169a2.325 2.325 0 0 1-1.48.537M79.397 6.303c-.195 0-.388-.026-.571-.078l-7.038-1.516c-1.233-.19-2.111-1.304-2.01-2.452l.044-.504c.084-.965.837-1.664 1.79-1.664.097 0 .196.007.296.022l8.702 1.874c.412.119.815.44 1.046.882.229.442.26.957.089 1.45l-.168.476c-.307.875-1.224 1.51-2.18 1.51" fill="currentColor"/><g transform="translate(120 49)"><path d="M3.553 12.006c-1.15 0-2.179-.97-2.247-2.118L.532 3.332C.316 2.11 1.09.925 2.207.654l.491-.118c.153-.037.307-.056.46-.056.883 0 1.612.62 1.771 1.51l.967 8.163c.022.434-.15.922-.493 1.287a1.825 1.825 0 0 1-1.345.566z" fill="currentColor"/></g><path d="M117.249 37.456c-.864 0-1.695-.496-2.067-1.232l-3.633-6.215c-.695-1.036-.464-2.437.451-3.137l.4-.307a1.835 1.835 0 0 1 1.121-.39c.603 0 1.15.298 1.5.82l4.49 7.68c.192.384.227.898.056 1.367a1.81 1.81 0 0 1-1.008 1.044l-.465.2a2.139 2.139 0 0 1-.845.17" fill="currentColor"/><path d="M58.916 32.689h8.051V14.536h-8.051zm-6.442-11.814c-8.601 2.16-16.224 6.866-22.042 13.609a42.91 42.91 0 0 0-10.409 28.022c0 23.665 19.253 42.918 42.918 42.918 23.666 0 42.919-19.253 42.919-42.918A42.886 42.886 0 0 0 95.299 34.31c-5.799-6.648-13.368-11.293-21.89-13.433l-1.866-.469v12.261a4.602 4.602 0 0 1-4.596 4.597h-8.011a4.603 4.603 0 0 1-4.597-4.597V20.406zM62.941 110c-26.188 0-47.494-21.306-47.494-47.494a47.483 47.483 0 0 1 11.52-31.011c6.774-7.851 16.072-13.346 26.181-15.47l1.191-.25v-1.217a4.603 4.603 0 0 1 4.597-4.598h8.011a4.602 4.602 0 0 1 4.596 4.597v1.218l1.192.25c10.019 2.105 19.258 7.531 26.013 15.276a47.47 47.47 0 0 1 11.688 31.205C110.436 88.694 89.13 110 62.941 110z" fill="currentColor"/><path d="M39.57 65.213l2-7.212 1.91 7.212zm4.395-13.365h-4.79l-8.03 21.517h6.274l1.273-4.212h5.728l1.303 4.212h6.243zm24.759 0L53.117 73.365h6.334L75.09 51.848zm21.093 13.82a3.859 3.859 0 0 1-.651 1.227 3.9 3.9 0 0 1-.91.819 3.528 3.528 0 0 1-1.045.454 4.371 4.371 0 0 1-1.061.136c-.687 0-1.3-.157-1.834-.47a4.354 4.354 0 0 1-1.363-1.258 5.788 5.788 0 0 1-.85-1.817 7.956 7.956 0 0 1-.287-2.153c0-.666.08-1.337.242-2.014.162-.676.42-1.283.774-1.82a4.318 4.318 0 0 1 1.334-1.303c.535-.333 1.176-.5 1.924-.5.323 0 .676.041 1.06.121.385.082.748.223 1.092.425.343.203.66.475.954.819.293.343.53.777.713 1.302l4.514-3.212c-.686-1.413-1.747-2.55-3.181-3.408-1.435-.86-3.112-1.288-5.031-1.288-1.636 0-3.097.313-4.38.938a10.482 10.482 0 0 0-3.273 2.456 10.526 10.526 0 0 0-2.045 3.423 11.205 11.205 0 0 0-.698 3.88c0 1.373.253 2.728.758 4.06a11.978 11.978 0 0 0 2.106 3.578c.9 1.05 1.975 1.894 3.228 2.53 1.253.636 2.626.954 4.122.954.849 0 1.717-.11 2.606-.334a10.813 10.813 0 0 0 2.515-.968 8.764 8.764 0 0 0 2.106-1.578 6.11 6.11 0 0 0 1.379-2.12l-4.818-2.88z" fill="currentColor"/></g></svg>
                                </div>
                                <p class="spare-category__txt">Кондиционер</p>
                            </a>
                        </div>
                        <div class="spare-category__col">
                            <a href="#" class="spare-category__item">
                                <div class="spare-category__img">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="116.713" height="116.713" viewBox="0 0 116.713 116.7125"><defs><path id="a" d="M116.713.037V116.75H0V.037z"/></defs><g fill="none" fill-rule="evenodd"><path d="M56.845 63.277c-1.88 0-3.409-1.53-3.409-3.41 0-1.88 1.53-3.408 3.41-3.408 1.88 0 3.409 1.53 3.409 3.409 0 1.88-1.53 3.41-3.41 3.41m0-11.32c-4.361 0-7.909 3.548-7.909 7.91 0 4.361 3.548 7.91 7.91 7.91 4.36 0 7.909-3.55 7.909-7.91 0-4.361-3.548-7.91-7.91-7.91" fill="currentColor"/><g transform="translate(0 -.037)"><path d="M56.845 112.25C27.982 112.25 4.5 88.768 4.5 59.905S27.982 7.56 56.845 7.56c4.383 0 8.71.541 12.912 1.607A26.834 26.834 0 0 0 64.583 18a42.9 42.9 0 0 0-7.738-.705c-23.495 0-42.61 19.115-42.61 42.61s19.115 42.61 42.61 42.61 42.61-19.115 42.61-42.61c0-2.605-.239-5.199-.705-7.737a26.841 26.841 0 0 0 8.835-5.175 52.436 52.436 0 0 1 1.605 12.912c0 28.863-23.482 52.345-52.345 52.345zm9.42-66.053a1.547 1.547 0 0 1-1.482-.044 1.545 1.545 0 0 1-.78-1.26l-.851-14.7.138.03a26.72 26.72 0 0 0 6.406 14.25zm-32-6.61c4.34-4.842 10.005-8.096 16.274-9.406l-.854 14.712a1.546 1.546 0 0 1-.778 1.263 1.545 1.545 0 0 1-1.483.043zm-7.793 20.318c0-3.24.505-6.398 1.48-9.4L40.263 58.6c.635.417.704 1.052.704 1.305 0 .253-.069.887-.704 1.305l-12.303 8.088a30.262 30.262 0 0 1-1.489-9.393zm24.066 29.712c-6.386-1.354-12.036-4.72-16.255-9.401l13.142-6.603a1.545 1.545 0 0 1 1.482.043c.22.127.735.504.779 1.263zm28.887-9.393c-4.34 4.84-10.006 8.095-16.274 9.405l.853-14.713a1.546 1.546 0 0 1 .778-1.262c.22-.127.804-.385 1.483-.043zm-8.47-25.384a6.044 6.044 0 0 0-2.733 5.065 6.044 6.044 0 0 0 2.732 5.065l13.036 8.573a30.27 30.27 0 0 1-1.77 3.05L68.285 69.59a6.047 6.047 0 0 0-5.753.167 6.045 6.045 0 0 0-3.02 4.899l-.904 15.571a30.784 30.784 0 0 1-3.527-.002l-.903-15.567a6.047 6.047 0 0 0-3.02-4.9 6.045 6.045 0 0 0-5.754-.166l-13.926 6.997c-.646-.98-1.238-2-1.77-3.054l13.028-8.565a6.045 6.045 0 0 0 2.732-5.065 6.045 6.045 0 0 0-2.732-5.066l-13.037-8.57a30.317 30.317 0 0 1 1.77-3.05l13.935 7c.86.433 1.792.649 2.723.649a6.053 6.053 0 0 0 3.03-.815 6.045 6.045 0 0 0 3.021-4.899l.903-15.571a30.865 30.865 0 0 1 3.528.001l.902 15.57a6.048 6.048 0 0 0 3.022 4.897 6.055 6.055 0 0 0 5.752.167l4.857-2.44a26.935 26.935 0 0 0 4.28 2.81zm15.573-1.38c.455 2.109.69 4.27.69 6.445 0 3.24-.505 6.4-1.48 9.401L73.426 61.21a1.544 1.544 0 0 1-.704-1.305c0-.253.069-.888.704-1.305l9.074-5.966c1.305.375 2.65.654 4.028.827zm8.427 6.445c0 21.014-17.096 38.11-38.11 38.11s-38.11-17.096-38.11-38.11 17.096-38.11 38.11-38.11c2.225 0 4.44.191 6.611.57a26.785 26.785 0 0 0-.347 3.235 34.778 34.778 0 0 0-6.264-.568c-5.58 0-10.911 1.28-15.847 3.801a35.176 35.176 0 0 0-12.055 10.15c-4.56 6.073-6.97 13.308-6.97 20.922 0 19.229 15.643 34.872 34.872 34.872 5.58 0 10.911-1.278 15.847-3.8a35.182 35.182 0 0 0 12.055-10.15c4.56-6.073 6.97-13.307 6.97-20.922 0-2.108-.193-4.204-.566-6.263a26.722 26.722 0 0 0 3.233-.348c.38 2.17.571 4.386.571 6.61zm17.258-33.05c0 12.306-10.012 22.317-22.317 22.317-12.306 0-22.317-10.011-22.317-22.317 0-12.306 10.011-22.318 22.317-22.318 12.305 0 22.317 10.012 22.317 22.318zm4.5 0c0-14.787-12.03-26.818-26.817-26.818A26.68 26.68 0 0 0 73.6 5.572 56.824 56.824 0 0 0 56.845 3.06c-15.184 0-29.46 5.913-40.196 16.649C5.913 30.446 0 44.72 0 59.905c0 15.184 5.913 29.46 16.65 40.196 10.736 10.736 25.01 16.649 40.195 16.649 15.184 0 29.459-5.913 40.196-16.65 10.736-10.736 16.65-25.01 16.65-40.195 0-5.723-.846-11.353-2.511-16.756a26.68 26.68 0 0 0 5.533-16.294z" fill="currentColor"/></g><path d="M89.896 41.838c-7.518 0-13.762-5.552-14.851-12.77h1.114a2.25 2.25 0 0 0 0-4.5h-1.114c.169-1.122.465-2.2.869-3.227l.958.553a2.25 2.25 0 0 0 2.25-3.897l-.953-.55a15.149 15.149 0 0 1 2.359-2.358l.552.956a2.25 2.25 0 1 0 3.897-2.25l-.554-.961a14.876 14.876 0 0 1 3.222-.868v1.116a2.25 2.25 0 0 0 4.5 0v-1.116c1.121.169 2.2.465 3.226.869l-.555.963a2.25 2.25 0 1 0 3.898 2.249l.552-.957c.87.697 1.66 1.488 2.358 2.358l-.956.552a2.25 2.25 0 1 0 2.25 3.897l.96-.555c.404 1.026.7 2.105.87 3.226h-1.117a2.25 2.25 0 0 0 0 4.5h1.116c-1.089 7.218-7.333 12.77-14.851 12.77m0 4.538c10.785 0 19.559-8.774 19.559-19.559 0-10.785-8.774-19.559-19.56-19.559-10.784 0-19.558 8.774-19.558 19.56 0 10.784 8.774 19.558 19.559 19.558" fill="currentColor"/><path d="M87.358 21.097a2.25 2.25 0 0 0-3.183 3.182l4.13 4.13c.44.439 1.015.658 1.59.658a2.25 2.25 0 0 0 1.591-3.841z" fill="currentColor"/></g></svg>
                                </div>
                                <p class="spare-category__txt">Шиномонтаж и балансировка</p>
                            </a>
                        </div>
                        <div class="spare-category__col">
                            <a href="#" class="spare-category__item">
                                <div class="spare-category__img">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="131.998" height="93" viewBox="0 0 131.998 93"><defs><path id="a" d="M0 0h131.998v93H0z"/><path id="c" d="M0 93h132V0H0z"/></defs><g fill="none" fill-rule="evenodd"><path d="M127.72 86.316a2.423 2.423 0 0 1-2.422 2.418H6.7a2.424 2.424 0 0 1-2.424-2.418v-2.418h48.188a2.136 2.136 0 0 0 2.131 2.276h22.807a2.136 2.136 0 0 0 2.139-2.133c0-.047-.004-.095-.008-.143h48.188v2.418zM8.839 8.958c0-2.587 2.11-4.692 4.705-4.692h104.913c2.593 0 4.704 2.105 4.704 4.692v70.676H8.838V8.958zM129.86 79.634h-2.424V8.958c0-4.94-4.028-8.958-8.979-8.958H13.543C8.59 0 4.562 4.019 4.562 8.958v70.676H2.138c-1.18 0-2.138.954-2.138 2.132v4.55C0 90.003 3.006 93 6.7 93h118.598c3.694 0 6.7-2.997 6.7-6.684v-4.55a2.136 2.136 0 0 0-2.139-2.132z" fill="currentColor"/><path d="M18.29 70.714h96.418V13.286H18.29zM116.854 9H16.145C14.96 9 14 9.96 14 11.143v61.714C14 74.04 14.96 75 16.145 75h100.709c1.186 0 2.146-.96 2.146-2.143V11.143C119 9.96 118.04 9 116.854 9z" fill="currentColor"/><path d="M83.658 62c-.87 0-1.648-.547-1.938-1.368L70.395 28.558 60.16 51.225a2.059 2.059 0 0 1-3.532.372l-9.327-12.661H26.056A2.052 2.052 0 0 1 24 36.887c0-1.131.92-2.048 2.056-2.048h22.286c.655 0 1.27.31 1.657.836l7.858 10.666 10.897-24.134a2.08 2.08 0 0 1 1.962-1.205c.84.035 1.572.576 1.852 1.367l10.884 30.827 4.822-16.87a2.055 2.055 0 0 1 1.978-1.487h15.692c1.136 0 2.056.917 2.056 2.048 0 1.132-.92 2.049-2.056 2.049h-14.14l-6.169 21.577a2.054 2.054 0 0 1-1.914 1.486l-.063.001" fill="currentColor"/></g></svg>
                                </div>
                                <p class="spare-category__txt">Компьютерная диагностика</p>
                            </a>
                        </div>
                        <div class="spare-category__col">
                            <a href="#" class="spare-category__item">
                                <div class="spare-category__img">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="108.25" height="108.221" viewBox="0 0 108.25022 108.22095"><defs><path id="a" d="M0 .031h108.25V108.25H0z"/></defs><g fill="none" fill-rule="evenodd"><g transform="translate(0 -.03)"><path d="M96.73 82.96c-8.541 13.437-23.092 20.792-37.947 20.791a44.612 44.612 0 0 1-23.998-6.989 44.872 44.872 0 0 1-20.703-34.839 9.478 9.478 0 0 0 2.705-1.744 42.234 42.234 0 0 0 3.984 16.628 41.958 41.958 0 0 0 15.51 17.599c6.834 4.344 14.589 6.583 22.495 6.583 3.07 0 6.164-.338 9.234-1.022 10.973-2.445 20.337-9.016 26.368-18.503 12.445-19.586 6.638-45.648-12.945-58.096a42.248 42.248 0 0 0-21.295-6.546 9.453 9.453 0 0 0 1.752-2.712 44.838 44.838 0 0 1 21.039 6.905c10.116 6.43 17.123 16.413 19.73 28.113 2.607 11.7.501 23.715-5.929 33.832M5.504 53.729l-.938-8.95a11.785 11.785 0 0 1 3.402-9.602L35.147 7.998a11.785 11.785 0 0 1 9.602-3.402l8.949.938c1.941.204 3.49 1.424 4.141 3.263.652 1.84.217 3.762-1.163 5.142L13.909 56.707c-1.38 1.38-3.304 1.815-5.142 1.163-1.84-.652-3.06-2.2-3.263-4.141m15.91 1.836l11.04-11.038a2.235 2.235 0 0 0 2.932-.773h-.003a2.251 2.251 0 0 0 .102-2.259l7.11-7.11a2.238 2.238 0 0 0 2.504.199 2.25 2.25 0 0 0 .654-3.357l9.781-9.78c8.3-.75 16.406 1.22 23.484 5.719 17.49 11.117 22.676 34.392 11.561 51.884-5.385 8.473-13.749 14.341-23.548 16.524-9.8 2.183-19.863.42-28.336-4.966a37.463 37.463 0 0 1-13.85-15.713 37.707 37.707 0 0 1-3.43-19.33m85.636-7.415c-2.868-12.874-10.578-23.86-21.709-30.933a49.346 49.346 0 0 0-22.751-7.565 9.573 9.573 0 0 0-.51-2.357 9.363 9.363 0 0 0-7.914-6.236L45.218.121a16.267 16.267 0 0 0-13.253 4.696L4.785 31.996A16.271 16.271 0 0 0 .09 45.249l.938 8.95a9.364 9.364 0 0 0 6.236 7.913 9.572 9.572 0 0 0 2.36.515 49.364 49.364 0 0 0 22.748 37.933 49.068 49.068 0 0 0 26.404 7.69c16.342-.001 32.355-8.093 41.752-22.877 7.075-11.13 9.391-24.35 6.523-37.223" fill="currentColor"/></g><path d="M43.59 49.154c3.442-5.417 9.307-8.381 15.296-8.381 3.318 0 6.673.91 9.675 2.818a17.971 17.971 0 0 1 7.953 11.333c1.05 4.716.202 9.56-2.39 13.638a17.97 17.97 0 0 1-11.333 7.953 17.973 17.973 0 0 1-13.638-2.39c-8.419-5.35-10.915-16.552-5.564-24.97m3.15 28.768c3.668 2.33 7.83 3.533 12.073 3.533 1.65 0 3.31-.181 4.958-.548a22.44 22.44 0 0 0 14.152-9.933 22.443 22.443 0 0 0 2.984-17.03 22.442 22.442 0 0 0-9.932-14.153c-10.513-6.681-24.5-3.564-31.183 6.948-6.68 10.513-3.565 24.502 6.948 31.183m39.917-7.115a2.248 2.248 0 0 0 2.86-1.39 2.25 2.25 0 1 0-2.86 1.39m-3.5-27.6a2.255 2.255 0 0 0 1.813-3.585 2.252 2.252 0 0 0-3.148-.478 2.248 2.248 0 0 0-.478 3.145c.44.6 1.123.918 1.813.918m5.53 13.34a2.248 2.248 0 0 0 2.225-2.59 2.251 2.251 0 0 0-4.448.683 2.252 2.252 0 0 0 2.223 1.907M53.023 86.175a2.248 2.248 0 0 0-2.672 1.728 2.252 2.252 0 0 0 2.202 2.722 2.25 2.25 0 0 0 .47-4.45m13.355-.425a2.251 2.251 0 1 0 1.215 4.335 2.251 2.251 0 0 0-1.215-4.335m11.641-6.57a2.25 2.25 0 1 0 3.088 3.275 2.251 2.251 0 0 0-3.088-3.275m-37.023 1.152a2.251 2.251 0 1 0 .293 3.17 2.252 2.252 0 0 0-.293-3.17m30.037-46.604c.013.005.025.012.035.017h.003a2.251 2.251 0 0 0 1.968-4.048c-.008-.002-.016-.007-.023-.01-.005-.002-.008-.002-.01-.004a2.251 2.251 0 0 0-1.973 4.045M30.128 68.362a2.25 2.25 0 1 0 1.726 4.156 2.25 2.25 0 0 0-1.726-4.155m27.768-37.421c.025 0 .05 0 .075-.002a2.248 2.248 0 0 0 2.175-2.322 2.249 2.249 0 1 0-4.495.147 2.248 2.248 0 0 0 2.245 2.178" fill="currentColor"/><path d="M49.6 52.975c2.087-3.285 5.643-5.083 9.274-5.083 2.012 0 4.047.552 5.867 1.709a10.896 10.896 0 0 1 4.822 6.872c.638 2.86.123 5.796-1.449 8.269a10.897 10.897 0 0 1-6.872 4.823c-2.86.637-5.796.122-8.269-1.45-5.105-3.244-6.618-10.036-3.374-15.14m.96 18.939a15.366 15.366 0 0 0 11.662 2.043 15.368 15.368 0 0 0 9.69-6.801 15.369 15.369 0 0 0 2.045-11.662 15.368 15.368 0 0 0-6.8-9.69c-7.2-4.576-16.779-2.441-21.354 4.757-4.576 7.198-2.44 16.777 4.757 21.353M15.897 39.092c.248-.25.58-.386.931-.386.352 0 .683.137.932.386.25.249.386.58.386.932 0 .352-.137.682-.386.93a1.31 1.31 0 0 1-.932.387c-.352 0-.683-.137-.93-.386a1.309 1.309 0 0 1-.387-.931c0-.352.136-.683.386-.932m.931 6.75a5.779 5.779 0 0 0 4.114-1.705 5.779 5.779 0 0 0 1.703-4.114 5.78 5.78 0 0 0-1.703-4.113 5.78 5.78 0 0 0-4.114-1.704 5.779 5.779 0 0 0-4.114 1.704 5.78 5.78 0 0 0-1.703 4.113 5.78 5.78 0 0 0 1.703 4.114 5.778 5.778 0 0 0 4.114 1.704M39.09 15.898c.25-.25.58-.386.932-.386.352 0 .683.137.932.386.25.249.386.58.386.932 0 .352-.137.682-.386.93a1.31 1.31 0 0 1-.932.388c-.352 0-.683-.137-.932-.387a1.309 1.309 0 0 1-.386-.931c0-.352.137-.683.386-.932m.932 6.75a5.779 5.779 0 0 0 4.114-1.705 5.779 5.779 0 0 0 1.703-4.113 5.78 5.78 0 0 0-1.703-4.114 5.78 5.78 0 0 0-4.114-1.704 5.779 5.779 0 0 0-4.114 1.704 5.78 5.78 0 0 0-1.704 4.114 5.78 5.78 0 0 0 1.704 4.113 5.78 5.78 0 0 0 4.114 1.704" fill="currentColor"/></g></svg>
                                </div>
                                <p class="spare-category__txt">Тормозная система</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/diagnostics/diagnostics.twig" with {"classes": "page-model__diagnostics"} %}
        <section class="other-work">
            <div class="container">
                <div class="section-inner">
                    {% include "../components/section-title/section-title.twig" with {"title": "Наши работы", classes: "section-title--left"} %}
                    <div class="bg-hover-card-list other-work__list">
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Ремонт Webasto Land Rover дискавери 3 и 4, Range Rover Sport, Freelander 2",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена ремня ГРМ и роликов на Land Rover Range Rover Sport 3.0 td, Range Rover 3.0 2013 модельного года",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена амортизаторов (пневмостоек в сборе) на Range Rover Sport 2005 - 2013 года выпуска",
                            "img" : "images/bg-hover-card2.jpg" } %}
                        </div>
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена обивки подушки сиденья на Land Rover Freelander 2",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Замена заднего активного стабилизатора наLand Rover Range Rover Sport с 2006 по 2013 модельный год",
                            "img" : "images/bg-hover-card2.jpg" } %}
                        </div>
                        <div class="other-work__item">
                            {% include "../components/bg-hover-card/bg-hover-card-item.twig" with {
                            "title": "Переуплотнение масляного насоса АКПП 6нр Discovery 3, Discovery 4, Range Rover и Range Rover sport",
                            "img" : "images/bg-hover-card1.jpg" } %}
                        </div>
                    </div>
                    <div class="other-work__more-btn-wrapper">
                        <a href="#" class="btn btn--outline">Смотреть все работы</a>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/map/map.twig" %}
    </main>


{% endblock %}