{% extends "layouts/app.twig" %}

{% block pageTitle %}Сервис{% endblock %}

{% block content %}

    <main class="page-main page-service">
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Сервис ', url: '#'}], classes: "catalog__breadcrumb" } %}
                    {% include "../components/page-title/page-title.twig" with {"title": "Сервис", "classes": "page-service__page-title"} %}
                    <div class="service-adp-block">
                        <div class="service-adp-block__list">
                            <div class="service-adp-block__col">
                                <div class="service-adp-block__title">
                                    <h3>Комплексное и качественное обслуживание Land Rover</h3>
                                </div>
                                <div class="service-adp-block__img-video-mobile">

                                </div>
                                <div class="service-adp-block__contain tg">
                                    <p>Магазин запчастей и сервисный центр Land Rover Style предлагает приобрести
                                        оригинальные запчасти для Land Rover и воспользоваться услугами
                                        специализированных
                                        мастеров.</p>
                                    <p>Ремонт Ленд Ровер перечисленных моделей включает в себя комплексную работу
                                        специалистов центра.</p>
                                </div>
                                <div class="service-adp-block__btn">
                                    <a href="#" class="btn btn--primary">Заказать диагностику</a>
                                </div>
                            </div>
                            <div class="service-adp-block__col">
                                <div class="service-adp-block__img-video-desktop">
                                    <div class="service-adp-block__img-video">
                                        <iframe width="100%" height="315" name="X-Frame-Options" src="https://www.youtube.com/embed/-gtxwRhuCtw"></iframe>
                                        {#<img src="http://via.placeholder.com/440x275" alt="">#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-adp-block service-adp-block--reverse ">
                        <div class="service-adp-block__list">
                            <div class="service-adp-block__col">
                                <div class="service-adp-block__title">
                                    <h3>Компьютерная диагностика</h3>
                                </div>
                                <div class="service-adp-block__img-video-mobile">

                                </div>
                                <div class="service-adp-block__contain tg">
                                    <p>Во время диагностики специалисты составляют карту неисправностей, которую
                                        использует мастер уже при ремонте:</p>
                                    <ul>
                                        <li>Диагностика и ремонт двигателя Land Rover</li>
                                        <li>Диагностика и ремонт АКПП Land Rover</li>
                                        <li>Диагностика и ремонт подвески Ленд Ровер</li>
                                        <li>Диагностика, ремонт и заправка кондиционера</li>
                                    </ul>
                                </div>
                                <div class="service-adp-block__btn">
                                    <a href="#" class="btn btn--primary">Заказать диагностику</a>
                                </div>
                            </div>
                            <div class="service-adp-block__col">
                                <div class="service-adp-block__img-video-desktop">
                                    <div class="service-adp-block__img-video">
                                        <img src="images/service.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/tech-serv/tech-serv.twig" with {"classes": "page-service__tech-serv"} %}
        <section>
            <div class="container">
                <div class="section-inner">
                    <div class="service-adp-block ">
                        <div class="service-adp-block__list">
                            <div class="service-adp-block__col">
                                <div class="service-adp-block__title">
                                    <h3>Запчасти Land Rover</h3>
                                </div>
                                <div class="service-adp-block__img-video-mobile">

                                </div>
                                <div class="service-adp-block__contain tg">
                                    <p>Дорогие автомобили нуждаются в особом уходе, и экономить на них – значит
                                        подвергать риску собственную безопасность и комфорт.</p>
                                    <p>В нашем сервисном центре можно приобрести фирменные запчасти для Range Rover
                                        Sport, и вся линейка деталей реализуется по приятным ценам.</p>
                                    <p>Многие позиции, особенно расходные материалы, уже есть у нас на складе, а если
                                        Вам нужны редкие технические узлы, мы доставим их в сжатые сроки.</p>
                                </div>
                                <div class="service-adp-block__btn">
                                    <a href="#" class="btn btn--primary">Купить запчасти</a>
                                </div>
                            </div>
                            <div class="service-adp-block__col">
                                <div class="service-adp-block__img-video-desktop">
                                    <div class="service-adp-block__img-video">
                                        <img src="images/spares-service.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-adp-block ">
                        <div class="service-adp-block__title">
                            <h3>Качественная диагностика, обслуживание и ремонт Ленд Роверов</h3>
                        </div>
                        <div class="service-adp-block__list">
                            <div class="service-adp-block__col">
                                <div class="service-adp-block__contain tg">
                                    <p>Посетив сервис Ленд Ровер в Москве, автовладелец повысит надежность и
                                        безопасность эксплуатации своего автомобиля, продлит срок его использования без
                                        необходимости делать дорогостоящий ремонт, сэкономит немало средств. В центре
                                        можно приобрести фирменные запасные части для Land Rover по выгодным для клиента
                                        ценам. Заказывая услуги в сервисе, клиенты получат:</p>
                                    <ul>
                                        <li>полный комплекс обслуживания;</li>
                                        <li>особое внимание и выгодные цены;</li>
                                        <li>скорость выполнения работ и гарантированное качество.</li>
                                    </ul>
                                </div>
                                <div class="service-adp-block__btn">
                                    <a href="#" class="btn btn--primary">Купить запчасти</a>
                                </div>
                            </div>
                            <div class="service-adp-block__col dk-mt-50">
                                <div class="service-adp-block__contain tg">
                                    <p>Многие комплектующие и расходные материалы всегда есть на складе. В том случае
                                        если понадобятся редкие узлы, они будут доставлены в самые быстрые сроки. В
                                        сервисе производится ремонт Ленд Ровер любой сложности на современном
                                        оборудовании, с соблюдением технологий, рекомендуемых производителем. Выполняют
                                        его мастера имеющие большой опыт выполнения самых сложных работ. На
                                        комплектующие и произведенный ремонт дается гарантия. Автовладельцы ничем не
                                        рискуют, заказывая услуги в сервисе.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/sec-advantages/sec-advantages.twig" with {"classes": "page-service__sec-advantages"} %}
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>


{% endblock %}