{% extends "layouts/app.twig" %}

{% block pageTitle %}Результаты поиска{% endblock %}

{% block content %}

    <main class="page-main">
        <section>
            <div class="container">
                <div class="section-inner">
                    {% include '../components/breadcrumb/breadcrumb.twig' with {items: [{title: 'Главная', url: 'index.html'}, {title: 'Рассчитать стоимость ', url: '#'}], classes: "to__breadcrumb" } %}
                </div>
            </div>
            {% include "../components/tech-serv/tech-serv.twig" with {"classes": "page-to__tech-serv"} %}
        </section>
        <section>
            <div class="container">
                <div class="section-inner">
                    <div class="uk-accordion to-accordion" id="to-accordion">

                        <div class="to-accordion__block">
                            <div class="to-accordion__title">
                                <span class="to-accordion__text">
                                    ТО-1 12000км/6 мес.
                                </span>
                                <a href="#" class="btn btn--primary to-accordion__btn">Записаться на ТО</a>
                                <span class="to-accordion__price">
                                    15 020
                                </span>
                                <span class="to-accordion__toggle"></span>
                            </div>
                            <div class="to-accordion__content tg">
                                <table>
                                    <tr>
                                        <td>Работа по замене масла, масляного фильтра, воздушного фильтра двигателя и
                                            салонного фильтра
                                        </td>
                                        <td>2000</td>
                                    </tr>
                                    <tr>
                                        <td>Масло ДВС Castrol 5W30 EDGE A5</td>
                                        <td>5610</td>
                                    </tr>
                                    <tr>
                                        <td>Фильтр масляный</td>
                                        <td>1015</td>
                                    </tr>
                                    <tr>
                                        <td>Сливная пробка</td>
                                        <td>330</td>
                                    </tr>
                                    <tr>
                                        <td>Воздушный фильтр двигателя</td>
                                        <td>2160</td>
                                    </tr>
                                    <tr>
                                        <td>Салонный фильтр</td>
                                        <td>3571</td>
                                    </tr>
                                    <tr>
                                        <td>Смазки/Очистители/Растворители</td>
                                        <td>330</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="to-accordion__block">
                            <div class="to-accordion__title">
                                <span class="to-accordion__text">
                                    ТО-1 12000км/6 мес.
                                </span>
                                <a href="#" class="btn btn--primary to-accordion__btn">Записаться на ТО</a>
                                <span class="to-accordion__price">
                                    15 020
                                </span>
                                <span class="to-accordion__toggle"></span>
                            </div>
                            <div class="to-accordion__content tg">
                                <p>
                                    При каждом прохождении ТО, проверяется ходовая часть автомобиля, износ тормозных
                                    колодок и тормозных дисков, проверка всех ламп и звуковых сигналов, на наличие течи
                                    и запотевания всех узлов и агрегатов, состояние приводных ремней и роликов, проверка
                                    всех рабочих жидкостей.
                                </p>
                                <ul>
                                    <li>Заменить тормозную жидкость — раз в 3 года. </li>
                                    <li>Заменить охлаждающую жидкость — каждые 10 лет. </li>
                                    <li>Заменить масло в Механической коробке передач МКПП — каждые 10 лет</li>
                                    <li>или 240 000 км. </li>
                                    <li>Заменить все гибкие шланги тормозной системы — каждые 6 лет. </li>
                                </ul>
                            </div>
                        </div>
                        <div class="to-accordion__block">
                            <div class="to-accordion__title">
                                <span class="to-accordion__text">
                                    ТО-1 12000км/6 мес.
                                </span>
                                <a href="#" class="btn btn--primary to-accordion__btn">Записаться на ТО</a>
                                <span class="to-accordion__price">
                                    15 020
                                </span>
                                <span class="to-accordion__toggle"></span>
                            </div>
                            <div class="to-accordion__content tg">
                                <p>
                                    При каждом прохождении ТО, проверяется ходовая часть автомобиля, износ тормозных
                                    колодок и тормозных дисков, проверка всех ламп и звуковых сигналов, на наличие течи
                                    и запотевания всех узлов и агрегатов, состояние приводных ремней и роликов, проверка
                                    всех рабочих жидкостей.
                                </p>
                                <ul>
                                    <li>Заменить тормозную жидкость — раз в 3 года. </li>
                                    <li>Заменить охлаждающую жидкость — каждые 10 лет. </li>
                                    <li>Заменить масло в Механической коробке передач МКПП — каждые 10 лет</li>
                                    <li>или 240 000 км. </li>
                                    <li>Заменить все гибкие шланги тормозной системы — каждые 6 лет. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "../components/diagnostics/diagnostics.twig" %}
        {% include "../components/map/map.twig" %}
    </main>


{% endblock %}