.search__filter-item
  display: inline-flex
  border: 1px solid #ADB5BD
  justify-content: center
  align-items: center
  height: 50px
  position: relative
  padding: 0 20px
  text-decoration: none
  color: $text-primary
  +trans()
  margin-left: 10px
  margin-top: 10px
  &.active, &:hover
    color: $brand
    .search__filter-count
      background-color: $brand
  +respond-to(md)
    display: flex
    justify-content: flex-start
    margin-top: 0
    &:not(:first-child)
      border-top: none
    &.active
      &:after
        content: ''
        position: absolute
        right: 20px
        width: 20px
        height: 20px
        background-repeat: no-repeat
        background-position: center center
        background-image: url(../images/svg-icons/check.svg)
        top: 50%
        transform: translateY(-50%)
    &.active, &:hover
      .search__filter-count
        color: $brand
        background-color: transparent

.search__filter
  margin-bottom: 45px

.search__filter-list
  margin-left: -10px
  margin-top: -10px
  margin-bottom: 30px
  +respond-to(md)
    margin-top: 0

.search__filter-count
  border-radius: 100%
  height: 24px
  width: 24px
  +trans()
  flex-shrink: 0
  text-align: center
  vertical-align: middle
  color: #fff
  display: inline-flex
  justify-content: center
  align-items: center
  line-height: 24px
  margin-left: 10px
  font-size: 12px
  background-color: $grey
  overflow: hidden
  +respond-to(md)
    background-color: transparent
    display: inline
    width: initial
    height: initial
    font-size: 16px
    color: $text-primary

.search__title
  margin-bottom: 35px
  +respond-to(md)
    h1
      font-size: 27px

.search__filter-ext-link
  text-decoration: none
  color: $brand
  +trans()
  &:hover
    text-decoration: underline
    color: $brand-hover

.search__input
  margin-bottom: 40px
  width: 100%
  max-width: 590px
  position: relative
  input
    padding: 0 60px 0 20px
    background-color: #F3F4F5

.search__input-btn
  position: absolute
  right: 15px
  top: 50%
  box-shadow: none
  background-color: transparent
  border: none
  outline: none
  cursor: pointer
  transform: translateY(-50%)
  .icon-search
    width: 20px
    height: 20px
    .cls-1-2
      stroke: $brand

.search__not-found-note
  font-size: 16px
  line-height: 20px
  +respond-to(sm)
    font-size: 14px

.search__filter-sm-icon
  margin-bottom: 35px
  text-align: center