.spares-item
  display: flex
  justify-content: space-between
  padding: 20px
  min-height: 160px
  width: 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  text-decoration: none
  +trans()
  border: 1px solid #CED4DA
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.10)
  &:hover
    box-shadow: 0 12px 14px 0 rgba(28, 197, 62, 0.2)
    .spares-item__title
      color: $brand
    .spares-item__icon path
      fill: $brand

  +respond-to(sm)
    flex-direction: row-reverse
    box-shadow: none
    justify-content: flex-end

  &.spares-item--big
    justify-content: flex-end
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.10)
    border: none
    margin-bottom: 15px
    padding: 0
    flex-direction: column-reverse
    .spares-item__img
      height: 275px
      +respond-to(xlg)
        height: 180px
    &:hover
      box-shadow: 0 12px 14px 0 rgba(28, 197, 62, 0.2)
    .spares-item__img
      width: 100%
    .spares-item__description
      width: 100%
      padding: 20px
    .spares-item__description-top
      margin-bottom: 30px
    .spares-item__description-bottom
      flex-wrap: wrap
      justify-content: flex-start
    .spares-item__subtitle
      width: 100%
      margin-bottom: 15px
    .spares-item__price
      width: calc(100% - 60px)
    +respond-to(sm)
      padding: 20px
      box-shadow: none
      flex-direction: row-reverse
      margin-bottom: 0
      &:hover
        box-shadow: 0 12px 14px 0 rgba(28, 197, 62, 0.2)
      .spares-item__description
        padding: 0 0 0 20px
      .spares-item__img
        margin-right: 0
      .spares-item__description-top
        margin-bottom: 0
      .spares-item__description-bottom
        padding-top: 0
      .spares-item__title
        margin-bottom: 10px
  &.spares-item--big2
    justify-content: flex-end
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.10)
    border: none
    margin-bottom: 15px
    padding: 0
    flex-direction: column-reverse
    &:hover
      box-shadow: 0 12px 14px 0 rgba(28, 197, 62, 0.2)
    .spares-item__img
      height: 275px
      +respond-to(xlg)
        height: 180px
    .spares-item__img
      width: 100%
    .spares-item__description
      width: 100%
      padding: 20px
      +respond-to(sm)
        height: 120px !important
    .spares-item__description-top
      margin-bottom: 30px
    .spares-item__description-bottom
      flex-wrap: wrap
      justify-content: flex-start
    .spares-item__subtitle
      width: 100%
      margin-bottom: 15px
    .spares-item__price
      width: calc(100% - 60px)
    +respond-to(sm)
      width: 120px !important
      margin: 0 auto 15px auto
      .spares-item__img
        width: 120px !important
        height: 120px !important
      .spares-item__price
        width: 100%
      .spares-item__title
        font-weight: 400
        line-height: 16px
        font-size: 14px

      .spares-item__subtitle, .spares-item__mark, .spares-item__buy-btn
        display: none
      &:hover
        box-shadow: 0 12px 14px 0 rgba(28, 197, 62, 0.2)
      .spares-item__description
        padding: 10px
      .spares-item__img
        margin-right: 0
      .spares-item__description-top
        margin-bottom: 0
      .spares-item__description-bottom
        padding-top: 0
      .spares-item__title
        margin-bottom: 10px

.spares-item__icon path
  +trans()
  fill: #868E96


.our-work__spares-list
  display: flex
  flex-wrap: wrap
  margin-left: -40px
  margin-top: -40px
  +respond-to(lg)
    margin-left: 0
    flex-direction: column
  +respond-to(sm)
    margin-top: 0

.our-work__spares-item
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding-left: 40px
  padding-top: 40px
  width: 100%
  max-width: 420px
  +respond-to(lg)
    width: 100%
    max-width: 500px
    margin: 0 auto
    padding-left: 0
  +respond-to(sm)

    padding-top: 0
    &:not(:last-child) .spares-item
      border-bottom: transparent

.spares__list
  +respond-to(sm)
    margin-left: -21px !important
    margin-right: -21px !important
    width: initial !important
    margin-top: 0 !important

.spares-item__description-bottom
  display: flex
  justify-content: space-between
  align-items: baseline

.spares-item__description
  width: calc(100% - 140px)
  display: flex
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  flex-direction: column
  justify-content: space-between
  +respond-to(sm)
    width: calc(100% - 100px)
    height: initial !important


.spares-item__description-top
  +respond-to(sm)
    margin-bottom: 15px

.spares-item__img
  width: 120px
  height: 120px
  line-height: 0
  background: #F3F4F5
  flex-shrink: 0
  position: relative
  img
    width: 100%
    object-fit: cover
    height: 100%
  +respond-to(sm)
    width: 80px !important
    height: 80px !important
    margin-right: 20px

.spares-item__icon
  height: 54px
  width: 54px
  position: absolute
  left: 50%
  +trans()
  top: 50%
  transform: translate(-50%, -50%)

.spares-item__title
  font-family: 'Fira Sans', sans-serif
  font-weight: 700
  color: #343A40
  font-size: 20px
  +trans()
  margin-bottom: 10px
  +respond-to(sm)
    font-size: 16px

.spares-item__subtitle
  font-size: 16px
  font-family: 'Fira Sans', sans-serif
  font-weight: 400
  font-style: italic
  color: #ADB5BD
  +respond-to(sm)
    font-size: 14px

.spares-item__mark
  font-size: 16px
  line-height: 20px
  margin-bottom: 10px
  color: #ADB5BD

.spares-item__price
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 21px
  color: #343A40
  +respond-to(sm)
    font-size: 18px

.spares-item__buy-btn
  width: 60px
  height: 30px
  border-radius: 3px
  //background: linear-gradient(to bottom, #2f9e44, #40bf57)
  background-color: $brand
  display: flex
  align-items: center
  justify-content: center
  +trans()
  position: relative
  z-index: 1
  &:hover
    background-color: $brand-hover
  //+respond-to(sm)
  //  width: 100%

.spares-item__buy-icon
  width: 20px
  height: 20px
  fill: #fff

.adaptive-spares-slider2
  +respond-to(sm)
    padding-left: 20px
  .owl-dots
    display: flex
    justify-content: center
    padding-top: 30px
  .owl-dot
    border-radius: 100%
    width: 5px
    overflow: hidden
    height: 5px
    background-color: #ADB5BD
    &:not(:last-child)
      margin-right: 5px
    &.active
      background-color: $brand

.adaptive-spares-slider
  .owl-dots
    display: flex
    justify-content: center
    margin-top: -28px
  .owl-dot
    border-radius: 100%
    width: 5px
    overflow: hidden
    height: 5px
    background-color: #ADB5BD
    &:not(:last-child)
      margin-right: 5px
    &.active
      background-color: $brand
  .owl-nav
    width: 100%
    position: relative
    height: 50px


  .owl-prev, .owl-next
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    font-size: 0
    background-position: center center
    width: 40px
    height: 40px
    top: 50%
    transform: translateY(-50%)
    transition: all 0.2s ease 0s
    position: absolute
    background-repeat: no-repeat
    background-position: center center
    -webkit-background-size: cover
    background-size: cover
    +respond-to(md)
        width: 30px
        height: 30px

  .owl-prev
    left: 40px
    background-image: url(../images/svg-icons/arrow-circle-left.svg)
    &:hover
      background-image: url(../images/svg-icons/arrow-circle-left-act.svg)
    +respond-to(lg)
      &::before
        left: 20px
  .owl-next
    right: 40px
    background-image: url(../images/svg-icons/arrow-circle-right.svg)
    &:hover
      background-image: url(../images/svg-icons/arrow-circle-right-act.svg)
    +respond-to(lg)
      &::before
        right: 20px