<a href="card.html" class="spares-item {{ classes }} {% if type == 'big' %} spares-item--big {% endif %} {% if type == 'big2' %} spares-item--big2 {% endif %}">
    <div class="spares-item__description">
        <div class="spares-item__description-top">
            {% if mark %}
                <div class="spares-item__mark">
                    <p>{{ mark }}</p>
                </div>
            {% endif %}
            <div class="spares-item__title">
                {{ title }}
            </div>
            {% if type != 'big' %}
                <div class="spares-item__subtitle">
                    {{ subtitle }}
                </div>
            {% endif %}
        </div>
        <div class="spares-item__description-bottom">
            {% if type == 'big' %}
                <div class="spares-item__subtitle">
                    {{ subtitle }}
                </div>
            {% endif %}
            <span class="spares-item__price">
                {{ price }}
            </span>
            <div class="spares-item__buy-btn">
                <svg class="spares-item__buy-icon" height="90" viewBox="0 0 90 90" width="90" xmlns="http://www.w3.org/2000/svg"><path d="M15 80c0 5.523 4.476 10 10 10s10-4.477 10-10-4.476-10-10-10-10 4.477-10 10zm50 0c0 5.523 4.476 10 10 10s10-4.477 10-10-4.476-10-10-10-10 4.477-10 10zM32.734 56.362L88.077 40.55C89.135 40.247 90 39.1 90 38V10.5H19.5V2c0-1.1-.9-2-2-2H2C.9 0 0 .9 0 2v8h9.718l9.84 45.284L20.5 60v7.5c0 1.1.9 2 2 2H88c1.1 0 2-.9 2-2V60H33.76c-5.747 0-5.864-2.253-1.025-3.638z"/></svg>
            </div>
        </div>
    </div>
    <div class="spares-item__img">
        {% if img %}
            <img src="{{ img }}" alt="">
        {% else %}
            <svg class="spares-item__icon" xmlns="http://www.w3.org/2000/svg" width="53.93" height="53.57" viewBox="0 0 53.93 53.57"><defs><style>.cls-1{fill:#868e96;}</style></defs><title>case</title><g id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><path class="cls-1" d="M23.25 22.73a7.6 7.6 0 1 0 7.6 7.6 7.6 7.6 0 0 0-7.6-7.6zm0 13a5.43 5.43 0 1 1 5.43-5.43 5.43 5.43 0 0 1-5.43 5.43zm0 0"/><path class="cls-1" d="M23.25 19.32a11 11 0 1 0 11 11 11 11 0 0 0-11-11zm0 19.84a8.83 8.83 0 1 1 8.83-8.83 8.84 8.84 0 0 1-8.83 8.83zm0 0"/><path class="cls-1" d="M52.85 12.87h-2.42a14.21 14.21 0 0 0-.95-2.29l1.71-1.71a1.08 1.08 0 0 0 0-1.53l-4.6-4.6a1.08 1.08 0 0 0-1.53 0l-1.71 1.71a14.29 14.29 0 0 0-2.29-.95V1.08A1.08 1.08 0 0 0 40 0h-6.53a1.08 1.08 0 0 0-1.08 1.08V3.5a14.3 14.3 0 0 0-2.29.95l-1.71-1.71a1.08 1.08 0 0 0-1.53 0l-4.34 4.33H20a1.08 1.08 0 0 0-1 1.08V11c-.55.12-1.1.27-1.63.44L15.89 9a1.08 1.08 0 0 0-1.48-.4l-5.56 3.19a1.08 1.08 0 0 0-.4 1.48l1.44 2.5q-.62.57-1.19 1.23l-2.5-1.48a1.08 1.08 0 0 0-1.48.4l-3.21 5.55a1.09 1.09 0 0 0 .4 1.53l2.49 1.4c-.17.54-.31 1.08-.44 1.63H1.08A1.08 1.08 0 0 0 0 27.11v6.42a1.08 1.08 0 0 0 1.08 1.08H4c.12.55.27 1.1.44 1.63l-2.5 1.44a1.08 1.08 0 0 0-.4 1.48l3.21 5.56a1.08 1.08 0 0 0 1.48.4l2.5-1.44c.38.41.78.81 1.19 1.19l-1.44 2.5a1.09 1.09 0 0 0 .4 1.48l5.56 3.21a1.08 1.08 0 0 0 1.48-.4l1.44-2.5q.8.25 1.63.44v2.88A1.08 1.08 0 0 0 20 53.57h6.42a1.08 1.08 0 0 0 1.08-1.08v-2.88c.55-.12 1.1-.27 1.63-.44l1.44 2.5a1.08 1.08 0 0 0 1.48.4l5.56-3.21a1.08 1.08 0 0 0 .4-1.48l-1.44-2.5q.62-.57 1.19-1.19l2.5 1.44a1.08 1.08 0 0 0 1.48-.4L45 39.17a1.09 1.09 0 0 0-.4-1.48l-2.5-1.44c.17-.54.31-1.08.44-1.63h2.89a1.08 1.08 0 0 0 1.08-1.08v-1.78l.09-.08 4.6-4.6a1.08 1.08 0 0 0 0-1.53l-1.71-1.71a14.23 14.23 0 0 0 .95-2.29h2.42a1.08 1.08 0 0 0 1.08-1.08V14a1.08 1.08 0 0 0-1.08-1.08zm-8.51 19.58h-2.7a1.08 1.08 0 0 0-1.07.9 17.59 17.59 0 0 1-.81 3 1.08 1.08 0 0 0 .48 1.31L42.57 39l-2.12 3.7-2.33-1.35a1.09 1.09 0 0 0-1.37.24 17.74 17.74 0 0 1-2.21 2.21 1.08 1.08 0 0 0-.24 1.37l1.35 2.33L32 49.64l-1.34-2.33a1.08 1.08 0 0 0-1.31-.48 17.5 17.5 0 0 1-3 .81 1.08 1.08 0 0 0-.9 1.07v2.69h-4.32v-2.69a1.08 1.08 0 0 0-.9-1.07 17.51 17.51 0 0 1-3-.81 1.08 1.08 0 0 0-1.31.48l-1.34 2.33-3.68-2.12 1.35-2.33a1.08 1.08 0 0 0-.25-1.38 17.74 17.74 0 0 1-2.24-2.21 1.08 1.08 0 0 0-1.37-.24L6.06 42.7 3.93 39l2.33-1.34a1.08 1.08 0 0 0 .48-1.31 17.51 17.51 0 0 1-.81-3 1.08 1.08 0 0 0-1.07-.9H2.17V28.2h2.69a1.08 1.08 0 0 0 1.07-.9 17.5 17.5 0 0 1 .81-3 1.08 1.08 0 0 0-.48-1.3l-2.33-1.38 2.12-3.68 2.33 1.35A1.08 1.08 0 0 0 9.76 19 17.8 17.8 0 0 1 12 16.83a1.08 1.08 0 0 0 .24-1.37l-1.35-2.33L14.55 11l1.34 2.33a1.08 1.08 0 0 0 1.31.48 17.56 17.56 0 0 1 3-.81 1.08 1.08 0 0 0 .9-1.07V9.24h4.25v2.69a1.08 1.08 0 0 0 .9 1.07 17.55 17.55 0 0 1 3 .81 1.08 1.08 0 0 0 1.31-.48L32 11l3.68 2.12-1.35 2.33a1.08 1.08 0 0 0 .24 1.37A17.77 17.77 0 0 1 36.74 19a1.08 1.08 0 0 0 1.37.24l2.33-1.35 2.12 3.68L40.25 23a1.08 1.08 0 0 0-.48 1.31 17.58 17.58 0 0 1 .81 3 1.08 1.08 0 0 0 1.07.9h2.69zm7.43-13.07h-2.16a1.08 1.08 0 0 0-1.05.82 12.11 12.11 0 0 1-1.35 3.27 1.08 1.08 0 0 0 .16 1.32l1.52 1.52-2.39 2.39v-1.59A1.08 1.08 0 0 0 45.42 26h-2.88c-.12-.55-.27-1.1-.44-1.63L44.6 23a1.09 1.09 0 0 0 .4-1.48l-3.21-5.56a1.08 1.08 0 0 0-1.48-.4L37.8 17q-.57-.62-1.19-1.19l1.44-2.5a1.08 1.08 0 0 0-.4-1.48L32.1 8.58a1.09 1.09 0 0 0-1.48.4l-1.44 2.5q-.8-.25-1.63-.44V8.15a1.08 1.08 0 0 0-1.08-1.08h-.87l2-2 1.52 1.52a1.08 1.08 0 0 0 1.32.16 12.15 12.15 0 0 1 3.27-1.35 1.08 1.08 0 0 0 .82-1.05V2.17h4.34v2.15a1.08 1.08 0 0 0 .82 1.05A12.14 12.14 0 0 1 43 6.73a1.08 1.08 0 0 0 1.32-.16L45.83 5l3.07 3.07-1.53 1.56a1.08 1.08 0 0 0-.16 1.37 12.11 12.11 0 0 1 1.35 3.27 1.08 1.08 0 0 0 1.05.82h2.15zm0 0"/></g></g></svg>
        {% endif %}
    </div>
</a>