.input-wrapper
  &.input-wrapper--dark
    input
      background-color: #495057
      color: #fff
      +phc(#adb5bd)
      &:focus
        background-color: #fff
        color: $text-primary
        border-color: $brand
  &.input-wrapper--grey2
    input
      background-color: #adb5bd
      color: $text-primary
      +phc(#fff)
    &:focus
      background-color: #adb5bd
      color: $text-primary
      border-color: $brand
  &.input-wrapper--grey
    & label
      color: $black2
      font-family: $FiraSans
      font-size: 13px
      font-weight: 400
      line-height: 15px
      letter-spacing: 0
    input
      margin-top: 6px
      background-color: #E9F0F8
      color: $gray07
      +phc(#adb5bd)
      &:focus
        background-color: #fff
        color: $text-primary
        border-color: $brand
  input
    border-radius: 3px
    padding: 0 20px
    height: 45px
    line-height: 45px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: 100%
    transition-property: border, background, color, box-shadow, padding
    transition: all 0.2s linear
    border: 2px solid transparent
    font-family: 'Open Sans', sans-serif
    font-weight: 600
    font-size: 15px
    background-color: #E9F0F8
    &:focus
      outline: 0
      border-color: $brand
      background-color: #fff !important
  textarea
    border-radius: 3px
    width: 100%
    padding: 20px
    border: 2px solid transparent
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    font-family: 'Open Sans', sans-serif
    font-weight: 600
    font-size: 15px
    &:focus
      outline: 0
      border-color: $brand
      background-color: #fff !important

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) 
  .input-wrapper 
    input
      line-height: 35px
    textarea
      overflow: auto

  .input-wrapper input::-ms-clear
    display: none

@supports (-ms-accelerator:true)
  .input-wrapper input
    line-height: 35px

  .input-wrapper input::-ms-clear
    display: none

