<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pageTitle %}{% endblock %}</title>

    <!-- Stylesheets -->
    {% include "stylesheets.twig" %}
</head>
<body>
{% include "../../components/slide-menu/slide-menu.twig" %}
<span class="slide-menu__close">
        <img src="images/close.png" alt="">
    </span>
<div class="site-wrapper" id="site-wrapper">

    <div class="" id="site-wrapper-overlay"></div>
    <div class="" id="site-wrapper-overlay2"></div>
    <!-- Header block -->
    {% include "header.twig" %}
    <!-- Header block end -->

    <!-- Block content -->
    {% block content %}{% endblock %}
    <!-- Block content end -->

    <!-- Footer block -->
    {% include "footer.twig" %}
    <!-- Footer block end -->

    <!-- Scripts -->

</div>
{% include "../../components/modal/modal-callback.twig" %}
{% include "../../components/modal/modal-callback-success.twig" %}
{% include "../../components/modal/modal-to.twig" %}
{% include "scripts.twig" %}
</body>
</html>