<footer class="page-footer">
    {% include "../../components/callback/callback.twig" %}
    <div class="page-footer__contain">
        <div class="container">
            <div class="page-footer__inner">
                <div class="page-footer__socials">
                    <a href="#" class="page-footer__socials-item">
                        <svg class="icon-vk page-footer__socials-item-img" id="vk" viewBox="0 0 30 17.12" width="100%" height="100%"><title>icon-vk</title><g id="Слой_2" data-name="Слой 2"><g id="Слой_1-2" data-name="Слой 1"><path class="cls-1" d="M14.68,17h1.79a1.52,1.52,0,0,0,.82-.36,1.31,1.31,0,0,0,.25-.79s0-2.41,1.08-2.76,2.51,2.32,4,3.35a2.84,2.84,0,0,0,2,.61l4-.06s2.09-.13,1.1-1.78a13.33,13.33,0,0,0-3-3.45c-2.51-2.33-2.18-2,.85-6,1.84-2.46,2.58-4,2.35-4.6S28.38.79,28.38.79l-4.51,0a1,1,0,0,0-.58.1,1.25,1.25,0,0,0-.4.48,25.84,25.84,0,0,1-1.67,3.52c-2,3.41-2.81,3.59-3.14,3.38-.76-.49-.57-2-.57-3,0-3.31.5-4.68-1-5A7.77,7.77,0,0,0,14.42,0a9.69,9.69,0,0,0-3.74.38c-.51.25-.91.81-.67.84a2,2,0,0,1,1.33.67,4.33,4.33,0,0,1,.45,2s.26,3.89-.62,4.37c-.61.33-1.44-.35-3.24-3.44A28.33,28.33,0,0,1,6.33,1.54,1.35,1.35,0,0,0,6,1,1.87,1.87,0,0,0,5.26.75L1,.79s-.64,0-.88.3,0,.76,0,.76S3.44,9.7,7.24,13.66A10.29,10.29,0,0,0,14.68,17Z"></path></g></g></svg>
                        Мы ВКонтакте
                    </a>
                    <a href="#" class="page-footer__socials-item">
                        <svg class="icon-inst page-footer__socials-item-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><g transform="translate(-3 -3)"><circle fill="currentColor" cx="15" cy="15" r="4"/><path d="M20 3H10c-3.86 0-7 3.14-7 7v10c0 3.86 3.14 7 7 7h10c3.86 0 7-3.14 7-7V10c0-3.86-3.14-7-7-7zm-5 18c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm7-12c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z"/></g></svg>
                        Мы в Instagram
                    </a>
                </div>
                <div class="page-footer__address-copyright">
                    <div class="page-footer__address">
                        <p class="page-footer__address-txt">Москва, ул. Рябиновая, 34а</p>
                        <a href="tel:+74955077108" class="page-footer__link page-footer__phone">+7 (495) 507-71-08</a>
                        <a href="mailto:info@lrstyle.ru" class="page-footer__link page-footer__mail">info@lrstyle.ru</a>
                    </div>
                    <div class="page-footer__copyright">
                        <p>© 2007–2017, Land Rover Style</p>
                        <p>Обслуживание, диагностика, ремонт всех моделей Ленд Ровер и Рендж Ровер</p>
                    </div>
                </div>
                <a href="tel:+74955077108" class="btn btn--outline btn--fullwidth page-footer__phone-btn xlg-hidden">
                    +7 (495) 507-71-08</a>
            </div>
        </div>
    </div>
</footer>