<header class="page-header" id="page-header">
    {% include "../../components/searchbar/searchbar.twig" %}
    {% include "../../components/logo-panel/logo-panel.twig" %}
    {% include "../../components/header-navbar/header-navbar.twig" %}
    {% include "../../components/mobile-navbar/mobile-navbar.twig" %}
    <div id="page-header-overlay"></div>
</header>