<!--build:js js/vendor.js-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="bower_components/uikit/js/core/core.js"></script>
<script src="bower_components/uikit/js/core/dropdown.min.js"></script>
<script src="bower_components/uikit/js/core/nav.js"></script>
<script src="bower_components/uikit/js/core/modal.min.js"></script>
<script src="bower_components/uikit/js/components/accordion.min.js"></script>
<script src="bower_components/slideout.js/dist/slideout.js"></script>
<script src="bower_components/velocity/velocity.min.js"></script>
<script src="bower_components/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="bower_components/matchHeight/dist/jquery.matchHeight-min.js"></script>
<script src="bower_components/sticky-kit/jquery.sticky-kit.min.js"></script>
<script src="../node_modules/headroom.js/dist/headroom.min.js"></script>
<!--bower:js-->
<!--endbower-->
<!--endbuild-->

<script>
    var modelChecker = document.getElementById("model-checker-list");
    if (modelChecker) {
        var models = {
            0 : {value: '89', label: 'Discovery 1', engines: {
                0 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 1-1', years: {
                    0: {value: '0', label: 'Discovery 1-1 1'},
                    1: {value: '12345', label: 'Discovery 1-1 2'},
                    2: {value: '47657', label: 'Discovery 1-1 3'},
                    3: {value: '3', label: 'Discovery 1-1 4'},
                }},
                1 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 1-2', years: {
                    0: {value: '0', label: 'Discovery 1-2 1'},
                    1: {value: '65756', label: 'Discovery 1-2 2'},
                    2: {value: '2', label: 'Discovery 1-2 3'},
                    3: {value: '3', label: 'Discovery 1-2 4'},
                }},
            }},
            1 : {value: '12312', label: 'Discovery 2', engines: {
                0 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 2-1', years: {
                    0: {value: '0', label: 'Discovery 2-1 1'},
                    1: {value: '1', label: 'Discovery 2-1 2'},
                    2: {value: '2', label: 'Discovery 2-1 3'},
                    3: {value: '3', label: 'Discovery 2-1 4'},
                }},
                1 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 2-2', years: {
                    0: {value: '0', label: 'Discovery 2-2 1'},
                    1: {value: '1', label: 'Discovery 2-2 2'},
                    2: {value: '2', label: 'Discovery 2-2 3'},
                    3: {value: '3', label: 'Discovery 2-2 4'},
                }},
            }},
            2 : {value: '3', label: 'Discovery 3', engines: {
                0 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 3-1', years: {
                    0: {value: '01', label: 'Discovery 3-1 1'},
                    1: {value: '1', label: 'Discovery 3-1 2'},
                    2: {value: '1', label: 'Discovery 3-1 3'},
                    3: {value: '1', label: 'Discovery 3-1 4'},
                }},
                1 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 3-2', years: {
                    0: {value: '0', label: 'Discovery 3-2 1'},
                    1: {value: '1', label: 'Discovery 3-2 2'},
                    2: {value: '1', label: 'Discovery 3-2 3'},
                    3: {value: '1', label: 'Discovery 3-2 4'},
                }},
            }},
            3 : {value: '4', label: 'Discovery 3', engines: {
                0 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 3-1', years: {
                    0: {value: '0', label: 'Discovery 3-1 1'},
                    1: {value: '1', label: 'Discovery 3-1 2'},
                    2: {value: '1', label: 'Discovery 3-1 3'},
                    3: {value: '1', label: 'Discovery 3-1 4'},
                }},
                1 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 3-2', years: {
                    0: {value: '0', label: 'Discovery 3-2 1'},
                    1: {value: '1', label: 'Discovery 3-2 2'},
                    2: {value: '1', label: 'Discovery 3-2 3'},
                    3: {value: '1', label: 'Discovery 3-2 4'},
                }},
            }},
            4 : {value: '1313', label: 'Discovery 3', engines: {
                0 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 3-1', years: {
                    0: {value: '0', label: 'Discovery 3-1 1'},
                    1: {value: '1', label: 'Discovery 3-1 2'},
                    2: {value: '1', label: 'Discovery 3-1 3'},
                    3: {value: '1', label: 'Discovery 3-1 4'},
                }},
                1 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 3-2', years: {
                    0: {value: '0', label: 'Discovery 3-2 1'},
                    1: {value: '1', label: 'Discovery 3-2 2'},
                    2: {value: '1', label: 'Discovery 3-2 3'},
                    3: {value: '1', label: 'Discovery 3-2 4'},
                }},
            }},
            5 : {value: '1313', label: 'Discovery 3', engines: {
                0 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 3-1', years: {
                    0: {value: '0', label: 'Discovery 3-1 1'},
                    1: {value: '1', label: 'Discovery 3-1 2'},
                    2: {value: '1', label: 'Discovery 3-1 3'},
                    3: {value: '1', label: 'Discovery 3-1 4'},
                }},
                1 : {value: '1', label: '2.7L V6 24V DOHC EFI T/C DSL 3-2', years: {
                    0: {value: '0', label: 'Discovery 3-2 1'},
                    1: {value: '1', label: 'Discovery 3-2 2'},
                    2: {value: '1', label: 'Discovery 3-2 3'},
                    3: {value: '1', label: 'Discovery 3-2 4'},
                }},
            }}
        };
    }
</script>
<script  src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script  src="js/YaMap.js"></script>
<!--build:js js/common.js-->
<script src="js/input.mask.js"></script>
<script src="js/es5/app.js"></script>
<script src="js/checkout.js"></script>
<script src="js/form.js"></script>
<!--endbuild-->
