<!--build:css css/vendor.css-->
<link rel="stylesheet" href="bower_components/reset-css/reset.css">
<link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="bower_components/slideout.js/index.css">
<link rel="stylesheet" href="bower_components/fancybox/dist/jquery.fancybox.min.css">
<link rel="stylesheet" href="bower_components/dropkick/dist/dropkick.css">

<!--bower:css-->
<!--endbower-->
<!--endbuild-->

<!--build:css css/common.css-->
<link rel="stylesheet" href="css/fonts.css">
<link rel="stylesheet" href="css/app.css">

<!--endbuild-->
