.promo-preoffer {
    display: inline-block;
    box-sizing: border-box;
    
    text-decoration: none;
    
    background: white;
    border: 1px solid $promo-shadow;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
    
    &:hover .promo-preoffer__title { 
        color: #2B8A3E;
    }
}
.promo-preoffer__image {
    @include imgauto();
    margin-bottom: 10px;
}
.promo-preoffer__title {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
    color: black;
    font-family: $FiraSans;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
.promo-preoffer__description {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    
    color: $promo-description;
    font-family: $FiraSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media ($desktop-s) {
    .promo-preoffer {
        border: none;
        box-shadow: 0 12px 14px 0 rgba(0,0,0,0.10);
    }
    .promo-preoffer__image {
        margin-bottom: 20px;
    }
    .promo-preoffer__title {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        
        color: $promo-title;
        font-size: 20px;
    }
    .promo-preoffer__description {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        
        font-size: 16px;
    }
}
