{# 
    * promo-offer.pug
    * Карточка спецпредложений
    *
    * @block {promo-preoffer}    начало разметки блока
    * @variable {image}       изображение
    * @variable {title}       заголовок
    * @variable {description} описание
    * @variable {classes}     список примесей-классов
#} 
<a href="promo-detail.html" class="promo-preoffer {{ classes }}">
    <img class="promo-preoffer__image" src={{ image }}>
    <h3 class="promo-preoffer__title">{{ title }}</h3>
    <p class="promo-preoffer__description">{{ description }}</p>
</a>