.numerals
  display: flex
  flex-wrap: wrap
  margin-top: -20px
  margin-left: -35px

.numerals-item
  padding-top: 20px
  display: flex
  flex-direction: column
  align-items: center
  width: 25%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  +respond-to(lg)
    width: 50%
    text-align: center
  +respond-to(md)
    padding-left: 35px
    text-align: left
    align-items: flex-start

.numerals-item__sub
  +respond-to(md)
    font-size: 14px

.numerals-item__num
  font-family: 'Fira Sans', sans-serif
  font-weight: 800
  color: $brand
  font-size: 48px
  +respond-to(md)
    font-size: 35px

